[2018-05-09 20:54] jonathanschneider opened #4 "Additional bridges don't respond after restart"
I created three bridges for the different device types I am using. Only after changing the PIN code for the second and the third bridge to something unique was I able to find them in the Home app. However, after restarting Node-RED, these two bridges don't respond anymore. Only the first bridge I created still works after restarting Node-RED.

[2018-05-11 07:27] #4 closed

[2018-05-11 07:29] oliverrahner commented on #4
Hi Jonathan,

confirmed and fixed in 0.3.5!

[2018-05-11 14:46] triDcontrols opened #5 ""Error: Cannot add a bridged Accessory with the same UUID"
Hi, Awesome work. Greatly appreciated, Thank you, it has made our lives easier. My family uses it daily, works amazing.

 I do however run into this issue often.

On Initial drag of the homekit node from the pallete to the flow, I setup the name and the type of service it is, and I deploy the flow. Then I want to change the name of the node for clarity, and I get this error

`"Error: Cannot add a

[2018-05-11 18:04] jonathanschneider commented on #5
It's no solution but instead of deleting the node, restarting Node-RED works, too.

[2018-05-11 18:32] triDcontrols commented on #5
@jonathanschneider Thanks, I will try that when I get home.
Can you share your homekit flow? I'm trying to get a grasp on homekit and Java scripting in node-red.

[2018-05-11 19:56] jonathanschneider commented on #4
I can confirm. Thank you!

[2018-05-12 00:08] oliverrahner commented on #5
@triDcontrols Thanks for the appreciation!
I thought I had an idea on where this issue might come from (see https://github.com/KhaosT/HAP-NodeJS/issues/579) but unfortunately, I can't seem to reproduce this issue. When I try to rename a bridge, it works. Renaming a service doesn't seem to change the name until a restart, but at least I get no weird error messages.
* Do you encounter this issue alw

[2018-05-12 05:47] jonathanschneider commented on #5
@oliverrahner I encounter the same issue. It occurs every time when renaming a service (bridged accessory) or changing the type of the service. The error message comes straight from the homekit-service node.

[2018-05-12 05:51] jonathanschneider commented on #5
I followed @oliverrahner's example and created a gist of a part of my [flow](https://gist.github.com/jonathanschneider/a30313e28ff5cff0f509fd48063b0cf8.js) as well. Probably a better idea than dumping the code here.

[2018-05-12 09:47] oliverrahner commented on #5
I tried again to reproduce this, but to no avail... Just to be sure, the error should appear during what I'm doing here, right?

![alt text](https://github.com/oliverrahner/markdown/raw/master/rename.gif)

[2018-05-12 11:58] jonathanschneider commented on #5
Exactly. Try deploying only the modified nodes instead of doing a full deploy.

[2018-05-12 14:29] oliverrahner commented on #5
Even deploying only modified nodes yields nothing...
Can one of you two get a DEBUG log?
Just stop node-red, and then start using the command line
`DEBUG=Accessory,HAPServer,EventedHTTPServer node-red`

[2018-05-13 20:28] bolfox opened #7 "Update status"
Tnx to have maked a new release of this fabolus project.

I'm using it with knx automation.

To send a payload to knx i have used msg.hap.newValue, the problem is when i send the command from physical button the homebridge, the icon don't update.

I have triend different payload without success.

Any idea?

Tnx

[2018-05-13 21:29] leRenart opened #8 "Can see the bridges on iPhone but can't add any service"
Hi, and thank you for this beautiful project!

I'm into this issue where node-red works fine and I can add Bridges/Services but once selected in the HomeKit I've got an error `Can't add the accessory` (not a 1 to 1 translation as the error is in French, sorry)...

![img_816e7238e7f2-1](https://user-images.githubusercontent.com/1085151/39971920-0aff4934-5705-11e8-9ec2-84a1c8aec5f6.jpeg)

![img_a22b

[2018-05-15 21:29] bolfox commented on #7
Ok found, simply send a payload with {"On":1} or {"On":0}

[2018-05-15 21:29] #7 closed

[2018-05-15 21:34] bolfox opened #9 "Scene not turning off all light"
I have made some scene with 9-10 light, when i launch, it tun off only two lights, not all...

It work on knx bus, on ets monitor i can see only two command from nodered

[2018-05-15 22:49] leRenart commented on #8
Ok, fixed. Just for information, I had to reset the whole home configuration as explained [here](https://www.howtogeek.com/230906/how-to-reset-your-homekit-devices-and-configuration/)

thanks for your hints!

[2018-05-15 22:49] #8 closed

[2018-05-16 05:15] idumzaes opened #10 "Color Picker"
I have been unable to get a color picker within the Home app.
I was able to successfully use `{ "Brightness":## }` (where ## is 0-100) to get the brightness control.
Does anyone know have a solution?

[2018-05-16 05:51] bolfox commented on #9
`[{"id":"89cc6cc0.185a78","type":"tab","label":"Homekit","disabled":false,"info":""},{"id":"c25f596.e3ac4a8","type":"debug","z":"89cc6cc0.185a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"hap.newValue","x":930,"y":40,"wires":[]},{"id":"8f819ce4.84643","type":"homekit-service","z":"89cc6cc0.185a78","bridge":"9c8b6083.39aee","name":"Bianche","serviceName"

[2018-05-16 09:35] oliverrahner commented on #9
One basic information:
You should probably filter for messages which originate in Homekit, so that input messages don't get passed through to KNX again which could cause loops.
Example code:
[code]
You can try 2 things to debug further:

- try getting a DEBUG log using the following command line:
`DEBUG=Accessory,HAPServer,EventedHTTPServer node-red`

- add a DEBUG node that outputs the messages o

[2018-05-16 10:41] #5 closed

[2018-05-16 10:42] oliverrahner commented on #5
Should be fixed in 0.3.6

[2018-05-17 08:32] bdormael opened #11 "SecuritySystem working fine nodered to homekit but not homekit to nodered"
Hi,

I've setup a SecuritySystem service in Node-Red to simulate Arm/Disarm in the home app of iOS11.

Changing states from Node-Red to Homekit works fine but when changing the state inside the iOS11 Home app from eg. Off to Arm Away, it just keeps spinning in the home-app and nothing changes in Node-Red.

Below the flow that I'm using, am I missing some paramters or is there an issue ?
`[{"id":"2

[2018-05-17 13:15] oliverrahner commented on #10
Hi,

the original author of node-red-contrib-homekit was aware of this issue.
There is only a workaround currently, please see mschm/node-red-contrib-homekit#3 for more information.

I'll probably look into whether I can implement this into the configuration dialog in the future.

[2018-05-17 19:33] bolfox commented on #9
Tnx for your support, seems to be a knx ip problem, with a tpuart interface it works...

[2018-05-17 19:33] #9 closed

[2018-05-18 06:53] oliverrahner commented on #11
I'd say it looks alright.
Depending on what kind of physical system you want to control you shouldn't automatically copy TargetState to CurrentState, but check in what state your system really is and report that as CurrentState.

[2018-05-18 07:15] oliverrahner opened #12 "some changes are only applied when restarting node-red, not when re-deploying"
Those issues are related to KhaosT/HAP-NodeJS#580.

I don't know of a clean way to solve this, yet.

Things not working are:

* name changes for service nodes are not always published
* removing service nodes does not remove them from the Home app
* state changes "into" the homekit node are not sent out or received by the Home app anymore

All of those issues are always fixed after restarting node

[2018-05-18 21:47] RaymondMouthaan opened #13 "Docker Image (was: Thanks!)"
@oliverrahner, I think it's great you continue the work of mschm!

Thanks 👍

Currently, I am working on Docker Images for this :)

Ray

[2018-05-20 19:36] idumzaes commented on #10
Nice!
This fork is amazing! I placed `{ "Brightness":## }, { "Hue":## }` in the characteristics field and got exactly what I was looking for!
Thank you @oliverrahner for your hard work!!!!

[2018-05-20 19:40] oliverrahner commented on #10
That’s interesting, thanks for sharing.
I looked at all the other forks when I started my own and included what seemed useful even though I didn’t understand fully what’s going on.
So that should also make it easier to understand what’s necessary to support this in the GUI.

[2018-05-20 19:44] oliverrahner commented on #13
Appreciated :)

Looking forward to see your work, please do share it if you need any testing, feedback etc.

[2018-05-20 19:50] RaymondMouthaan commented on #13
As we speak I am fine tuning the build, but the test images do work for both amd64 and arm32v7 :-)

This is the GitHub repo : https://github.com/RaymondMouthaan/node-red-homekit-docker
and this is docker hub repo : https://hub.docker.com/r/raymondmm/node-red-homekit/

If the build doesn't fail a new set of images should be pushed within 30 minutes .. Feel free to test them and let me know your fee

[2018-05-21 20:10] #11 closed

[2018-05-23 20:37] artua opened #14 "accessory becomes unavailable after re-deployment"
subj :(

[2018-05-24 07:33] oliverrahner commented on #14
Hi,

can you post a [debug log](https://github.com/oliverrahner/node-red-contrib-homekit-bridged#how-can-i-generate-debug-logs)?
There are some known issues regarding re-deployment (see #12), but this shouldn't be one of them.

[2018-05-24 08:49] artua commented on #14
sure, will do.

[2018-05-25 06:37] leRenart opened #15 "Help with Camera Stream"
Hi, I'm trying to add a camera node but can't get any info about it.

`cameraRTPStreeamManagement` is the node, here the characteristics:

[code]

just pointing to some documentation/examples could be very helpful

[2018-05-25 07:25] oliverrahner opened #16 "[FEATURE] Camera Service"
Based on #15, try to think of a generic way to add camera functionality to this project.

Todos would be:
* add a new node type, because Cameras can't (or shouldn't) be hosted behind bridged accessories
* find out which abstract functionality has to be provided by the node

[2018-05-25 07:26] oliverrahner commented on #15
Just read through some documentation ([IP-Camera](https://github.com/KhaosT/HAP-NodeJS/wiki/IP-Camera) and [Camera.js](https://github.com/KhaosT/HAP-NodeJS/blob/master/lib/Camera.js)) quickly and it seems that cameras aren't that easy to handle.
For starters, the whole concept of these nodes is to handle everything as bridged accesories. From the first link:

Also, I don't know if it's easily poss

[2018-05-25 08:06] leRenart commented on #15
thanks,  let me know if I can help

[2018-05-25 08:06] #15 closed

[2018-05-26 13:27] RaymondMouthaan opened #17 "[Question] Which service for air pressure"
Hi Olivier,

Which Service handles are pressure? I have a BME280 and BME680 sensor to measure humidity, temperature, pressure and gas.

Humidity and temperature are know, but which service does work with pressure measured in hPa?

Ray

[2018-05-31 01:52] ianleeder commented on #14
I'm seeing this issue to.  This is my scenario:

1. Create a (garage) door accessory within my bridge
2. Create inject nodes to test opening/open/closing/closed, and link them to the door
3. Deploy

![Test injects](https://user-images.githubusercontent.com/8241300/40756661-0c8cfcc6-64c8-11e8-9977-5491b01b49d0.png)

So far, this all works great.  Homekit on my phone reflects the state correctly whe

[2018-05-31 19:34] oliverrahner commented on #13
Looks good, thanks!
Spent an hour or two getting it to work under Windows, but apparently, "host" networking doesn't work quite as expected when being used to Linux docker... didn't manage to set it up.
Runs fine on my RPi and NAS though.

[2018-05-31 19:38] #13 closed

[2018-05-31 19:41] RaymondMouthaan commented on #13
Good to hear that you got it finally to work on your raspberry pi and nas. 👍🏼

I am not a windows user so I would know if the image would work 😬.

My github monitors yours and automatically builds new docker images when you release a new version of the module, to keep up to date 😇.

[2018-05-31 19:43] oliverrahner commented on #13
I'd suggest rather monitoring the NPM registry, otherwise there'll probably be lots of unnecessary rebuilds...

[2018-05-31 19:55] oliverrahner commented on #17
According to various sources, there is no pressure charcteristic yet in the official HomeKit specs.
There have been some people emulating elgato Eve Weather device. The custom characteristics can then only be viewed from the elgato Eve app, not from the Home app.
It would probably be possible to add the Eve Weather device as a selection in the homekit-service node, mostly because there are some [g

[2018-05-31 20:22] oliverrahner commented on #14
After setting up a fresh install and experimenting a bit I
**can not** confirm the unavailability issue
**can** confirm the issue Ian metinoned
@ianleeder I duplicated your example, but noticed that your payload object doens't fit for GarageDoorOpener. I used this:
[code]
But nevertheless, the symptoms I get are the same.
Unfortunately, I think the base reason is the same as mentioned in #12, I'll

[2018-05-31 21:19] RaymondMouthaan commented on #17
Thanks for looking into it, since I don't want several apps for home automation I leave it as is. Maybe later pressure will be added to the Homekit specs.

[2018-05-31 21:19] #17 closed

[2018-05-31 22:46] ianleeder commented on #14
Yep, mine is definitely more applicable to #12 than this one.  I didn't spot it there.

[2018-06-20 19:11] martinschki opened #19 "not working..."
Hello,
can't get this to work...
is there anything else to install besides
sudo apt-get install libavahi-compat-libdnssd-dev
and the actual node (via palette manager)?

[2018-06-22 19:11] martinschki commented on #19
after some more trying I did a complete fresh setup of node red
I just have one flow with that one node installed. I did install the prerequisites
 and it was working once yesterday.
Since this morning, without changing a thing, its not working again and I can't get it to work

could you please let me know where I can look for log entries??

[2018-06-23 15:22] oliverrahner commented on #19
Does restarting node-red solve you issue (temporarily)? If yes, you probably have the problem described under #12.
Please look [https://github.com/oliverrahner/node-red-contrib-homekit-bridged#how-can-i-generate-debug-logs](here) to find out about debug logging.

[2018-06-23 15:28] #14 closed

[2018-06-23 19:32] martinschki commented on #19
hhmmm....
i have an interesting phenomenon...
I'm using Ubiquiti access points, different ones...and when ma iPhone is connected to the older 2.4GHz UAP it doesnt work, when its connected to the newer UAP-AC-LITE it works...

anyone any ideas? I will investigate more...

[2018-06-28 13:35] schford commented on #12
I too have this issue of state change into the homekit node - which is solved by restarting node red.

[2018-07-06 13:27] Kenny-JTK opened #20 "Switch feedback to app not working"
Hi,

I'm trying to build a flow to act as a simple pushbutton but I cant seem to get this to work.
the idea i had was to just take a switch and reset it back to off after 1 second.
passing back {"On":false} seems to get registered in the node red switch-instance but this is not reflected in the HomeKit app. Any idea what i might be doing wrong?

Is there perhaps an other method to get this simple

[2018-07-07 12:35] gorootde opened #21 "Luminance Sensor Accessory not working"
The Luminance Sensor type does not work. It is displayed as not active / not responding in the home app.
Everything else works, so I assume it is only related to this accessory type. I am using the latest available version 0.3.6.

[2018-07-31 12:06] ipa64 commented on #12
Hi nothing new about this annoying bug ?

[2018-07-31 17:42] nikolaykasyanov opened #22 "Crash upon removing bridge from Home"
Hi, thanks for the fork!

I'm experiencing a crash upon removing bridges from Home, here's the stacktrace:

[code]

[2018-08-12 10:52] nikolaykasyanov commented on #22
Here are some observations:
* it's not 100% reproducible
* happens inside Docker and without Docker

[2018-08-14 01:14] crxporter opened #23 "Battery level?"
Hello, this is a great improvement over the previous version of this plugin (having to add just one bridge instead of 45 individual accessories in my case) but I'm curious on how to implement the battery level service.

Using this flow, I am able to set up a "battery level" item but it is not linked to any item in homekit, it just shows as its own "battery level" item without any switch/motion det

[2018-08-18 23:43] ilikedinos commented on #20
I'm noticing a similar behavior with the light bulb service. I've noticed that immediately after deploying and adding the bridge and accessory the input behaves as expected. However if I make changes to the flow and deploy again there seems to be an issue unless I re add the bridge and accessory every time.

[2018-08-19 16:10] cburgdorfer opened #24 "Add native HomeKit accessory control in node-red"
Hi,

Not really an issue, but more like a question: I have a electrical plug that I control via HomeKit (Elgato Eve), is it possible to also control it via node-red? If so, how would you suggest approaching this?

Thanks,
Christoph

[2018-08-21 13:27] lespatots commented on #23
I too would like data from Homekit to use in node-red. I think you would do this with an automation within Homekit where you basically copy the data to an appropriate  device set up using this node. BUT, the device you need to create would need to be something that accepts a level such as a dimmable lamp. I can't really try this as I don't have any type of home hub yet  and while some automations

[2018-08-21 13:34] lespatots commented on #24
I want to do something similar, get data from Homekit to use in Node-red. My guess is that you need an automation in Homekit. In your case you would need a status input or sensor that can be read by Homekit and to cause an action through an automation. I can't test this as I don't have a home hub and while some automations work they aren't possibly reliable without the home hub and not a good base

[2018-08-21 17:29] nikolaykasyanov commented on #23
It would be great to be able to have multiple services in a node, indeed.

[2018-08-22 23:33] crxporter commented on #23
The original plugin worked like this. My use case would be to report a switch/plug/any item as “not found” when the item goes down (mqtt outlet unplugged for instance). This would allow me to see errors through homekit instead of heading to node red or the mqtt server.

[2018-09-06 10:41] jiri-jirus commented on #20
well i have this problem too, I had to switch to original node-red-contrib-homekit, because yours does not update lightbulb status back to iPhone.

[2018-09-11 06:02] hcuk94 opened #25 "How to add additional devices via bridge?"
I set up my original bridge with 2 WeMo devices which have since worked perfectly in HomeKit.
I added a third HK device in Node Red, but 24 hours later it has not appeared as an additional device in my home, nor when I open the bridge properties in the Home app.
How do I get iOS to 'resync' the devices available from the bridge?

[2018-09-26 04:53] TheOriginalMrWolf opened #27 "Feature Request: support power meters"
Hi there,

Thought I'd ask - just in case :)

Are there any plans to implement services/characteristics to support power meters (eg: https://www.apple.com/au/shop/product/HKEH2X/A/eve-energy)?

Thanks!!

[2018-09-26 19:16] bolfox opened #28 "Updating..."
Sometimes when i open the Home app, all device are in "updating" status, like freezed for abount 30-50 sec... or tell that no one accessory is responding, and after one second everithing works again...

Ideas?

Rpi and ip knx interface

Tnx

[2018-09-28 15:30] MPopti0n opened #29 "CurrentFanState to get all characteristics state"
Great, great work! (Many thanks!)

`Windows 10`, `node-red v0.19.4`, `node-red-contrib-homekit-bridged 0.3.6`

I'm trying to add a fan that have multiple speed, a swig mode and a timer via homekit node + harmony node.
Like many fan/clim there's no unique code send by the remote for swing on/off, speed.... etc. Every time the remote send all the parameters at once.

- My problem is that I need the

[2018-10-22 18:49] davispw commented on #28
How many devices do you have?  I’ve split my many devices (over 60) across multiple bridges to help with this and a couple other issues of having too-large configurations.

[2018-10-25 19:44] radokristof opened #30 "Air Quality Sensor "TypeError: Cannot read property 'setValue' of undefined""
Dear developers!

Where should I specify this property? Tried inside the payload, outside the payload, nothing helps.... Also what this value should be?

[2018-10-25 21:08] radokristof commented on #30
With PM10 it works. With PM2.5 not... So it might be the problem with the dot in the property. Can this be fixed somehow?

[2018-10-25 22:38] #30 closed

[2018-10-30 07:54] bolfox commented on #28
I have changed from an ip gateway to a serial knx connection and seems that the problem is solved...

Inviato da iPhone

[2018-11-16 05:08] TheOriginalMrWolf commented on #24
It's simple.  Create a switch in NR which you can see in Homekit.  You should be able to turn it on or off either via HK or NR.

In Homekit create two automations -- "An Accessory is Controlled" -- one for "turns on" and one for "turns off", and then have your electrical plug (or whatever) mirror the state.

A bit of a pain in the arse, and slightly laggy sometimes, but it works :)

[2018-11-16 10:48] TheOriginalMrWolf opened #31 "Anyone know how to set up a three-state switch?"
Hi,

Just on an off-chance -- does anyone know how to set up a three-state switch, eg: on / off / auto ??

Thanks!!

[2018-11-24 07:45] flic opened #32 "Metadata on device"
I'm using the plugin to bridge Z-Wave devices to HomeKit. It would be very useful to be able to add some metadata to the HomeKit service, enabling me to discern the corresponding Z-Wave device. Preferable something getting added to hap.context or hap.characteristics on output. Another possibility could be to maybe add the manufacturer, serial number or model data to the output, as the information

[2018-12-10 02:36] YinHangCode commented on #12
I also have the same problem.

[2018-12-27 23:00] ttww commented on #22
Just for your information: Got the same problem after removing a bridge.
Restarting node-red "used" as a work around.

[2018-12-30 12:48] Hirschenberger-S commented on #23
Hi.
I'm also looking for a similar possibility.
Tried to use the Properties StatusActive and StatusFault (wich are valid for Temperature and Humidity Sensors) to show the device as offline in the homekit app. But until now i were not able to show the absence of bridged devices in Home App.

Wanted to use the last will / testament in Mqtt to trigger the offline-event in node-red.

[2018-12-30 12:51] Hirschenberger-S commented on #12
Same here

[2019-01-12 12:57] DaPeace opened #33 "Feedback of Garagedoor not working"
I want to set the status of the garagedoor by 2 switches at the garagedoor.
But i cant manage to get the feedback to the garagedoor-homekit-accessory.
When i send {"CurrentDoorState":true} or {"CurrentDoorState":false} the accessory is showing that it got the state but is not updating the button in the home-app. I have no clue how to solve that.

[2019-01-12 17:08] oliverrahner commented on #33
Habe you restarted nodered to make sure it’s not related to #12?

If yes, do you have the spinning symbol in your garage door item in the Home App?

[2019-01-18 07:07] Uweklaus commented on #25
Same question here

[2019-01-20 18:47] martincollar commented on #22
same here, when i remove bridge from home node-red crashes

`20 Jan 19:44:06 - TypeError: Cannot read property 'updateAdvertisement' of undefined
    at Bridge.Accessory._handleUnpair (/Users/kolar/.node-red/node_modules/@plasma2450/hap-nodejs/lib/Accessory.js:699:19)
    at emitTwo (events.js:125:13)
    at HAPServer.emit (events.js:213:7)
    at HAPServer._handlePairings (/Users/kolar/.node-red/

[2019-01-20 18:48] martincollar commented on #25
Same here, that's why i tried to remove bridge (crashes node-red server) and add it again..

[2019-01-21 05:12] Uweklaus commented on #25
Several Problems beside adding. So i changed to @boneskull/node-red-contrib-homekit.
Removing the nodes from Node red was Not possible.

[2019-01-22 14:12] dezral opened #34 "Characteristic Properties and thermostat"
im trying to disable the "cooling feature" and as  far as i know i can do that under "Characteristic Properties"

Found this:
https://github.com/oddwires/alarm-system/blob/8af531d394e517fce5af8f6b505bf828a1a0a240/ConfigFiles/Generic_Radiator.js

seems that i can make a "setProps" "validValues: [0, 1, 3]" (search the URL for Service.Thermostat and setProps).. so i would not see cooling in homekit..

[2019-01-25 16:45] oliverrahner commented on #12
As KhaosT/HAP-NodeJS#580 is now resolved, I'll start working on a possible fix when I have some spare time in the next days (or maybe weeks :-/)

[2019-02-07 14:12] NorthernMan54 commented on #24
Is there alot of interest in this feature?  Am thinking of creating this based on my homebridge-alexa plugin.

[2019-02-09 22:47] martincollar commented on #22
im using homekit2mqtt and integrating it with node-red via mqtt, this node red plugin looks broken :/

[2019-02-11 18:23] S474N commented on #25
I deleted homekit-bridge from HomeKit and I cannot add it back :(

[2019-02-18 22:33] NorthernMan54 opened #36 "Enable insecure mode for homebridge-alexa"
Leaving this here as a placeholder.  If you need to enable "Insecure Mode" for homebridge-alexa, please add , true to line 55 of HomeKit.js

[code]

[2019-02-21 20:00] Shaquu commented on #36
@NorthernMan54 thanks for great hint.
I addressed it in my fork:
https://github.com/Shaquu/node-red-contrib-homekit-enhanced

[2019-02-21 20:09] Shaquu commented on #33
I think I have ultimate solution for such problems.

1. Remove bridge from Home app
2. Go to Bridge edit window in NodeRed
3. Click delete
4. Create new Bridge and assign it to your Accessories
5. Add bridge in Home app

[2019-02-21 23:14] Shaquu commented on #36
Allow Insecure Request added to master 0.4.0.
Closing Issue.

[2019-02-21 23:14] #36 closed

[2019-02-21 23:46] Shaquu commented on #31
Actually we don't have a actual three state switch.

You could use Lightbulb Accessory for that.
I recorded proof of concept for you [here](https://giant.gfycat.com/DefiantCleanBarnowl.mp4).
On the recording I have made 3 things.
Click to Switch ON.
Click to Switch OFF.
Swipe UP (there were no adjusting to 50%, just swipe UP and it goes to 50% itself)

You have at least 3 states here:

- On: true

[2019-02-22 00:06] NorthernMan54 commented on #36
@Shaquu Tks for adding this

PS If you have a few moments, I'm looking for beta testers for this

https://github.com/NorthernMan54/HAP-NodeRed

Which is the reverse of this

[2019-02-22 09:47] Shaquu commented on #19
Is there a option that one AP blocks port that HomeKit uses?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-22 10:12] Shaquu commented on #21
I assume you are talking about Light Sensor?

There is a new version 0.4.0 where one of changes is latest version of core module of homekit communication.
Please download 0.4.0 and check again if problem persists.

[2019-02-22 13:01] djiwondee opened #38 "ServiceType Doorbell is not working"
I try to use the service type _Doorbell_ as accessory for my setup but it doesn't work. Is this caused by the HomeKit API? Within a research on the web I found a lot of discussions questioning the support by Apple of this service type? Have you experienced similar behavior?

[2019-02-22 16:20] Shaquu commented on #38
I think it might work. Can you share your flow from node-red?

[2019-02-22 19:44] Shaquu commented on #38
Okay, I checked a little and I think that it's not yet supported in node-red HomeKit.
I will mark it as new feature and possibly start working on that in a few days.

[2019-02-22 20:45] djiwondee commented on #38
Would you still like to get the flow extracted from node-red? The workaround I you so far is using _Motion Detection_ service type

[2019-02-22 21:26] Shaquu commented on #38
Do you use all features Doorbell should give like camera and notifications?

[2019-02-23 07:58] djiwondee commented on #38
Right now the adapter to my simple classic door bell I’ve built is only able to detect whether the door bell button has been pressed (bell rings). This sends a payload button pressed yes/no to an mqtt Broker connected with node red. There is no camera. But indeed, notification is what I intend to get

[2019-02-23 14:17] djiwondee commented on #38
Just FYI regarding Doorbell not supported by Apple, please refer https://appleinsider.com/articles/18/08/02/apples-removal-of-the-homekit-doorbell-category-is-no-cause-for-alarm

[2019-02-23 22:01] Shaquu commented on #38
I have read info somewhere that doorbell got back to HomeKit but can’t find source.
By the way read this one as a proof that doorbell is existing:
https://www.theverge.com/2019/1/6/18168357/netatmos-smart-doorbell-apple-homekit-compatible-ces-2019

One and half mont ago news.

[2019-02-23 23:11] Shaquu commented on #20
I am closing this issue as it is old.

Please update to new version 0.5.0
If you encounter this problem again then create new Issue.

Ultimate workaround to problems with HomeKit:

- restart node-red
- if still have a problem then delete you current Bridge and create a new one, then assign it to your accessories

[2019-02-23 23:11] #20 closed

[2019-02-23 23:13] Shaquu commented on #19
I am closing this issue as it is old.

Please update to new version 0.5.0
If you encounter this problem again then please check your AP open ports.
If problem still persist then create new Issue.

Ultimate workaround to problems with HomeKit:

- restart node-red
- if still have a problem then delete you current Bridge and create a new one, then assign it to your accessories

[2019-02-23 23:13] #19 closed

[2019-02-23 23:13] Shaquu commented on #32
Resolved in 0.5.0

[2019-02-23 23:13] #32 closed

[2019-02-23 23:14] Shaquu commented on #28
Looks like a problem with network configuration.
Closing Issue.

[2019-02-23 23:18] Shaquu commented on #24
I think it would be good to add this feature here as it would help to omit HomeKit Hub requirement for automation.

@NorthernMan54 are you working on solution for this?
Do you want to cooperate?

[2019-02-23 23:20] Shaquu commented on #25
@S474N try `npm i node-red-contrib-homekit-bridged` in your node-red folder (.node-red)

[2019-02-23 23:37] Shaquu commented on #22
@martincollar in your stack trace I can see you are using fork by @plasma2450.
Please remove node-red-contrib-homekit-bridged and hap-nodes forked by @plasma2450.

Then download our latest version (released today):
`npm i node-red-contrib-homekit-bridged`

@1stone Could you update to 0.5.0 and try to reproduce error?
Can you write complete list of steps to reproduce it?

[2019-02-24 01:10] NorthernMan54 commented on #24
I have been playing with this for a bit and have this as an Alpha level code base, which allows control of all Homebridge devices.

https://github.com/NorthernMan54/HAP-NodeRed

[2019-02-24 10:14] bolfox commented on #28
What kind of network problem?
Dns, wifi name?

How it works hk to find the controller?

[2019-02-24 10:26] Shaquu commented on #28
If your router or other device blocks port then you will not connect.
I assume HomeKit look for device in network then connects to it on TCP socket.

[2019-02-24 21:19] sjorge opened #41 "[Feature Request] Have the abbility to add linkedservices"
It would be nice to be able to add linked services... for example add a BatteryService to another serivce.

[2019-02-24 21:57] Shaquu commented on #41
Good idea!

[2019-02-24 22:32] sjorge commented on #41
I think once the TV support lands in iOS 13 this will also be required to construct those more complex Services as the InputService and such are also added as linked services if I am not mistaken.

[2019-02-25 12:59] crxporter opened #42 "Awesome to see some new development!"
@Shaquu  - it's awesome to see some new development here. I use this plugin for the bulk of my smarthome, it has been fantastic (good job all those who have come before).

I'm curious if you have a few minutes to answer a couple of questions:
1-what changes have you made (where could I find a changelog?)
2-do you have any goals or roadmap of what you're planning to do next here?

I always like to

[2019-02-25 13:21] radokristof commented on #42
There is also a new openhab2 node!

However yes it would be great that new deviceType will included/fixed. Like FilterMaintenance, Speaker is included but HomeKit says these are not supported (I think it is deprecated). Do you plan to include these also in your fixes or just some bug fixes?

[2019-02-25 14:17] Shaquu commented on #42
@crxporter thanks for a kind word :+1:

1. Changelog is available in PR merge to master #40 - release 0.5.0
2. I have planty of goals but will tell about them just in a minute...

First thing about breaking stuff with new versions.
As ex software tester and current developer I am aware of backward compatibility.
For now, I try to test everything in some way before releasing.

In short, 0.5.0 **sho

[2019-02-25 14:51] crxporter commented on #42
Cool! I hadn't seen this yet I'm going to check it out.

@Shaquu - the list of goals looks awesome. Count me in as one who will be happy to use nearly all of that. Doorbell will push me to finally run that wire from my attic to my pi. Linked services will help me support "batteries" and maybe I can take "null" states and pass them to homebridge as "unavailable" or something. I can move my homebrid

[2019-02-25 15:32] Shaquu commented on #42
I’m very excited as well. Even more when I see that people use it :)

About the sprinklers. Can’t you just make one more button which will enable the rest of valves automatically?
I mean the master valve.

Can you share what’s behind your current configuration? Plugins, configuration files?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-25 15:58] crxporter commented on #42
Sprinklers - perhaps I didn't explain well. I don't have a master valve but instead 4 separate zones. The rachio support allows a "water all" command where it will run the sprinkler program so when zone 1 finishes - zone 2 starts - then zone 3 and so on for N zones.

My sprinkler setup is through HTTP calls to the Skydrop API. It's something I've put together myself and works pretty well, I poll e

[2019-02-25 19:22] Shaquu commented on #42
Maybe make something like this?
I didn't test it but I think it should work after some adjustments.

There is pseudo flow
![unknown](https://user-images.githubusercontent.com/2881159/53362444-78dac380-393a-11e9-9352-b37146ee41d9.png)

Get Next Zone:

[code]

Active:

[code]

[2019-02-25 19:33] crxporter commented on #42
Thanks for looking! That would probably work but there is a much easier way if I want to run all... I can just send the HTTP post command to water all. Looks like:

`https://api.skydrop.com/controllers/{controller-id}/water.all`

I may as well just put a switch that says "water all" then when I turn it on - well you can guess what happens.

The improvement I'm looking for is based on the screensho

[2019-02-25 19:36] radokristof commented on #42
I'm sure that if Valves looks like as on your screenshot, then rachio uses the IrrigationSystem.
I also looked the document I have for you, but that doesn't include this. I have found a pretty useful website a few months ago with details regarding characteristics and etc. I will try to find them (but I think that doesn't include new HomeKit things as well).

[2019-02-25 19:43] Shaquu commented on #42
@crxporter I do worry as I really want to make it work for you the way you want this :)
I will think more about this issue.

@radokristof I would like to see this website!

By the way, if you like this module then please rate it on the node-red site:
https://flows.nodered.org/node/node-red-contrib-homekit-bridged

Thanks!

[2019-02-25 20:01] crxporter commented on #42
Yes I agree. I tried to figure out the irrigation system - but I never could get it to show any valves (zones?) as in the rachio screenshot. I may fiddle with this again tonight and get back to you.

The difference with the irrigation system seems to be that you could do like "run the whole program" (I.e. water all zones). My hold up point is in getting the valves combined into the system.

If I r

[2019-02-25 20:06] crxporter commented on #42
Done!

[2019-02-25 21:46] matthiasseemoo opened #44 "Bind to particular interface"
I run node-red-contrib-homekit-bridged on a raspberry pi with multiple network interfaces that are connected to different networks (192.168.0.0/24, 192.168.1.0/24 and 192.168.2.0/24). I need the mdns service who broadcasts the presence of the bridge to be bound to the IP address of the third network interface, however, by default it always binds to the IP address of the first network.

Is there a

[2019-02-25 23:23] Shaquu commented on #42
@crxporter give me some time

![img_0351](https://user-images.githubusercontent.com/2881159/53375867-be0fed00-395c-11e9-9cdd-d11f9686156a.PNG)

[2019-02-25 23:25] radokristof commented on #42
I have also rated this node!
You are insane! :) Please share also how you manage to setup this... Also maybe if you can have a look at some deviceType which should be great to have for me (like Speaker, FilterMaintenance, etc..)

[2019-02-26 04:42] NorthernMan54 opened #45 "Missed duplicate events when using Siri and Alexa"
Have a medium/low priority issue when using Siri and Alexa to control devices created by this node.  When your using Siri and Alexa homebridge passes to the plugin duplicate events, so if you tell Siri/Alexa to turn something off twice, the plugin receives 2 off events.  This behavior does not work with the Home app as the home app manages state in the ui, and due to ui design blocks duplicate req

[2019-02-26 17:53] bolfox commented on #28
But it works, sometimes it keep updating, i need to kilt home in iPhone and reopen or on/off the wifi...

I have tried with different iPhone and router...

What are the port/service to check?

[2019-02-26 22:43] Shaquu commented on #28
Actual port is set in Bridge configuration.
Can you share your flow with me? Maybe there is a problem in a flow?

[2019-02-26 23:02] Shaquu commented on #44
Hello and thanks for creating this issue.

mDNS configuration is not yet supported here but it will be very easy to add it.
Which will happen in the next version.
There is hope it will be released by the end of this week.

[2019-02-27 07:24] Shaquu commented on #41
Update. I am currently working on it as it solves so many questions...
I am very grateful you opened this :)

[2019-02-27 07:27] Shaquu commented on #33
I am closing this issue as there are no more answers. If you happen to have this problem again the consider my above message.

Remember that 0.5.0 fixed some problems. And next time please share your flow so we can investigate better.

[2019-02-27 07:28] Shaquu commented on #31
I am closing this issue as it is no more activity here. I you come to this question again then please comment here and I will reopen.

[2019-02-27 07:28] #31 closed

[2019-02-27 07:34] Shaquu commented on #38
Recently I created Doorbell and attached camera and it sort off worked.
I think I am gonna investigate more next week.
Anyway way it will require changes in the code to work.

[2019-02-27 07:35] Shaquu commented on #22
I can say the problem does exists ;)
I am going to look at this next week.

[2019-02-27 08:16] sjorge commented on #27
I think fakegato is needed for that https://www.npmjs.com/package/fakegato-history,

That looks like an addition purely for the Eve app ontop of homekit. I know some of the homebridge stuff uses this too, for keeping history of things like temperature, humidity, power used...

[2019-02-27 08:32] Shaquu commented on #27
Like @sjorge wrote. I think HomeKit does not support Power Meters if it does them I would like to have a proof for that so we can go in other direction :)

I think we could support Eve in the future as a new node.

[2019-02-27 09:54] Shaquu commented on #45
Okay, I am thinking about it since you posted this.

Let me get this straight.
You need to have ability to command Home Kit to turn something OFF twice?

And the problem is that Home Kit blocks second OFF as Accessory state is already OFF?

[2019-02-27 12:52] NorthernMan54 commented on #45
Let me put this a different way, Homebridge Plugins ‘set’ events are triggered regardless of device state.  And you can take advantage of this ‘feature’ using Siri or my homebridge-Alexa plugin/skill.  But if you are using the Home app, the user experience blocks the ability to send duplicate on or off events.

I raised the issue due to the behaviour difference between homebridge plugins and this

[2019-02-27 22:31] bolfox commented on #28
[{"id":"1b6a51d8.5a25ce","type":"tab","label":"Homekit","disabled":false,"info":""},{"id":"3dddf70d.af5fd8","type":"homekit-service","z":"1b6a51d8.5a25ce","bridge":"6f469d83.3b0374","name":"Bianche","serviceName":"Lightbulb","manufacturer":"By-me","model":"Knx","serialNo":"1/6/1","characteristicProperties":"{}","x":580,"y":200,"wires":[["8e336313.06052"]]},{"id":"877058e0.6ec108","type":"function"

[2019-02-28 08:19] Shaquu commented on #28
First look. You port is always random.
Go to the bridge settings and type your port number yourself. Then reassure it’s open in the network.

When I’m back home I will check your whole flow.

[2019-02-28 10:14] Shaquu commented on #27
@sjorge I just found out you digged this Issue :)
I am closing this and adding to roadmap on wiki [roadmap page](https://github.com/oliverrahner/node-red-contrib-homekit-bridged/wiki/Roadmap)

[2019-02-28 10:14] #27 closed

[2019-02-28 12:46] bolfox commented on #28
Tnx i will try this evening, the port is used in local right? Suggestion on number to use?

[2019-02-28 13:08] Shaquu commented on #28
Yes, it’s a port on device which host node-red.
Idk maybe this one will be good 34567

[2019-02-28 21:06] matthiasseemoo commented on #44
That sounds promising, I am looking forward to it ;-)

[2019-03-01 08:35] dezral commented on #38
I use the homebridge videodoorbell and it works fine with a ip cam.. but i would like it to work with this plugin to clean up some Flows

https://github.com/Samfox2/homebridge-videodoorbell

[2019-03-02 17:05] DeltaCore opened #47 "No Response from devices"
Hello,

when ever i open the Home app, the lightbulbs i added show up with "No Response".

When i initially added them they worked fine untill i closed the home app.

I started node-red with the debug command line options and it states this when i open the home app:
[code]

Now i am not sure anymore if thats a fault with this node or is ios a bit weird today.

The temperature sensor i added works

[2019-03-02 17:26] DeltaCore commented on #47
I tested another thing. When i use siri to turn on/off the lightbulbs, it works even then the home app shows no response.

[2019-03-03 14:10] Shaquu commented on #47
iOS being weird is actually a thing here ;)

Can you share your node-red flow with me?

By the way, ultimate fix fo many issues:
- Select Service
- Edit Bridge
- Delete Bridge
- Create new Bridge
- Assign Bridge accordingly

[2019-03-03 14:11] Shaquu commented on #41
Another update.

I am very close to finish this feature.
Gonna need a day or two since I have to be at home to test my code.

[2019-03-03 14:12] Shaquu commented on #25
I am closing this issue as it's old and inactive.
Please comment if you have feature questions.

[2019-03-03 14:12] #25 closed

[2019-03-03 14:14] Shaquu commented on #16
If anyone wonder about it.
I am planning to add Camera support in release 0.6

There will be a new node but I am not sure yet if this should be attachable to existing Services/Accesoriess or we should really create a new Accessory for Camera only.

[2019-03-03 15:03] RaymondMouthaan commented on #16
@Shaquu, very nice to see some activity again on this repo 👍🏽

[2019-03-03 16:37] radionoise opened #48 "Accessory reachability"
Can we have reachability feature implemented like in this homebridge mqtt plugin?
https://github.com/cflurin/homebridge-mqtt/issues/9

[2019-03-03 17:14] Shaquu commented on #48
We could if it’s cool :)
What is it really about?

[2019-03-03 17:26] radionoise commented on #48
It's about triggering "No Response" message manually and not only just when bridge is unavailable. Let's say, I have some sensor or switch. Node-RED is subscribed to MQTT topics to get updates (current temperature or switch status). I have trigger node which sends device availability status (true) and if it is not getting new data within 1 minute, it will send false as availability status which le

[2019-03-03 19:03] radokristof opened #49 "Problems with swithing state on 0.5.1"
Hello!

I have updated this node to the latest update. However now it works very unrealiably. I can see that my other nodes passes on the right value (like 'On: true'), but it won't change state. It shows the new state under the node, but it won't appear on Home app. Changing state from the Home app works well...

Something is wrong on my side, or something changed in config?

[2019-03-03 20:07] NorthernMan54 commented on #48
This was deprecated a few iOS releases ago and no longer supported.  Only way to trigger ‘no response’ programmatically is to return an error object to a get characteristics request.  This is the pattern from homebridge plugins, but with this code base I’m not sure how to cause the same message.

[2019-03-03 20:26] radokristof commented on #49
Reverted to 0.5.0, I still have the problems... No problems with the other nodes, so I don't know how I could debug this...

[2019-03-03 21:04] radokristof commented on #49
It sometimes work... So it should be some kind of bug in the newer versions.

[2019-03-04 08:55] TristanMW commented on #16
This addition would be great! - Thanks for the update!

[2019-03-04 10:16] Shaquu commented on #49
Sorry to hear that.
There a lot of bugs that need fixing in our node and in the dependencies.

Remember about ultimate solution which is deleting current bridge and creating a new one from scratch.

Would be useful if you share your flow.
Maybe you overwrite On value?
Maybe there is something in the node-red logs?

[2019-03-04 10:22] radokristof commented on #49
No problem... I can live without it for a few week. It's better that the problem is maybe not in my config.
I'm not sure about everything:

- You mean delete the current bridge and create a new one and replace all nodes with that new bridge?
- I don't think I have overwritten the On value (where I can do this?). When I send a command to one of the nodes, it shows the current state under the node,

[2019-03-04 10:30] radokristof commented on #49
And it is not happening on ALL nodes at the same time, but randomly one or more node fails to work normally. Sometimes all of them works, sometimes a few are off (I can still toggle these from HomeKit, but won't get updates from 'outside'). It looks like a race condition happens somewhere??

[2019-03-04 10:30] Shaquu commented on #49
Yes, it’s what I meant. You need to hard reset your bridge the way you described.
It sometimes clean some stuff and work better.

You can “overwrite “ by sending JSON with On value to the Node input.

[2019-03-04 10:31] Shaquu commented on #49
Okay. Can you distribute nodes on more then one bridge?
It would be a good test if it’s about bridge being overwhelmed.

[2019-03-04 10:34] radokristof commented on #49
Ok, I will create 2 new bridge and seperate them somehow.
It might be the bridge or something else in HomeKit (yesterday for example it worked ok from iPhone, but I had to restart my iPad to work - the items stucked at a position, not updating values - but on the iPhone it was okay for a few hours).

This is what I usually do to control the state of the node. Is there a way around I can do this? (

[2019-03-04 11:20] Shaquu commented on #12
For the record. I have implemented change made in KhaosT/HAP-NodeJS#580

[2019-03-04 16:56] crxporter opened #50 "Documentation"
I've been thinking of ways I can contribute to this project - and I'm wondering if there would be much benefit to have a place to keep examples.

I'm thinking to create some example flows to share either in the docs or on the wiki page. These would include an example of each service type with inject and debug nodes on either side so users can easily see how things can be put together and what the

[2019-03-04 17:22] Shaquu commented on #50
We definitely need this.
We have a wiki where you could add this.

[2019-03-05 08:25] radionoise commented on #48
Maybe this will help? [https://github.com/KhaosT/HAP-NodeJS/pull/556](https://github.com/KhaosT/HAP-NodeJS/pull/556)

[2019-03-05 15:44] crxporter commented on #50
Both good ideas. I added these. They might be better off as two separate wiki pages, have one with the two tables (service and characteristics) then the other wiki page for examples. For now I'm just putting together some initial documentation.

I've just added a start to the wiki page on this. I'm not sure how to upload my screenshots - I believe they'll need to be added to a folder in the github

[2019-03-05 16:15] Shaquu commented on #50
Good starting point.

Of course, it would be good to separate Servs and Chars into wiki pages.

I'm not sure if hosting everything on one bridge is a good idea. Why?

- If you host one accessory per one bridge then you can simply remove them from homekit app without touching node-red flow (on accessory can me multiple services of course for example kind of TV Pilot accessory with service to turn o

[2019-03-05 16:17] Shaquu commented on #50
Another idea.
Make single accessory pages. For example one per Switch and another one for Fan etc.
WIth that it would be easier to link one accessory in other places.
And it would be more compact and readable.

[2019-03-05 16:20] Shaquu commented on #50
By the way [there ](https://community.ubnt.com/ubnt/attachments/ubnt/airVision_Ideas/2505/1/HAP-Specification-Non-Commercial-Version.pdf) is an outdated homekit document by apple for non-commercial use.
I believe that HAP-nodejs which we depend on was created using this document.

If you found newest then please share.

[2019-03-05 16:28] Shaquu commented on #49
In "native" hap you have something like getState function which I believe fires when you open HomeKit app.
Here in our node we dont have something like this as node-red is not about production ready homekit accessory (like homebridge with many plugins) but about tools provided to the user so he can make a accessory himself.

I was thinking about adding getState callback. Maybe we will implement it

[2019-03-05 16:37] radokristof commented on #49
I have investigated this issue a little bit more. The problem is I have updated HomeKit and my openHAB nodes almost together and I think I have misconfigured openHAB a little bit (now for example every switch seems to update itself as it supposed to do). But, sometimes it seems like if homekit disconnects from the network and it wouldn't want to update the devices until I restart the whole nodered

[2019-03-05 16:40] crxporter commented on #50
I'll get things separated out into separate pages, I think I like the idea of separate pages for each accessory. Things like "switch" will be very simple while "irrigation controller" could be more complicated.

As for putting everything in one bridge - I have been running like this for months. I can simply add/delete a homebridge-service node while not touching the rest of my nodes. For example I

[2019-03-05 17:28] Shaquu commented on #49
Well protocol is defined in docs. And I don’t have better version of it then you :)
So knowledge is based on scraps and beliefs...

Everything in the network is running on bonjour.

[2019-03-05 17:57] NorthernMan54 commented on #48
Ps that was my pull request

I’m out on a vacation right now, but when I back am thinking of looking at this further.

I did look at how this node manages set characteristic events, and it is tied in at the accessory level and doesn’t follow the typical homebridge pattern.  But you could call the updateValue function at the characteristic level to set ‘not responding’. But it will need some though

[2019-03-05 18:03] bolfox commented on #28
Seems to work better now...Tnx for the help...

[2019-03-05 18:18] crxporter commented on #50
I think I'm getting this wiki thing figured out a little bit. For now I'm adding examples that I have used and I know work. I have several more that I've tested and will add them soon (fan, window covering, occupancy detector, smoke detector, stateless switch, and valve)

Hopefully others come in to add their own examples.

[2019-03-05 20:05] radionoise commented on #48
Figured out how to trigger this event from code and submitted PR

[2019-03-05 20:13] crxporter commented on #48
This sounds like a cool idea - how do I use it?!

For example I have an MQTT switch that is "not responding" - what do I send into homekit?

Reading the PR it seems like {"On":"NO_RESPONSE"} would work?

[2019-03-05 20:29] radionoise commented on #48
Exactly. You send "NO_RESPONSE" as a value for any valid characteristic and when you reopen Home.app or push the accessory icon and hold it for a while (it will open in fullscreen) its status will change to "not responding". As soon as any other valid value will be sent to Homekit, "not responding" status will go away.

For example, I use Trigger node which emits a message when there were no updat

[2019-03-05 20:46] Shaquu commented on #48
#51 got merged to dev branch.
@radionoise  as you are the author I assume it fits your needs.

@crxporter could you test it yourself and provide me some info here?

[2019-03-05 20:48] Shaquu commented on #28
Closing this Issue.
@bolfox if you come to this problem again then feel free to comment here or open a new one.

[2019-03-05 20:48] #28 closed

[2019-03-05 20:50] Shaquu commented on #23
There will be possibility to add more services to one accessory in the next grand release.

[2019-03-05 20:51] crxporter commented on #48
I’m not actually running a dev version anywhere right now - I’ll load it up at work tomorrow and try it!

[2019-03-06 00:24] crxporter commented on #48
I went ahead and installed the dev branch on one of my pi's at home and tested this - with mixed results.

Using switches - it works when sending `{"On":"NO_RESPONSE"}`

Using dimmers (light bulb service) - it works when sending `{"On":"NO_RESPONSE"}` but not `{"Brightness":"NO_RESPONSE"}`
- Which characteristics will this work with?

Using occupancy detector - it works when sending `{"OccupancyDe

[2019-03-06 05:02] radionoise commented on #48
It seems that NO_RESPONSE value will take effect only with required characteristics but not optional ones.

[2019-03-06 05:57] radionoise commented on #48
You're right about controlling device after NO_RESPONSE was set and Home.app was not restarted. Perhaps we should keep some state in the service that NO_RESPONSE was triggered. I did some research.

Right now here is the problem after triggering NO_RESPONSE and not reopening Home.app:
- Turning switch OF does not fire "characteristic-change" event.
- Turning switch ON fires two events simultaneous

[2019-03-06 08:41] djiwondee commented on #50
Hello @crxporter,
I have temperature, humidity and CO2 sensor services running on my node-red implementation and can provide examples for that. All these nodes are triggered by the measures taken from the Netatmo API. I like this right now because now I can ask Siri what the temp in my garden or in a particular room is...So I the need to wait for HomeKit compatibility of Netatmo disappeared.

[2019-03-06 10:21] djiwondee commented on #24
I think [Nick Farina's HomeBridge](https://github.com/nfarina/homebridge) is the most comprehensive solution for that. But the approach is different. You have another piece of services outside Node-Red and Home.app to manage.

[2019-03-06 10:57] Shaquu commented on #50
@djiwondee thanks for examples.

I think it would be good to standardise those pages.

[2019-03-06 11:02] djiwondee commented on #50
@Shaquu as you may have recognized I just followed the given structure as oaf @crxporter assuming this is/will become _the_ standard

[2019-03-06 12:02] NorthernMan54 commented on #48
If you have some time, review the Characteristic.js file in hap-nodejs.  It caches state as well, so maintaining a local copy of state could be redundant.

Sent from my iPad

[2019-03-06 12:41] faronov opened #52 "It is possible to add support for any custom characteristic ?"
I think this will be a good idea for the roadmap
just add a possibility to create any custom characteristic
like add any UUID type and name for that?
it will be allowed to add any custom characteristic to EVE app.

[2019-03-06 12:46] crxporter commented on #48
After thinking about it more that was my guess as well.

Like I said - I like this idea. Once it's "figured out" it'll be pretty cool. It seems like you're headed in the right direction.

[2019-03-06 12:51] faronov commented on #52
You can check an example of how it can be extended
that will add the possibility to create any services and any accessories
https://github.com/RavenSystem/esp-homekit-devices/blob/master/devices/common/custom_characteristics.h

[2019-03-06 13:03] crxporter commented on #50
@djiwondee I just adjusted your "Details" table on the CO2 detector to show the range of accepted values.

A comment on that one - the copyable node doesn't look like it would be a "functional example" for a user to click inject nodes and see the device function in their Home app. I might suggest we add an inject node for both `{"CarbonDioxideDetected":0}` and `{"CarbonDioxideDetected":0}` so they

[2019-03-06 13:09] crxporter commented on #50
Just went back to the homekit spec - "Peak Level" is not an alarm threshold but instead the maximum level detected - this number would be saved so you can go back and see "how bad did it get" ... You could potentially have a reset button in nodered or program so it's a rolling 24-hour maximum or something.

But it is NOT an alarm threshold. The alarm is set by "CarbonDioxideDetected"

[2019-03-06 13:43] djiwondee commented on #50
Hello @crxporter,

have applied some changes. You are right with the behavior of the peak level characteristics. I have also embedded a new flow and screen shot. Instead of using random values for injection I just chose two inject node to demonstrate the behavior of the peak level alerting as given by the Node-Red flow programming.

I struggle a little bit with the "Required" vs "Optional" charact

[2019-03-06 13:59] crxporter commented on #50
Looking at your newest table - the "CarbonDioxideLevel" is not required. The "CarbonDioxideDetected" is required. This makes sense because the true/false detected is the only required item to know if there's an alarm. The current and peak levels are just bonus informations. I like your new example! That will let people see the alarm or non alarm.

While you were doing that edit I came up with this

[2019-03-06 17:18] Shaquu commented on #42
@crxporter linked services landed on dev branch

[2019-03-06 17:19] Shaquu commented on #42
@radokristof I will get to your ideas soon I hope :)

[2019-03-06 17:20] Shaquu commented on #41
Linked services landed on dev branch.
Please test it.

[2019-03-06 17:26] crxporter commented on #42
You're killing me - I had work to do today!! So much for that!

This is awesome.

[2019-03-06 17:27] radokristof commented on #42
Thanks! I might be missing something but what does this linket services supposed to do in general?

[2019-03-06 17:40] crxporter commented on #42
@Shaquu - Can I get a quick refresher on how to update using the dev branch? I've been just downloading the zip file and copying it to my pi - but that doesn't appear to be working with this.

That or I'm missing how to set up a linked service.

[2019-03-06 18:07] crxporter commented on #42
The good news: linked services is amazing.

![img_fc8ef6037100-1](https://user-images.githubusercontent.com/38265886/53902982-1784b580-4008-11e9-994f-419b16b360b0.jpeg)

The sad news: clicking on irrigation system doesn't turn on everything.

I'll program the irrigation controller with 5 valves - my 4 zones plus a "run schedule" or something. I will set up the node red flow to respond with a "wate

[2019-03-06 18:12] Shaquu commented on #42
Stop node-red
Copy and overwrite
Start node-red

There should be a new node on the list on the left called HomeKit Linked.

[2019-03-06 19:41] sjorge commented on #41
What would be the easiest way to install the dev branch?

[2019-03-06 19:53] sjorge commented on #41
I think I figured it out
[code]

I'll have a bit of time this weekend to look at this! I'm excited!

[2019-03-06 19:55] crxporter commented on #41
Another way:

1- stop node-red
2- navigate to wherever your node_modules live (for me on a pi this is ~/.node-red/node_modules/
3- delete the folder node-red-contrib-homekit-bridged
4- run:
[code]
5- restart node-red

Note I also found it necessary to run:
[code]

[2019-03-06 20:20] sjorge commented on #41
Some initial feedback:
- Master Service sounds a bit weird, maybe call it 'Parent service' ?
- Can we sort the entries under Master Service by flow and maybe use a different format? e.g. 'Service Name (Flow)'
- Maybe this can just be merged with the regular service? Were the 'Master/Parent Service' property can be left blank?

Here is working test flow I created, everything seems to be working per

[2019-03-06 20:57] #49 closed

[2019-03-06 20:59] crxporter commented on #23
Let’s close this one - works well in dev branch and is being discussed elsewhere.

[2019-03-06 21:03] Shaquu commented on #41
@sjorge
1. I studied Mechatronics and Telecommunications where we use Master-Slave term a lot of times and it was obvious for me to use it this time too. Actually if you look at rasspberryPi or Arduino docs and talks you gonna see it's used there aswell. And I know it's not politically correct and indeed I have planned to change it to Parent-Child - I have no problem with that.
Anyway thanks for r

[2019-03-06 21:07] Shaquu commented on #42
Okay. I am closing this issue for now :)
Thanks for all kind words! I am glad you are there.
You are welcome to give more ideas and contribute with code or with examples at #50 .

#41 is about linked services. If you have problem with it then you can comment there.

[2019-03-06 21:07] #42 closed

[2019-03-06 21:08] Shaquu commented on #42
PS. @crxporter try experimenting with Characteristics to make it work better.  Let's continue this talk at new Issue to #41 - your choice.

[2019-03-06 21:10] Shaquu commented on #44
@matthiasseemoo I added mins configuration option on bridge edit window.
It's currently at dev branch. Please test it.

[2019-03-06 21:11] radokristof commented on #41
Oh, now I get the idea, what this linked services are.. It would be great that you can link any other service into a HomeKit Item. However I don't know how it will interfere with the current Characteristics (like lots of device type has pre-defined characteristics). Anyway, in my opinion if we can add this to support all kind of device type and just be an optional field when creating a new Parent

[2019-03-06 21:13] Shaquu commented on #41
The thing is that I didn't want to have a mess in a flow.
You know to not make it A be parent of B. B of C. And C of A.

What is funny is that Apple allow this...

Linked services allows accessories to specify logical relationship between services. A service can link to one or more services. A service must not link to itself. Service links have context and meaning only to the first level of servic

[2019-03-06 21:14] crxporter commented on #41
Regarding question 3-

The linked services gets a little interesting. Take for example an irrigation system that takes a collection of valves. Sure works great. But we can also have a stand alone valve. The user will need to know what they’re doing to distinguish whether they have a linked service or another item.

It seems like having the default “linked service” item be something like “stand alo

[2019-03-06 21:15] Shaquu commented on #23
Yup. Closing.
@Hirschenberger-S for you information - linked services (including battery level) are currently on dev branch. Go see it and test it! Let's meet at #41

[2019-03-06 21:15] #23 closed

[2019-03-06 21:17] radokristof commented on #50
@Shaquu I don't know what is the best idea regarding the bridge... I have read on several forums, that the hard maximum for a bridge is 150 accessory (but due to hardware limitations - like RPi), you will experience problems much before that limit.
I don't know what NODE-RED can do, but at least we have to indicate that in the Wiki pages (or add some logic to notify the user when he wants to add t

[2019-03-06 21:19] crxporter commented on #42
I tried all of the valid characteristics on irrigation system - none made anything “come out” of homekit when pressing the icon in a room.

I’ll be cranking through and discussing documentation at [#50](https://github.com/oliverrahner/node-red-contrib-homekit-bridged/issues/50)

[2019-03-06 21:24] sjorge commented on #41
I think this is a bug in node-red? It is set correctly when I look at the flow before exporting.

It might indeed be better to keep this as a separate service as @crxporter says, most service will only work as a normal one or as a linked one, a unlinked Battery Service doesn't seem to do anything inside home.app. Perhaps we should limit the types we can chose on each though, to not confuse the use

[2019-03-06 21:24] radokristof commented on #50
Also an ever growing documentation would be great.
For example, I  have an AirPurifier Item in HomeKit. And I couldn't get around myself, how I should properly control it. Everything works fine, except that when I turn ON or OFF it sometimes just spins around forever that it is turning on and off. I don't know if this a bug or I just configured it incorrectly (when the Active characteristics shoul

[2019-03-06 21:31] crxporter commented on #50
Im planning to get to most of the services eventually! Carbon dioxide came up today so I tried it, adjusted some things, and then did the carbon monoxide. I was planning to knock out the ones I have first but I’ve got a few minutes now- I’ll go check out AirPurifier to see what I can do!

[2019-03-06 21:36] radokristof commented on #50
Thanks!
What I got so far which might help you: Active 0-1 doesn't seem to affect this Turning ON-OFF thing (it just shows the device is Active or not). Secondly, the CurrentAirPurifierState toggles the ON-OFF state of this device. I have tried to have 0 and 1 as a turned off state (no is not purifing air and the second is inactive or something like this), but neither one worked...

[2019-03-06 21:44] Shaquu commented on #41
@sjorge I'm gonna try to merge it smartly ;) We gonna see if it's good.

[2019-03-06 21:44] radokristof commented on #50
For addition, SecuritySystem works as the TargetState shows what the state should be (like when you are turning on the your alarm system and you have a little turn on delay - time to leave your house) and if a CurrentState is set, then it will stop the spinning (the Characteristics are not named like this, but something similar... I'm not in front of NODE-RED so I can't provide detailed info)

[2019-03-06 21:57] crxporter commented on #50
Check [here](https://github.com/oliverrahner/node-red-contrib-homekit-bridged/wiki/Services) you will see that there are 3 required characteristics. Check [here](https://github.com/oliverrahner/node-red-contrib-homekit-bridged/wiki/Characteristics) and you will see descriptions of these 3 items.
- Active true/false
- Current state (0=off, 1=idle, 2=on)
- Target state (0=manual mode, 1=automatic mo

[2019-03-06 23:05] radokristof commented on #50
Thanks! I think I have tried this before, but now I'm trying again. What I basically did now, is connected my openHAB node to a function which will trigger the targetState when turning on, and then after 1 sec delay sending a CurrentState. And for the outcoming value I'm using the Active value here, and if the AirPurifier is turned off, I'm sending a CurrentState 0 to the AirPurifier.

This should

[2019-03-06 23:11] crxporter commented on #50
It seems for this item “TargetState” is for automatic/manual operation.

Whether the purifier is on or off is actually {“Active”:true/false}

[2019-03-06 23:15] radokristof commented on #50
And in which order what do you think? First Active and then CurrentState?

[2019-03-06 23:22] crxporter commented on #50
Yes. Active then current.

Active is what “comes out” of homekit when you flip it on or off. If you switch it on in the home app then a payload {“Active”:1} will come out of the node. The home app will then show “turning on” until you send back to homekit either {“CurrentAirPurifierState”:1} for idle or {“CurrentAirPurifierState”:2} of on.

Hopefully you get it - try it then post your node red cod

[2019-03-06 23:36] crxporter commented on #50
Here is a list of all 6 possible combinations for airpurifier.

Active value, CurrentAirPurifierState value -> Home app display

Active 0, current 0 -> Off
Active 0, current 1 -> turning off
Active 0, current 2 -> turning off
Active 1, current 0 -> turning on
Active 1, current 1 -> idle
Active 1, current 2 -> on

[2019-03-07 00:36] crxporter commented on #50
[First edit of AirPurifier Wiki](https://github.com/oliverrahner/node-red-contrib-homekit-bridged/wiki/Example-AirPurifier)

[2019-03-07 01:05] Shaquu commented on #41
To everyone here. New version can brake last dev version. Linked service got merged to main node.
Please delete linked services before switching to new version.

What is done:

1. Renamed Master to Parent
2. Changed Parent Service list values look. Added some protection.
3. Merged Linked Service node to Service node. Now you have to select if you would like to configure Parent or Linked Service.

[2019-03-07 01:12] Shaquu opened #53 "Add Accessories and Services persistence (saving and loading)"
I looked a little and it looks like there is many lines of code which try to load accessories or services from prepared data but it's actually never saved (if I am not wrong...)!!!

        for (let i in bridge.bridgedAccessories) {

        for (let i in accessory.services) {

There is a ready method to load accessories from directory in HAP-nodejs/AccessoryLoader.js/loadDirectory.

Now have to l

[2019-03-07 07:55] radokristof commented on #50
Thanks I’ll try this and report it.
One other thing which should be in the docs: how can I control an RGBW LED from HomeKit?
Because it seems if you enable brightness and hue it will only have 3 attributes. So I can’t distinguish which brightness should be changed. The brightness of the RGB LED or the White LED brightness. And also it will only give back the attributes which have changed not all 3

[2019-03-07 08:21] Shaquu commented on #42
By the way. I took a day off to finish this :)

[2019-03-07 08:31] radokristof commented on #12
So don’t need to restart nodered? Which version includes this?
Is this true for new Device in HomeKit as well? It will show up after re-deployment?

[2019-03-07 08:38] Shaquu commented on #10
According to docs:
Required Characteristics (so called Chars)

- On

Optional Chars

- Brightness
- Hue
- Name
- Saturation
- Color Temperature

This means that to enable those options in Lightbulb you have to enable these Chars manually by adding them to Chars Properties in node.
![img_0364](https://user-images.githubusercontent.com/2881159/53943061-95a29400-40bc-11e9-85ab-458b6e015ce9.PNG)
![img

[2019-03-07 08:38] #10 closed

[2019-03-07 08:39] Shaquu commented on #12
@radokristof I have implemented change but I think that doesn't help.
I have some ideas what's going on though.

[2019-03-07 08:51] Shaquu commented on #50
I think that way:

- Use Hue and Saturation for RGB LED.
- Use Color Temperature for White LED.

So Color Temperature can be a "color" of white (from yellow to white).
Remember that Color Temperature should not be used together with Saturation and Hue.
There are indeed many options. It depends on your needs.

[2019-03-07 09:01] Shaquu opened #54 "Add onIdentify"
There is an option in Home.app called identify.
It is supposed to make an action on accessory so you can know which is that.
For example you have 5 Vaults. You can click identify to recognise which one is which one.

![img_0368](https://user-images.githubusercontent.com/2881159/53944527-dd76ea80-40bf-11e9-852a-12e085ae70e3.PNG)

[2019-03-07 09:05] radokristof commented on #50
But I need a Brigtness item (0-100%) for the separate White channel.
Also I think I need 3 Items for the colored LEDs (Brightness, Hue, Saturation). Or I might don’t understand your point 😕

[2019-03-07 09:24] radokristof commented on #50
@crxporter
The AirPurifier seems working, but it needs a further testing. Thanks!

[2019-03-07 10:23] Shaquu commented on #50
@radokristof first tell me what is your set, how many lights etc.
And what you would like to achieve?

[2019-03-07 11:13] radokristof commented on #50
Ok, so here is one of my flow.
![screenshot 21](https://user-images.githubusercontent.com/36210568/53952594-7104e700-40d1-11e9-9f45-55f5fd2cf5fa.png)

So basically I have 3 nodes, which sends it's current state to that one HomeKit Item.
Switching state (through wifiled2_power) works, setting brightness (through wifiled2_white) works.

But, the color channel have 3 attribute. Hue, Saturation, Brigh

[2019-03-07 11:58] Shaquu commented on #50
You can always make something like this.
Home.app action (Brigthness:10) -> get openHab object (Brigthness:2, Hue: 5) -> merge object (Brigthness:10, Hue: 5) -> send object to openHab

Other way is to save it like you said.

I practiced naming variables in flow using node id.
node-id 6115be82.9eea4

[code]
etc.

[2019-03-07 12:17] radokristof commented on #50
Thanks. The bigger problem is that I don’t know how should I map it. If I map the white LED to the Brightness also, it will not produce the same color as you selected in HomeKit.

[2019-03-07 12:29] Shaquu commented on #50
Give what you got. (raw data). What you receive from openHab and what you need to send.
We will figure it out.
Should we move to a new issue?

[2019-03-07 12:32] crxporter commented on #50
Whatever you come up with on the bulb - let's have it end up as another example on the [wiki light bulb](https://github.com/oliverrahner/node-red-contrib-homekit-bridged/wiki/Example-Bulb).

I don't have any colored bulbs so I haven't tried that one.

[2019-03-07 12:35] radokristof commented on #50
@crxporter Yes that's why I thought mentioning this here.
@Shaquu I will create a new issue.

[2019-03-07 12:41] radokristof opened #55 "Represent an RGBW Light in HomeKit"
So I have got an RGBW Light and I don't know how I could perfectly represent this in HomeKit:

I have 3 incoming nodes:

1. ON switch (it returns an ON/OFF - this is sent to HomeKit as `On: true/false'`)
2. Color channel - this returns a HSB (3 parameter - Hue, Sat, Bright) like string - now I get these datas by splitting this string and sending to HomeKit as `Brightness`, `Hue`, `Saturation`.
3.

[2019-03-07 12:43] radokristof commented on #54
This has to be enabled? I don't have this right now...

[2019-03-07 12:43] radokristof commented on #50
[Here](https://github.com/oliverrahner/node-red-contrib-homekit-bridged/issues/55)

[2019-03-07 12:44] crxporter commented on #55
Take a look [at this openhab comment](https://community.openhab.org/t/homekit-in-nodered-to-control-a-color-bulb-attached-to-openhab/39921/2?u=crxporter)

It is the "original" function that I used as a building block for most of my other functions. It's not perfect - but it's for a HSV (hue, saturation, value/brightness) so it could be helpful here. Plus it's openhab!

You may want to modify the f

[2019-03-07 12:47] Shaquu commented on #55
About RGBW.
Please read [this ](https://stackoverflow.com/questions/40312216/converting-rgb-to-rgbw).
It's about converting rgb to rgbw.

[2019-03-07 12:49] radokristof commented on #55
Okay thanks!
This looks great! I will try to implement this in JavaScript and if it works, I will share that node here...

[2019-03-07 12:52] crxporter commented on #55
Untested but could get you thinking:

This should create a function with 3 outputs. The first will be sending 1 or 0 to your openhab switch. The second will be sending a hue and saturation to your color channel, and the third output should send a white number to your white channel in openhab.

![screen shot 2019-03-07 at 6 51 14 am](https://user-images.githubusercontent.com/38265886/53957963-692f4

[2019-03-07 13:01] radokristof commented on #55
Thanks I’ll try it. But I also have to send a brightness to the color channel as well.

[2019-03-07 13:04] Shaquu commented on #55
Regarding rgbw try this code:
[code]
Output is:

[2019-03-07 13:04] crxporter commented on #55
Ah sure no problem.

[code]
[code]

[2019-03-07 13:11] crxporter commented on #55
@radokristof - are the values that openhab color channel sends/needs HSV or RGB?

[2019-03-07 13:17] radokristof commented on #55
HSB

[2019-03-07 13:25] Shaquu commented on #54
For now I see that only AccessoryInformation can use it.
But I have this button on Valves...

So maybe Identify will know which Valve I identify?

[2019-03-07 13:36] crxporter commented on #54
To me this seems like a mostly pointless feature with the amount of customizability we have in node red.

If I'm adding 20 philips hue bulbs to my homekit (official genuine homekit accessories) I'm going to need them to blink so I can figure out which is which.

If I'm adding 20 sonoff basics over mqtt inside of node-red then I likely have this sorted out already and have my homekit nodes named pr

[2019-03-07 13:59] Shaquu commented on #54
@crxporter I sort of agree with you. Since we are the guys behind the blocks we control everything.
But I believe it's cool to have a "native" behaviour in Home.app.
It would be nice to have ability to use "Identify" even once in a life time of an accessory.

And I believe it's easy to make this feature.

By the way. I don't know sonoof or mqtt so I can not respond to that properly :)

[2019-03-07 14:06] crxporter commented on #54
MQTT is huge in home automation. It's built right into node-red as a default input/output node. I would venture a guess that most others around here use it...

Sonoff is just a cheap $5 ish wifi on/off switch.

About identify I agree it's always cool to have all of the features. Perhaps have it output a payload like `{"Identify":1}` when it's clicked?

[2019-03-07 14:20] Shaquu commented on #54
Problem with sonoff is that it’s kind of huge if you want to make temporary changes in a flat.

About identify, good idea.

[2019-03-07 14:21] radokristof commented on #54
Yes I just use it where I can easily mount and not ugly. There is a new company called Shelly, take a look at their website (shelly.cloud), they have really small switches and other things with built-in MQTT support.

[2019-03-07 16:13] sjorge commented on #41
Still works, here is an update flow export:
[code]
I did notice that I had to go to all my current service and toggle them from Parent -> Linked and back to Parent before they would show up in the list of available services for a linked service.

Also maybe change the Service Hierarchy to a dropdown?

[2019-03-07 16:20] Shaquu commented on #41
@sjorge thanks for comment.

1.Will fix this issue.
2. And I will make it a dropdown after work.

[2019-03-07 16:21] sjorge commented on #41
Awesome!

[2019-03-07 16:24] sjorge commented on #44
I had a quick look at this too when I was testing the Linked Services,... the checkboxes float weirdly in the center instead of being left aligned.

[2019-03-07 16:26] sjorge commented on #53
Having the accessories remember the last state they were in would be a great addition.

Currently I do this by using a persistent node in front of them to save a copy of the last command and to restore it at startup. Which works fine too, but it  could be cleaner :)

[2019-03-07 17:41] Shaquu commented on #44
@sjorge kind of intended but not saying this is the best option. I am not UI designer :)
Left site has limited width so I moved all to to right side.

[2019-03-07 17:50] sjorge commented on #44
Maybe drop the label on the left and add that text on the right behind the checkbox?

That would be consistent with the rest of the ui? Although not sure how hard that is as the interface seems to be limited a bit by what node-red offers.

[2019-03-07 18:11] Shaquu commented on #44
We will see. UI is using bootstrap. But you can extend it.

[2019-03-07 21:45] radokristof commented on #55
This looks really complicated to implement. I get the color as a HSB and the seperate White in percent (0-100). I need to convert HSB to RGB (and in parralel the percentage to 0-255 value) then add this White to the RGB (need to recalculate all of them) to get RGBW and then back to HSB.
I couldn't find a method to calculate this from HSB right away...

[2019-03-07 22:17] Shaquu commented on #54
Landed on dev branch.

World is not that beautiful I thought.
When I click "Identify" on Vault Service it fires on Irrigation System Accessory...

Yes, onIdentify is called on Accessories only (and Bridge in our case).

I added Identify Characteristic to all Accessories - here is the question, do we want this here?
Maybe flag for that? Or remove it and leave it where it's required only.

PS. onIde

[2019-03-07 22:20] Shaquu commented on #29
For now there is no option to get all Characteristics values.
We have to thing about it... Hmm.

@sjorge it would help solve your Issue too? Without using flow.save you could have just read all values from node output.

[2019-03-07 22:22] Shaquu commented on #55
@radokristof I will look how to change HSB to RGB.
By the way look at #29
Maybe we should add all Characteristic values on node output?
Not in payload but in other object (msg.characteristics?)

[2019-03-07 22:22] radokristof commented on #29
It might help solving it (indirectly). Anyway this could be a really good addition, if you we have a checkbox on each item, and if it is set to true, it will always report back all of the Characteristics.

[2019-03-07 22:23] Shaquu commented on #41
landed on dev branch

@sjorge please test changes (1 and 2).

[2019-03-07 22:24] radokristof commented on #55
yes, it would be great. It doesn't really matter if it is in the payload or in an other object, because I have to process everything manually. But it would be better, if we seperate which values are really changed, and which are just sent back...

[2019-03-07 22:26] radokristof commented on #41
With linked services, can I assign the AirQualitySensor and FilterMaintenance (this one is not working though) to my AirPurifier device?

[2019-03-07 22:32] Shaquu commented on #34
Okay then. Old Issue but I have to answer so I can sleep tonight :)

First thing add Thermostat Service.
Second thing set below in Characteristic Properties:
[code]

![img_0372](https://user-images.githubusercontent.com/2881159/53994011-4480b780-4131-11e9-93c2-7cfbc4df2dd7.PNG)

I think it resolve your problem. If not the feel free to comment or open new Issue.

[2019-03-07 22:32] #34 closed

[2019-03-07 22:36] Shaquu commented on #21
So. Ligth Sensor Service works for me.
Nothing complex here.
![img_0373](https://user-images.githubusercontent.com/2881159/53994160-cffa4880-4131-11e9-8088-d0bc6d2f5c59.PNG)

I am closing this Issue as it's old. If you still have a problem then feel free to comment or open new Issue.

[2019-03-07 22:36] #21 closed

[2019-03-07 22:40] Shaquu commented on #45
@NorthernMan54 I write to refresh the Issue and point that I am still thinking on solution.
I you have some specific idea then please comment.

[2019-03-07 22:42] Shaquu commented on #41
According to docs:

So you should be able to do that if Apple did not change it... I think they did not (I hope?).

[2019-03-07 22:43] Shaquu commented on #55
Changed values would be send in msg.payload.
Current values would be sent in msg.WE_NEED_SOME_NAME_FOR_THAT

[2019-03-07 22:47] Shaquu commented on #41
When you link Service to Parent Service then sometime it does not appear in Home.app.
But it can appear on Parent Service settings.

I thing it is this case ;)
I have "filter status: good" in my Air Purifier settings.

[2019-03-07 22:51] radokristof commented on #41
Yes, some data only seen in the setting page (usually string like data is only seen on the device itself).

[2019-03-07 22:52] radokristof commented on #55
`msg.values`
`msg.attributes`

something like this I suppose

[2019-03-07 22:58] crxporter commented on #41
I will be trying to make time to add some information about linked services to the wiki this weekend. I should have time, are there any specific requests?

So far I’ll do:
-battery (already have an example above)
-irrigation system (I’ve tried this already)
-filter to air purifier (since purifier is done and @radokristof requested adding a filter)

These will be either new pages (battery, irrigati

[2019-03-07 23:00] radokristof commented on #41
Thank you! However FilterMaintenance is seems not supported (I think...) when I last tried. It worked, no problems occured, but Home.app said that this accessory is not supported in this version or something like this, so it wouldn't show it's state...

[2019-03-07 23:01] radokristof commented on #41
Anyway  AirPurifier works great (almost)! I have a little bug in the openhab binding which updates the switch to ON/OFF a few times after triggering it, so that's why it is changing state in Home.app weirdly...

[2019-03-07 23:21] crxporter opened #56 "Documentation: filter maintenance"
I don't want to flood the other thread.

@radokristof - air purifier and filter state work great together on the latest dev branch.

<img width="446" alt="screen shot 2019-03-07 at 5 15 35 pm" src="https://user-images.githubusercontent.com/38265886/53996162-079acd80-40fd-11e9-8b69-99cf499f6dda.png">
<img width="437" alt="screen shot 2019-03-07 at 5 15 52 pm" src="https://user-images.githubusercont

[2019-03-07 23:23] radokristof commented on #56
So this is a FilterMaintenance linked to AirPurifier?

[2019-03-07 23:23] crxporter commented on #41
See #56 for more discussion on air purifier and filter maintenance.

[2019-03-07 23:25] crxporter commented on #56
Yes sir!

Requires the Dev branch for now and isn't final. I'll be working on it further but I'm out of time for today.

In the next day or two it'll be another example on the [air purifier wiki](https://github.com/oliverrahner/node-red-contrib-homekit-bridged/wiki/Example-AirPurifier)

[2019-03-07 23:27] radokristof commented on #56
Thanks for your work! I have already set up a test branch for testing these new features... I don't want to ruin my setup.

[2019-03-07 23:27] crxporter commented on #56
I'll update here when I have a more final version on the wiki

[2019-03-08 06:56] sjorge commented on #41
All working perfectly!

[2019-03-08 09:41] Shaquu commented on #55
About rgbw to hsb look [here](http://blog.saikoled.com/post/44677718712/how-to-convert-from-hsi-to-rgb-white)

[2019-03-08 09:46] radokristof commented on #55
Thanks. But the problem is that I also have to “insert” the white channel into these. These are just purely converting colors from one space to another.

[2019-03-08 09:47] radokristof commented on #55
Something like this?
HSB -> RGB -> Add white channel so it will be RGBW -> HSB

[2019-03-08 14:08] crxporter commented on #56
[Check it out](
https://github.com/oliverrahner/node-red-contrib-homekit-bridged/wiki/Example-AirPurifier#full-featured-air-purifier)

This gets complicated really quickly!! The air purifier item does a lot on it's own - then adding the filter as a linked service... Anyway this example works and is a fully functional example as far as I know.

If you want to get really complicated you could add a

[2019-03-08 14:15] Shaquu commented on #56
@crxporter omg man. It's getting more and more complex every day!
Thanks for taking care about docs!

[2019-03-08 14:33] crxporter commented on #50
@Shaquu - regarding characteristic properties and ValveType...

I'm currently using an inject node to send the payload `{"ValveType":1}` to my valves (change them from faucet to sprinkler). This node triggers something like 5 seconds after node red starts up.

Can you give me a quick rundown of how this would look in Characteristic Properties? Is it possible to do this?

I saw a comment around her

[2019-03-08 14:58] Shaquu commented on #55
Here we go. First you need plugin called color-convert

Code below sort of represent what you need.

Its your input (hsv or hsb it doesnt matter I thing)
[code]

I did test it for some values:
[code]

I am not sure how much data we lose on rgbw > rgb > hsv
[code]

[2019-03-08 15:04] Shaquu commented on #50
I think it should work the same like you already did.

As it is said:
[code]

So Characteristic Properties should look like this
[code]

You just take Charactersictic name and values from [here](https://github.com/KhaosT/HAP-NodeJS/blob/master/lib/gen/HomeKitTypes.js) and put it into json in Chars Properties.

If its not working then answer and I will look at this at home.

[2019-03-08 15:15] crxporter commented on #50
I also thought that would work - and that's how I've tried it - but it comes up as "generic valve"

I've had to actually inject a valve type payload to get it to make the change.

It seems like the characteristic properties are telling the home app "hey you might see this property, leave a spot for it" but not actually sending the value to the item

For example: make a new dimmer item. Characteris

[2019-03-08 15:36] Shaquu commented on #50
@crxporter I checked and it's possible that Characteristic properties is not about injecting...
You just set props using that. For example validValues etc.

These are props for ValveType:
[code]

While creating Service we set this to default value which is 0
[code]

[2019-03-08 15:49] crxporter commented on #50
Your explanation is much more concise and clear than mine. Yes.

How many items are there like this? I can only think of valve...

Essentially this would be a permanent setting then if it's in the setup. Saying something like: this valve is always a sprinkler/shower/faucet.

I just read through your link above listing all characteristics. It seems like valve type is the only thing that isn't meant

[2019-03-08 15:54] crxporter commented on #50
PS- this is the easy way that has yet to fail.

![screen shot 2019-03-08 at 9 54 50 am](https://user-images.githubusercontent.com/38265886/54039294-37db7e00-4188-11e9-9f9b-b7bd5102bee7.png)

[2019-03-08 16:11] radokristof commented on #55
Thanks. This is something similar I have tried. But I still don’t know how to inject the white (this also just convert from one to another. When you convert it to rgb I have to inject the white channel - or just have the rgb and add the channel to it a fourth parameter?).

[2019-03-08 16:12] radokristof commented on #56
I havent updated my real setup to the dev branch. Should I or when you want to merge these into master? I have a different setup for testing...

[2019-03-08 16:25] crxporter commented on #54
This works great - with one comment.

Adding a bridge with several configured items sends the Identify message once for each item when you are going through naming things. Great makes sense.

While you're still naming, you can hit "Identify" again and get another message.

My only comment is that parent/child accessories send the message twice, which makes sense as it's technically a 2-service ite

[2019-03-08 16:29] crxporter commented on #41
Linked services work great! I like the setup process - good comments on that @sjorge

It's interesting to link "incompatible" services. They just show up on their own instead of a child item.

I tried adding temperature service to a valve (like for a shower?) and homekit shows two items - the valve and the shower. Both fully functional.

[2019-03-08 16:31] sjorge commented on #41
Tried that too, i noticed something interesting though. If you have a temp and battery linked to something (motion in my case) the low battery seems to apply to both. Not sure that is an iOS home bug or not.

I need to replicate it again when I have a bit more time.

~ sjorge

[2019-03-08 16:35] crxporter commented on #41
I would guess it has to do with the ever-persistent "This accessory is not certified"

We can obviously do some screw configurations and set things up "wrong" - causing unexpected and unplanned results.

The low battery thing would be interesting - what if you have an esp8266 based motion sensor that is also a temperature, humidity, air particle, whatever sensor? And it runs on battery! You could

[2019-03-08 16:37] sjorge commented on #41
Yeah, I have an Aeotec MutliSensor 6 and I want to try that setup again, initial quick test showed the odd behavior. Just need to confirm it later this weekend (hopefully).

~ sjorge

[2019-03-08 18:26] radokristof commented on #55
This code snippet should work in Node-RED? Can I include external libraries right in the function node?
Sorry I don't have much experience with Node-RED and Javascript...

[2019-03-08 18:33] Shaquu commented on #55
Actually I am not sure. You should try it and see :)
If not working then we will think how to solve it.

[2019-03-08 18:39] radokristof commented on #55
Thanks for your help :) I think I have to seperate them, because one function node can only run one function. But this might work...

[2019-03-08 18:57] NorthernMan54 commented on #45
I have been watching your changes around linked services, and am thinking to revisit this after it settles down a bit.  If you switch to a characteristic/event approach it is simple to implement, but at the service level it is complex.

I’m also thinking of my complementary node to yours, hap-NodeRed, and how I need to change its internal model to stop following a characteristic based approach and

[2019-03-08 22:46] Shaquu opened #57 "Preparing for release 0.6.0"
From a while we were adding more to dev branch. It's time to finally make it to release 0.6.0.

What I need from you is to test it AGAIN and report it as below.

- Linked Services - #41
- Mdns Configuration - #44
- Filter on topic
- NO_RESPONSE trigger - #48
- onIdentify - #54
- Backward Compatibility (MOST IMPORTANT)

Calling contributors but all are welcome to help!
@radokristof @crxporter @flic

[2019-03-08 22:48] radokristof commented on #57
No_Response should work on every valid characteristics?

[2019-03-08 22:50] Shaquu commented on #57
I think it should work for all valid REQUIRED characteristics.

[2019-03-08 23:07] Shaquu commented on #54
Thanks! So I live it as is for now.
If anyone has more question on that - for example issues then please comment here so I will reopen.

[2019-03-08 23:07] #54 closed

[2019-03-08 23:18] Shaquu commented on #44
@sjorge Let's begin designing it :)
Neither is cool for me... We need to make something nice here.

Current
![current](https://user-images.githubusercontent.com/2881159/54061342-baa01f80-4200-11e9-861f-5246737d54f9.png)

Option 1
![option1](https://user-images.githubusercontent.com/2881159/54061353-c390f100-4200-11e9-9e3f-c3eff269db8c.png)

Option 2
![option2](https://user-images.githubusercontent

[2019-03-08 23:52] crxporter commented on #57
I thought all was good then I noticed an issue with linked services and backwards compatibility. It appears all of the items that were in my system before updating are shown as "linked services" instead of "parent services" after updating to the dev branch. This doesn't seem to break anything - but it could cause confusion for people upgrading and wanting to add linked services...

I think pre-exi

[2019-03-08 23:57] crxporter commented on #57
Another interesting thing happening - deleting items from node red used to make them disappear immediately from the Home app.

This is not happening on 0.6.0 - seems to now be required to restart node-red for deleted items to be removed from the Home app.

[2019-03-08 23:58] crxporter commented on #44
I like option 1.

[2019-03-08 23:59] radokristof commented on #57
@crxporter In my opinion this should be the next priority, to work out somehow so that we don't have to restart node-red every time, just deploy to detect changes (add items, delete items, change items...).

[2019-03-09 00:07] crxporter commented on #57
Generally if you add an item just once and hit "deploy modified nodes" things will work just fine without restart. As long as you don't hit "deploy" when the homekit nodes have been modified everything is fine and dandy.

Adding new items works fine without a node-red restart. Just don't run a full deploy.

Even deleting used to work without a restart of node-red... I just noticed today with 0.6.0

[2019-03-09 00:23] radokristof commented on #55
Ok, so I had to download a different node which supports npm libraries.

I have created my nodes, there is a few, but I don't know which part of it makes Node-RED really slow, and for example now, it can't even start....

[2019-03-09 07:05] sjorge commented on #44
Option 1 for me too

[2019-03-09 08:28] matthiasseemoo commented on #44
hi @Shaquu,
thanks for the update. I copied the homekit.html and the lib/HAPBridgeNode.js from your commit into my /home/pi/.node-red/node_modules/node-red-contrib-homekit-bridged/ directory. The configuration options show up in the interface, however, it does not have an effect on the mdns operation. If I change the port to 5454 and even after restarting the nodered service, there is nothing list

[2019-03-09 13:01] djiwondee commented on #50
Hello @crxporter,

FYI: I'm just dealing a little bit with some of the  so called **General  Characteristics** as described in the [Wiki](https://github.com/oliverrahner/node-red-contrib-homekit-bridged/wiki/Characteristics). I tried to add `BatteryLevel` and `StatusLowBattery ` on my Humidity and Temperature sensor. No effect in the Home.app. Node-red is showing the the following message in the l

[2019-03-09 13:35] radionoise commented on #48
I'm glad to say, that NO_RESPONSE feature was improved in this PR: https://github.com/oliverrahner/node-red-contrib-homekit-bridged/pull/58.

[2019-03-09 14:35] crxporter commented on #50
@djiwondee, are you running the 0.5 release or the dev branch? Battery status is a little different (uses a linked service) and is almost ready, should be in the next release.

Wiki examples will follow shortly.

[2019-03-09 14:43] crxporter commented on #50
Looking at the general characteristics table- I probably shouldn’t have put battery on there.

[2019-03-09 14:50] djiwondee commented on #50
Hello @crxporter, I'm running 0.5.1 (the current official release I guess). As I wrote above, other HomeKit apps on iOS showing the battery data for my temperature, co2 and humidity sensors. The following example is from a temperature sensor:

![Bildschirmfoto 2019-03-09 um 15 46 21](https://user-images.githubusercontent.com/37173958/54073056-08f60280-4283-11e9-91e7-917c9715f32e.png)

[2019-03-09 14:55] crxporter commented on #50
This is cool- I’ve known some apps support additional stuff but I’ve never tried them.

The next release will allow us to add battery level % as well as low battery alerts from homekit. It’ll show rightnin the home app!

[2019-03-09 16:54] Shaquu commented on #44
Okay, @crxporter and @sjorge thanks for opinion. Option 1 landed on dev.

@matthiasseemoo thanks for checking. I am gonna debug it now.

[2019-03-09 16:54] Shaquu commented on #57
Thanks for comments :)

So one by one.

1. Services should be default isParent set to true. It's strange that you have it set to Linked Service at default... Hmm. Are you sure you were testing last dev? I will check.
2. Fixing bugs correlated with need to restart node-red to make it work will be a main feature of next release (0.7.0). I really hate those bugs ;/
3. MDNS looks like not working. Got

[2019-03-09 18:56] Shaquu commented on #44
@matthiasseemoo please check on newest dev branch.
In last commit I fixed some validations in the code.

[2019-03-10 12:43] Shaquu commented on #56
@radokristof I always try to be sure that dev is backward compatible (in most cases) but sometimes something bad can happen. Always backup before updating and keep to last dev to be a happy person with newest features ;)

[2019-03-10 13:24] sjorge commented on #53
Is this something that will eventually be tacked? If so I will leave my horrible persistant nodes in place.
While driving today I though of a way better way to do it, but having that option as a toggle on the homekit service, would of course still be 100x better :) (Thanks for all the work so far BTW!)

[2019-03-10 13:34] sjorge commented on #41
Some fun things i noticed, I export my Aeotec MS6 as a Motion service with a linked temperature service that also has the light and humidy properties set... If I move the motion to a new room in homekit, the temperature sensor now follows. Which is nice!

I switched to zwave2mqtt so I do not have a battery service atm as that property is currently not coming in over mqtt :(

[2019-03-10 17:07] Shaquu commented on #53
Thanks for a thanks :)
Next release should be about fixing many problems and adding feature to save accessories per bridge.
It’s good to comment right now how do you see it so I can plan better how to make it.

[2019-03-10 18:21] crxporter commented on #53
Could this be the right place to talk about initial and restore on restart values?

Examples:
Set my presence switch is on at reboot
Set valve type irrigation
Reset thermostat to my preferred setting

And so on.

[2019-03-10 19:08] Shaquu commented on #53
Yup, it’s time for that.
Setting initial values should be another text area in node editor in my opinion.

[2019-03-10 19:16] flic commented on #57
Sorry I'm a bit late!  Filter on topic works fine on the dev-branch.

[2019-03-10 19:19] sjorge commented on #53
I see two 'clean' solutions for this.

Option 1, add a checkbox called `persist` to the service node.
When this is set, the values are store everytime they are update (or once every minute or something on change) and restore at startup.

Option 2, have a table where you can set characteristics and either set a value or `restore` for that characteristic. If a value is provided, that will be the val

[2019-03-10 19:45] sjorge commented on #53
I guess option 2 would replace the current textbox to set default values. (Keeping this backwards compatibly should be possible if you parse the json in that field and use that as a basis to display the table.

`{"MotionDetect": true} `would then map to a MotionDetect characteristics with default value of 'true'

`{"MotionDetect": false, "StatusTamper": restore}` would then map to to a MotionDetec

[2019-03-10 19:47] crxporter commented on #53
Recent discoveries have revealed that the current text box doesn't SET values it just tells HomeKit to expect those values.

[See discussion around here](https://github.com/oliverrahner/node-red-contrib-homekit-bridged/issues/50#issuecomment-470970355)

[2019-03-10 19:49] sjorge commented on #53
Well that would make it even easier to keep backwards compatibility!

[2019-03-10 19:52] crxporter commented on #53
I like the table idea - what if each item on the table has two check boxes and a field?

Check box one says "enable this feature" (for example I'm using a dimmable bulb)
Check box 2 says "restore on startup?" (enable persistence)
The field can hold an initial value (ValveType 1 for irrigation)

[2019-03-10 19:55] Shaquu commented on #53
So it will be a table :) I am pretty excited for that.

[2019-03-10 19:58] sjorge commented on #53
Something like:
[code]

`[ ]` is a checkbox
`{label}` is a button
`(text)` is a textbox

[2019-03-10 20:18] Shaquu commented on #57
@flic thanks for confirmation!

@crxporter please check newest dev for fix for default value Parent when moving to version 0.6 - should now work.

[2019-03-10 20:21] crxporter commented on #57
Off to install the 0.5 and run the update again... Stay tuned.

[2019-03-10 20:31] crxporter commented on #57
LGTM - 0.5 nodes default to parent service in 0.6.

Just missing the NO_RESPONSE from @radionoise now, right? It's still working the "old way" before his new PR.

[2019-03-10 22:01] Shaquu commented on #57
Yes, his PR need changes in readme so people know about his feature.

[2019-03-10 23:11] matthiasseemoo commented on #44
hi @Shaquu,
installed the latest dev version, however, binding to a particular IP address still does not work. If I run homebridge, using the mdns settings in the issue above, I get the following output:
[code]

Here you can see, that the mdns service is really bound to the ip 192.168.188.29 and I can also find the homebridge in the Home app under iOS. However, if I only run node-red and add a hom

[2019-03-11 04:08] crxporter commented on #56
I’m going to close this one, if anyone has more questions about the air purifier or filter feel free to ask here anytime!

[2019-03-11 04:34] Shaquu commented on #44
Thanks for feedback! I will look at this today evening.

[2019-03-11 07:06] Shaquu commented on #16
Camera support will not come to 0.6.0
But 0.6.0 adds a lot required stuff for Camera implementation. I think that Camera will appear in 0.7.0.

[2019-03-11 07:19] Shaquu commented on #50
@djiwondee actaully me and @crxporter figure it out few days ago that Characteristic Properties is not about initializing Characteristic itself but about thier Properties.
So you can make some adjustments here regarding required and optional Characteristics of a Service like validValues, minValue or maxValue.

@crxporter could you update wiki following our arrangements?

This is Characteristics Pr

[2019-03-11 07:28] Shaquu commented on #53
It looks like we could merge current Characterisitc Properties to this table. It's not endless JSON - I think we know all values that can get here. [Look at this](https://github.com/oliverrahner/node-red-contrib-homekit-bridged/issues/50#issuecomment-471429745).

So according to [this](https://github.com/KhaosT/HAP-NodeJS/blob/81319b35d1588453cfcb1a823805643de7df74dc/lib/Characteristic.js#L53) her

[2019-03-11 13:16] crxporter commented on #50
I’m not sure if I fully understand this yet.

I’m planning to continue updating the wiki as I have time. Currently most of the services and characteristics pages are based on the apple protocol document.

I will experiment with minValue, maxValue, etc. and update based on my findings.

[2019-03-11 13:28] Shaquu commented on #50
Read 5.3.3 in docs.

[2019-03-11 13:31] crxporter commented on #50
Thanks.

I also need to see if minValue, maxValue, etc have any changes to the Home app when used in the "Characteristic Properties" field.

[2019-03-11 15:34] crxporter commented on #50
@Shaquu - we are on to something!

That's what the values in characteristic properties do - my first test of this was to make a security system with no "night" mode:

<img width="253" alt="Screen Shot 2019-03-11 at 10 28 28 AM" src="https://user-images.githubusercontent.com/38265886/54135823-89824380-43e8-11e9-8ba9-03a1315351e1.png">

Characteristic properties looks like:
[code]

I need to look in

[2019-03-11 15:39] Shaquu commented on #50
I hope you have a lot of free time :)
There was an issue regarding this here #34

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-11 17:04] crxporter commented on #29
This is an old issue but I’m pretty sure it can be handled in function nodes.

I think this is a harmony remote linked to an infra red fan. The original question is how to have all information sent from homekit together.

This would be:
- on/off
- fan speed
- rotation direction
- swing state

This can be handled in a function node with context.get variables. The function would have to hold on to t

[2019-03-11 22:50] Shaquu commented on #48
I am closing this Issue.

Improvement merged into dev. Made by @radionoise and confirmed by @crxporter - thanks guys!

If you have a problem then first head to [this section in README](url
https://github.com/oliverrahner/node-red-contrib-homekit-bridged/tree/dev#no-response).
If it didn't help then feel free to open new Issue.

[2019-03-11 22:50] #48 closed

[2019-03-11 22:52] Shaquu commented on #41
Yes, I think linked services should follow their Parent Accessory :) It's cool!
Does anyone have something more to add in this Issue? I would like to close it.

[2019-03-11 22:54] sjorge commented on #41
It's working great as it is now on the dev branch, so I will close it! On to the next awesome update/feature!

[2019-03-11 22:55] Shaquu commented on #55
I found node for color conversion - [HERE](https://www.npmjs.com/package/node-red-contrib-color-convert)

Install it and add function for RGB <> RGBW

[2019-03-11 22:56] radokristof commented on #55
This is cool! Thank you very much. I will try this out later this week

[2019-03-11 23:42] crxporter commented on #41
Just another interesting thing here - this is how native homekit accessories work.

For example ecobee room sensor will show temperature, motion, and occupancy. If you change room for one, the others follow.

It's really cool to see this plugin having so many features that are the same as the "real stuff"!

[2019-03-12 01:19] crxporter commented on #50
@Shaquu - It's not a "default" or "start value" but I can make new valves appear as sprinklers now without injecting "ValveType"

[code]

Some more progress:

Light bulb default color-changing with 5% increments on brightness:
[code]

**I need some help on this one.** It's a 6-button stateless programmable switch. This is one I've wanted for a long time - so I can send automations into homekit - a

[2019-03-12 05:26] crxporter commented on #50
Upon further reading, it appears the service label has 2 options for labels:

`{"ServiceLabelNamespace":0}` shows names like "ONE DOT", "TWO DOT", etc.

`{"ServiceLabelNamespace":1}` shows names like "BUTTON 1", "BUTTON 2", etc.

Note the "ServiceLabelIndex" range starts at 1 - not 0 like a typical javascript array.

Configured a bit it looks like:
![IMG_FDF5B1A53837-1](https://user-images.githubu

[2019-03-12 09:45] radokristof commented on #50
Can I use `minValue` and `maxValue` in other properties as well?
Like I have a lamp with Color Temp, but I can select a temperature in HomeKit which the lamp can't represent. Can I set a min and max value for this as well?

[2019-03-12 09:51] Darkmelman opened #60 "Lightbulb shown as OFF in home app."
Hi,

i have the following problem:

When i inject {"On": true} to the homekit node (Service Lightbulb) then the there is not status update in the homekit app. The Lightbulb stays there off.

What is the correct payload to change the status?

Thanks!

[2019-03-12 10:16] Shaquu commented on #60
How do you inject this?
Could you share your flow?

[2019-03-12 10:18] Shaquu commented on #50
@radokristof I think yes.
Default are:
[code]

[2019-03-12 10:22] Darkmelman commented on #60
![Screenshot from 2019-03-12 11-19-12](https://user-images.githubusercontent.com/35365033/54192790-0bda3880-44b9-11e9-9b31-027fd5b8bdf9.png)

[2019-03-12 10:27] radokristof commented on #50
Yes it works!!

`    "ColorTemperature" : {
        "minValue": 154,
        "maxValue": 370
}`

In the near future, everything will be like in a native HomeKit. Great! I will add this to the documentation.

[2019-03-12 10:36] djiwondee commented on #50
Guess it works on a dev branch, right? Because in my Home.App I still don't see the battery level in the service characteristics:

![Bildschirmfoto 2019-03-12 um 11 31 40](https://user-images.githubusercontent.com/37173958/54193590-b3a43600-44ba-11e9-9530-d407948d447a.png)

[2019-03-12 10:40] Shaquu opened #61 "Organization name change"
As you see repository got moved from @oliverrahner to Organization.
And as a current organization name is a little bulky I think we can discuss here a little about a new name - definietly a shorter one.

Anyone has any idea?
@radokristof @crxporter @flic @radionoise @emilingerslev and the rest of good people here. I call you!

[2019-03-12 10:43] radokristof commented on #61
What kind of name do you want to have? Independent from Node-RED and HomeKit or somehow connected to these or both of them. Like `Node-RED-HAP` or something else...

[2019-03-12 10:50] djiwondee commented on #61
My two cents: ``Node-RED-Contrib`` or ``Node-red-HAP-contrib``and may be the repo to be changed to ``HAP-bridged``

[2019-03-12 10:58] Shaquu commented on #61
I feel like calling it HAP is a llittle to much. HAP is about providing api and we provide a game ready tools. It’s difficult to say what I think for now :)

Do we plan on making something more then this module alone?

[2019-03-12 11:01] djiwondee commented on #61
Hi guys,

you are the contributors, I'm just a consumer of your _very nice_ game ready tools. So I like what you do, feel free to decide. I just thought some branded names would be help to identify the stuff quickly.

[2019-03-12 11:03] NorthernMan54 commented on #61
For something else, there is my complimentary node that I’m working on, hap-NodeRed, which exposes all existing homebridge devices to NodeRed.

https://github.com/NorthernMan54/HAP-NodeRed

Having the two together does make some sense.

Sent from my iPad

[2019-03-12 11:04] radokristof commented on #16
I'm also considering adding some cameras to my home setup.
What is missing right now to implement Camera Service? As I know, it only supports RTSP streams?

[2019-03-12 11:10] djiwondee commented on #61
Hello @NorthernMan54,

good to know. I haven't tried to ask exactly for the way vice versa in this repo.  Since HAP provides with ways for accessing Apple HomeKit, it would be reasonable to go this way too

[2019-03-12 11:15] NorthernMan54 commented on #61
For organizations, we have this one sitting dormant

https://github.com/homebridge

Last summer we were looking at getting it going, but lost momentum.

[2019-03-12 11:18] crxporter commented on #50
Yes battery is on dev branch.

However the battery information is another service - not a characteristic property.

I will do a battery+temp sensor example tonight - it needs to be done as a linked service.

[2019-03-12 11:22] Shaquu commented on #61
Node-RED-Contrib is too general as we are not the only one who works on this (node-red-contrib- is the naming pattern for node-red modules).
And as you see Node-RED-HAP or HAP-NodeRed is already taken by @NorthernMan54

@NorthernMan54 does it applies for us? I think we have no direct relation with Homebridge except parent HAP-nodejs.

[2019-03-12 11:24] Shaquu commented on #16
Time :)
And I assume yes. Only RTSP is supported directly.

[2019-03-12 11:38] RaymondMouthaan commented on #16
@Shaquu, you probably have seen this https://github.com/KhaosT/homebridge-camera-ffmpeg project, but in case you haven't, it might be useful to you.

[2019-03-12 11:40] crxporter commented on #16
The functional but not full featured one I’m using on a pi zero is https://github.com/moritzmhmk/homebridge-camera-rpi

[2019-03-12 11:45] RaymondMouthaan commented on #16
@crxporter, I am not (yet) a camera user and I am very curious about how it looks on the Home App and or Eve App. Could you share some screenshots? 😃

[2019-03-12 11:46] crxporter commented on #60
Have you tried pasting in the flow from [this wiki page](https://github.com/node-red-contrib-homekit/node-red-contrib-homekit-bridged/wiki/Example-Bulb#onoff-light)

See [here](https://nodered.org/docs/user-guide/editor/workspace/import-export) if you’re not sure how to import flows. You’ll want to copy the whole code block from the wiki right under “Copyable Node-RED flow”

[2019-03-12 11:53] crxporter commented on #16
This is how it looks right now - but the fun part is in the smart notifications. For example if I turn on homekit notifications for my motion detector when there is a camera and a door lock in the room then my "motion detected" alert is a view of the room with 2 buttons: one to turn on the room lights and one to unlock the door.

The 3rd screenshot is not from me but looks the same if I turn on th

[2019-03-12 11:59] crxporter commented on #50
@radokristof - limiting color temperature was going to be one of my first examples on this!

I'm happy to let you make that example on the wiki, please add it as a new "Color Temperature Bulb" example!

[2019-03-12 12:05] Darkmelman commented on #60
I have tested the code from the wiki page with the same result.

The Light is showing as "OFF" in the home app.
Only when i tap the icon in the home-app the status switches from OFF to ON.

![Screenshot from 2019-03-12 13-04-46](https://user-images.githubusercontent.com/35365033/54198684-72665300-44c7-11e9-96d2-990e87fd6f94.png)

[2019-03-12 12:08] radokristof commented on #50
@crxporter Ready. Also added little format to the texts.

[2019-03-12 12:14] crxporter commented on #60
Have you restarted node-red? There is a known bug that requires pretty frequent restarts if you’re not deploying only modified nodes.

Past that - please paste your whole flow here so we can look. Please remember to use code fences when you paste here.

[2019-03-12 12:30] NorthernMan54 commented on #61
My personal opinion is that homebridge is the marketing name, and hap-nodejs is the technology name for the open source HomeKit implementation.

Hence my preference for homebridge.  With my node I’m going to revisit naming before I publish to the world, and am not likely to keep the existing name.

[2019-03-12 12:32] Fearraiser commented on #61
IMAO, If we want a unique name, then we can follow the path of the homebridge project:
The BRIDGE for HOMEKIT accessories was named the "Homebridge".
This project is a implementation of the BRIDGE for HOMEKIT based on NODE RED.
May be something like a "Reddbridge" will be a good name?

[2019-03-12 12:46] Shaquu commented on #61
Homebridge RED?
Just like CDProjekt RED :)

[2019-03-12 12:56] Fearraiser commented on #61
:) Also we can make the Heater accessory with name Red Heat and make logo with Arnold Schwarzenegger!

[2019-03-12 12:58] Darkmelman commented on #60
You are right! A restart of node-red solved the problem!
Thank you very much!

Can you tell me more about the known bug?

Regards!

[2019-03-12 13:02] crxporter commented on #61
“Homebridge” is a whole other thing... I would recommend to differentiate from them as this is a stand alone project

In my brain homebridge is taken...

[2019-03-12 13:05] Fearraiser commented on #61
I suggest to take only the project's name creation logic. Nothing more...

[2019-03-12 13:06] crxporter commented on #60
I personally don’t do the programming. I know that you can avoid the bug a lot if you only deploy modified nodes and if you don’t change the homekit ones.

Version 0.6 is almost ready.

This bug is a milestone for version 0.7 - hopefully coming soon!

Until then, plan on restarting node red whenever you modify a homekit node.

[2019-03-12 13:08] TristanMW opened #62 "Unable to add Accessory"
I followed the how-to regarding the install of contrib-homekit-bridged but it doesn't seem like it installed correctly.

I am unable to edit/add an accessory
Attached is a image on my issue
![Screenshot 2019-03-12 at 15 06 42](https://user-images.githubusercontent.com/33277505/54202338-7b135500-44d8-11e9-8392-74cb97c02f5b.png)

Please advise on what I should do to fix it

Thanks a lot!

[2019-03-12 13:09] TristanMW commented on #62
I am using a raspberry pi

[2019-03-12 13:14] Shaquu commented on #62
Hello @TristanMW  I am happy you are here :)
Indeed it looks like you did not installed our module properly.

Go to your node-red root folder (possibly ~/.node-red/)
Go to node_modules and look what node-red-contrib modules you got there. I assume you have something else installed called homekit aswell.

[2019-03-12 13:15] Shaquu commented on #62
You can install module from root of node-red using:
`npm i node-red-contrib-homekit-bridged`

Or just install it via node-red panel.

Remember you need avahi too:
`sudo apt-get install libavahi-compat-libdnssd-dev`

[2019-03-12 13:17] TristanMW commented on #62
I used to have the original contrib-homekit node until I found that this version which is active.

Removed it then tried installing this version ... is it possible that the old files are still there?

_Remember you need avahi too:
sudo apt-get install libavahi-compat-libdnssd-dev_ - Did this aswell

[2019-03-12 13:19] TristanMW commented on #62
![Screenshot 2019-03-12 at 15 19 23](https://user-images.githubusercontent.com/33277505/54203130-430d1180-44da-11e9-8f03-f25397b00899.png)

[2019-03-12 13:20] Shaquu commented on #60
As it is sort of resolved then I am going to close the Issue.

Bug is bad and I don't have clear answer why it appears yet but I think I am close to find it.

@crxporter thanks for aiding a problem.

@Darkmelman I hope you gonna stay with us for a while :)
Feel free to disscuss in Issues and create new ones if you have a problem or idea.

[2019-03-12 13:20] #60 closed

[2019-03-12 13:23] TristanMW commented on #62
![Screenshot 2019-03-12 at 15 22 29](https://user-images.githubusercontent.com/33277505/54203292-ae56e380-44da-11e9-83ee-e40aa6c6a9f9.png)
Is the homekit-bridge node supposed to be greyed out?

Apologies for all the images - easier to explain then trying to describe with words

[2019-03-12 13:29] Shaquu commented on #62
Images are completly fine!!

Okay so let's do this:

- show me content of package.json (root of node-red)
- uninstall node-red-contrib-homekit-bridged, make sure folder is removed

Are you creating new nodes in node-red or trying to modify the old one?
Grey color is fine as it is config node - not possible to add manualy from sidebar.

Have you restarted node-red?
Have you refreshed your page wher

[2019-03-12 13:36] TristanMW commented on #62
package.json:
![Screenshot 2019-03-12 at 15 35 57](https://user-images.githubusercontent.com/33277505/54204275-8f595100-44dc-11e9-8370-290ac7448d5a.png)

**_uninstall node-red-contrib-homekit-bridged, make sure folder is removed_** - Will do this now

I am creating a new one and double checked that all old accessories were removed from the "configuration node" tab next to debug

I have not restart

[2019-03-12 13:37] crxporter commented on #50
@radokristof awesome! I’ll check it out after work!

@shaquu I see you’re around right now, do you have any comments on my questions a few posts up? Mostly on the service label namespace. I’m hoping to have as much information as possible to continue my wiki work!

[2019-03-12 13:45] TristanMW commented on #62
Agggg TRISTAN!

So restarting nodered-service and pi reboot (just incase) fixed the issue ...

Thanks a lot Shaquu

[2019-03-12 13:46] TristanMW commented on #62
hahahahaha

[2019-03-12 14:11] Shaquu commented on #62
Good for you @TristanMW !!

Closing :)

[2019-03-12 14:11] #62 closed

[2019-03-12 14:19] NorthernMan54 commented on #61
Are there two different names required, one for the organization and one for each node ( this one and mine )?

I consciously try to avoid using HomeKit in any naming etc, to avoid the potential for trademark infringement etc.

[2019-03-12 14:24] Shaquu commented on #50
@crxporter Ups you got me :) But actaully I am not at home and your questions are not easy for me to answer. I don't own Homekit Hub so I assume I cannot work with Stateless Programmable Switch.

If it's about ServiceLabelNamespace then we can try to send value other then 0-dots or 1-arabic (2? 3?).
2 to 255 are reserved but maybe current Homekit already use it but we don't know this?

I think not

[2019-03-12 14:26] Shaquu commented on #61
@NorthernMan54 they are not. It's about shortening it :)
So we can really choose name for organization that doesn't defines us completly and gives us a little space.

[2019-03-12 15:34] RaymondMouthaan commented on #16
@crxporter, thanks for the screenshots and use-case :+1: , any recommendations for a good quality camera? I might consider buying one to play around :-)

[2019-03-12 15:40] crxporter commented on #50
I came up with the same as you. It seems we just have 2 options (0,1) for service namespace choosing one dot, two dots, etc OR button 1, button 2, etc. The undefined values are just that - undefined and reserved. I don’t see anyone else who has added names to these.

The button (single double long) press names seem similar. (0,1,2) are defined - 3-255 are reserved.

I haven’t seen anyone else arou

[2019-03-12 16:24] crxporter commented on #16
I’m running on a pi zero w with the official pi camera! Works great I just stuck it on the wall with two sided tape.

[2019-03-12 18:03] Shaquu commented on #44
@matthiasseemoo
Okay. I added fix on dev branch.
I think in your case you should set interface and not ip?

[code]

[2019-03-12 18:15] Shaquu commented on #16
Is it possible to stream RTSP from computer?
If yes then please tell me how. If not the I will code blindly :)

[2019-03-12 18:49] crxporter commented on #38
The doorbel service is ready as far as I know - but has been disabled in iOS and Mac OS home apps.

It used to be listed on their website - it is not currently.

I believe we need an iOS / Mac update for this one. Anyone running iOS public beta? It could be added back any time.

Essentially it works the same as a stateless programmable switch.

[2019-03-12 19:00] matthub commented on #16
IIRC VLC should be able to stream a file, see https://support.spinetix.com/wiki/Tutorial:Streaming_using_VLC HTH

[2019-03-12 19:30] djiwondee commented on #38
Haven’t tried stateless programmable switch. Right now I’m using motion detection for exact the purpose hardware door bell button has been pressed or not.

[2019-03-12 20:09] crxporter commented on #38
I just tried it on my phone and - it does work kind of...

Homekit shows "not supported" like this:
![IMG_87E84FAE8F28-1](https://user-images.githubusercontent.com/38265886/54232165-6d61cd80-44e0-11e9-915c-77b0479f7734.jpeg)

But if I send a signal like `{"ProgrammableSwitchEvent":0} then I get alerts from the home app:
![IMG_62CBE0589846-1](https://user-images.githubusercontent.com/38265886/54232

[2019-03-12 21:16] matthiasseemoo commented on #44
Hi @Shaquu,

thank you very much for the clarification. I misinterpreted the names. Could you maybe change them or alternatively their description to clarify what is expected. I would suggest to rename "interface" to "interface IP" and "IP" to "multicast IP".

Matthias

[2019-03-12 22:11] crxporter commented on #61
I just noticed I'm using links in README and in the wiki that include the current name...

Let's pick something so we can get on with the fun stuff!

I vote node-red-homekit-bridged as that's what will likely be most recognizable when people search. If anyone has something good for the organization, let's have it...

Summary of above:
- HAP is the API we use
- "Homebridge" is [taken](https://homeb

[2019-03-12 22:34] NorthernMan54 commented on #61
@Shaquu @crxporter

What about

@homebridge/node-red-contrib-homebridge-platform ( For this )
@homebridge/node-red-contrib-homebridge-control ( For mine, I'm not married to control but was trying to a word to indicate controlling or automating homebridge )

[2019-03-12 23:06] crxporter commented on #50
@djiwondee - the battery example just landed on the [wiki](
https://github.com/node-red-contrib-homekit/node-red-contrib-homekit-bridged/wiki/Example-Temperature-Sensor#temperature-sensor-with-battery).

I took your temp sensor example and added battery service. Requires dev branch today.

The appearance in the Home app is the same as my official homekit compatible door lock.

[2019-03-13 05:10] crxporter commented on #38
**Update. This works great.**

Steps to reproduce:

1. Make a doorbell service
2. Put it in the same room as a camera/lights/door lock
3. Send the payload `{"ProgrammableSwitchEvent":0}`

It seems like when I was testing earlier the bell item was either in a different room or I was sending a 1 or 2 to the ProgrammableSwitchEvent.

You won't be able to adjust the settings in homekit, it will show "

[2019-03-13 07:10] Shaquu commented on #61
First problem.
Is it fine to use homebridge organization name if we don’t own homebridge project?
They can put us down eventually...

And even if we move to your organisation then I don’t think we can change the name - we could lose our position in npmjs and node-red repo.

[2019-03-13 07:42] djiwondee commented on #50
Helle @crxporter,

Looks good even I would not expect that it has to work in this way. On an abstract level BatteryStatus and/or charging level is not different form StatusActive or any other property. But if this is they way how to design it, I’m ok with that and thanks for the work on that.

I‘m still wondering why other apps showing that property if it is set in the characteristics in the node

[2019-03-13 11:01] crxporter commented on #50
@djiwondee, all I can tell you is the wiki example is exactly how a genuine official Apple certified homekit device will look and act.

We know other apps can show all kinds of characteristics, even custom ones... I tried to get the StatusLowBattery to show up in homekit but it just won’t. I will read up on it in the homekit protocol again tonight to see if I missed anything...

PS did you see I g

[2019-03-13 11:05] djiwondee commented on #50
Hello @crxporter,

yes I saw your doorbell example. Was it with release 0.5.1? If yes I would give that another try in the next couple of days. Otherwise I would wait for 0.6.0. However there recent work on the development looks promising anyway. I'm really happy to see that this repo is not about to get abandoned. Since ether is so much change on smart home tech it is good to see there is a commu

[2019-03-13 11:12] crxporter commented on #50
@djiwondee - On the doorbell I don’t know of any changes to 0.6 that would have made this work if it didn’t work in 0.5. I put the comment because I don’t think my 0.6 code can be pasted into 0.5. Try it out and let us know!

[2019-03-13 11:17] Shaquu commented on #44
Okay I will clarify that!
What about (according to [this](https://nodejs.org/api/dgram.html#dgram_socket_addmembership_multicastaddress_multicastinterface)):

- ip => multicast address ip
- interface => multicast interface ip

[2019-03-13 11:36] djiwondee commented on #38
Hello @crxporter,

have just tested that simple doorbell setup within 0.5.1:

![image](https://user-images.githubusercontent.com/37173958/54275526-241a8800-458b-11e9-9015-c6c2719c9c62.png)

`[{"id":"703c0240.785004","type":"homekit-service","z":"9f4a80ed.e417","bridge":"890aedc6.d0b418","name":"Dooor","serviceName":"Doorbell","topic":"","manufacturer":"Default Manufacturer","model":"Default Model"

[2019-03-13 11:39] djiwondee commented on #50
@crxporter - for

please see the [initial thread](https://github.com/node-red-contrib-homekit/node-red-contrib-homekit-bridged/issues/38#issuecomment-472386815) with my test on 0.5.1.

[2019-03-13 14:01] crxporter commented on #38
Interesting - this isn't what I'm seeing. Every time I send the `{"ProgrammableSwitchEvent":0}` I get the "rich alert"

The room is important for the rich notification. See above when I force-touch the notification I get a view of my camera, the option to turn on lights, and the option to unlock my door.

Anyway I think as far as the node-red-contrib-homekit project is concerned, this is about all

[2019-03-13 21:28] Shaquu commented on #55
How the thing are going?

[2019-03-13 21:31] Shaquu commented on #57
Last checks guys!
I am planning to make a release tomorrow evening so we can head to more important stuff like bugs...
I hope nothing brakes :|

[2019-03-13 23:29] radokristof commented on #55
I'm working on it, but this still looks not an easy job... I don't really know much about color spaces.

`[{"id":"795ba8b9.c81338","type":"function","z":"5b421c97.903ae4","name":"Translate for HomeKit","func":"var input = msg.payload;\n\nvar h = input[0];\nvar s = input[1];\nvar b = input[2];\n\nflow.set(\"TopLEDKitchenHue\", h);\nflow.set(\"TopLEDKitchenSat\", s);\nflow.set(\"TopLEDKitchenBright\

[2019-03-13 23:58] crxporter commented on #57
Just updated to node-red 0.20.0 and installed a fresh dev branch.

I updated a different node through the palette manager and for some reason I was put back on 0.5.1 - but replacing the folder again got me right back to "everything looks good"

No new problems here on 0.6.0 or node-red 0.20.0.

[2019-03-14 00:50] NorthernMan54 commented on #61
I was thinking about this further, and my project will only work with Homebridge exposed devices, so needs a tighter relationship with Homebridge, but that restriction does not exists with your work here.  So linking this work tightly with Homebridge doesn’t make a lot of sense.  So I'm withdraw my earlier suggestion.

[2019-03-14 17:08] sjorge commented on #41
I occasionally get
```"Error: Parent Node not assigned```

When this happens the parent node shows as 'No Reponse' in homekit.

[2019-03-14 17:08] sjorge commented on #41
I occasionally get
```"Error: Parent Node not assigned```

When this happens the parent node shows as 'No Reponse' in homekit.

Edit: This seems to happen on a full deploy only

[2019-03-14 17:17] Shaquu commented on #41
There are two options:

- Parent Service not assigned
- race between Parent and Linked nodes, and second one is starting as first...

[2019-03-14 17:20] sjorge commented on #41
To reproduce:
- Add ServiceA (e.g. batteryservice), type = Parent
- Add ServiceB (e.g. MotionSensor), type = Parent
- Update ServiceA, type = linked, parent = ServiceB
- Full Deploy

I think node are deployed in the order they are added to the flow. So in this case ServiceA the linked service is started before ServiceB the parent service. And thus fails.

I was only experiencing this with one serv

[2019-03-14 19:17] crxporter commented on #61
What about our initials?

NRCHKB/node-red-contrib-homekit-bridged

Do we have to put something before the / ?

[2019-03-14 19:37] Shaquu commented on #61
Initials are good idea actually:) Better then the full name.

[2019-03-14 19:42] Shaquu commented on #44
We must go further so I close this Issue.
Thank you very much for this feature idea.
I hope you stay with us here for a longer time.
If you want you can contribute with more ideas or by creating our wiki.

[2019-03-14 19:42] #44 closed

[2019-03-14 21:34] #61 closed

[2019-03-14 21:42] radokristof commented on #57
@Shaquu are you planing to push 0.6 to master today?

[2019-03-14 22:27] Shaquu commented on #41
@sjorge fixed on dev. Please test it ASAP!

[2019-03-14 22:27] Shaquu commented on #57
@radokristof I would like to do it but we need to retest Linked/Parent Services again due to changes in #41

[2019-03-15 06:54] sjorge commented on #41
Fixed! 👍

[2019-03-15 07:06] Shaquu commented on #41
Closing again. I hope didn't break by fixing...

[2019-03-15 07:06] #41 closed

[2019-03-15 07:13] Shaquu commented on #53
I have made a working concept [here](https://codepen.io/shaquu/pen/NJadwZ).
![Zrzut ekranu 2019-03-15 o 08 11 21](https://user-images.githubusercontent.com/2881159/54414598-fef85780-46f9-11e9-8758-0bfc58b5322d.png)

[2019-03-15 07:25] sjorge commented on #53
Maybe also add a to colomn that lists the type of the characteristic? As there seem to be a few like book, unint8, ...

[2019-03-15 07:33] Shaquu commented on #53
List for information or choice?
If second then we can put value in characteristics properties as in the 0.5

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-15 07:38] sjorge commented on #53
Just an informational field that show the correct value from https://github.com/KhaosT/HAP-NodeJS/blob/master/index.d.ts#L269 for the selected characteristics.

[2019-03-15 08:11] Shaquu commented on #53
I see. But how to do it smartly? Remember that user could change characteristic type in properites (I think). So worst situtation is when in properties it's _int_ but we show info that it's _string_.

[2019-03-15 08:48] Shaquu commented on #53
Okay I added placeholder on default value.

[2019-03-15 09:24] Camaendir opened #63 "All Service-Caracteristics"
I am pretty new to node-red and homekit. Is there a list of all supported characteristics i can use to customize my nodes? Or even better a simple tutorial?

[2019-03-15 10:16] djiwondee commented on #63
Hello @Camaendir ,

please look at the [Wiki](https://github.com/NRCHKB/node-red-contrib-homekit-bridged/wiki)  for that. You can find some already described examples there.

[2019-03-15 10:22] Shaquu commented on #63
To make it easier for you. There is exact place in wiki.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-15 11:08] #63 closed

[2019-03-15 14:27] crxporter commented on #57
No new errors here. Upgrading / downgrading / upgrading leaves things a bit confused but adding new stuff works as expected. 0.5 services load in properly so backwards compatibility is still good.

I'm sure users will find something else but hey- that's what 0.6.1 is for, right?!

Tested on node-red 0.20.1.

[2019-03-15 14:29] crxporter commented on #57
PS - I'll be adding a comment on my openhab post about this plugin once 0.6 is released so that those users know to come use linked services. I know there's several people watching that thread more closely than anything over here...

[2019-03-15 18:38] Shaquu commented on #57
Okay working on the merge. Thank you all!

[2019-03-15 18:38] #57 closed

[2019-03-15 18:54] Shaquu commented on #57
We are online!

[2019-03-15 19:08] Shaquu commented on #47
I am closing this Issue as it's outdated.
Next time please provide more information including your complete flow.

[2019-03-15 19:08] #47 closed

[2019-03-15 21:48] radokristof commented on #56
I have tried adding AirQualitySensor and FilterMaintenance to my AirPurifier like in your example, but it won't appear inside the AirPurifier. It is still viewable as a seperate device.

[2019-03-15 22:39] crxporter commented on #56
Paste your code please!

[2019-03-15 22:44] radokristof commented on #56
`[{"id":"da961da6.230f7","type":"homekit-service","z":"dfde00c8.7446","isParent":true,"bridge":"db6c4c1.9b703b","parentService":"","name":"Légtisztító","serviceName":"AirPurifier","topic":"","filter":false,"manufacturer":"Xiaomi","model":"Air Purifier Pro","serialNo":"123","characteristicProperties":"{\n    \"LockPhysicalControls\": true,\n    \"TargetAirPurifierState\":true\n}","x":830,"y":240,"w

[2019-03-15 22:45] radokristof commented on #56
These are the Services in one flow. Not all of them are used in one item. If you copy paste it you will see... I don't know what can cause an issue like this. I have also tried deleting and re-inserting these nodes, this didn't help either.

[2019-03-15 22:57] crxporter commented on #56
I just pasted that all in and clicked on "Levegőminőség" (air purifier) and "Légtisztító szűrő" (air filter) which appear to be marked as "linked services"

I suppose you may also be using "Légtisztító" (air purifier) up above - it has more things connected to it.

Anyway, it appears you don't have any parent services picked out for your linked services.

If you want to link "Légtisztító szűrő" as

[2019-03-15 23:00] crxporter commented on #56
Oh and (as always) don't forget to restart node-red after deploy!

[2019-03-15 23:01] radokristof commented on #56
This is what happened when I deleted and pasted my code back... But apparently this is what I have in air filter (so it is linked to the Air Purifier):
![Screenshot (103)](https://user-images.githubusercontent.com/36210568/54466091-9901e380-477e-11e9-95e0-7d6d6b6a1f7c.png)

[2019-03-15 23:04] crxporter commented on #56
Interesting - I'm going to go back to examples and actually run it all again. I just looked at your nodes a few minutes ago - I didn't run it.

Stand by.

[2019-03-15 23:04] radokristof commented on #56
Thanks!

[2019-03-15 23:07] radokristof commented on #56
Some thing I can think of:

- Maybe these freaking Hungarian (non-standard) characters makes problems (but in general, there is no problems with in in Node-RED and HomeKit as well)
- Maybe I have to create a new bridge? A new Service for these?

Now I will try to add a BatteryLevel or something to another Service...

[2019-03-15 23:10] crxporter commented on #56
Just pasted in from the example wiki. I had to set the parent node as in my last comment again - it didn't come in from the paste. The wiki example is from the dev branch though so that may not be an issue.

I'm going to make a new bridge, add in a purifier and filter, name them as yours, and see what happens.

Be right back.

[2019-03-15 23:14] radokristof commented on #56
Thanks. Do Linked Services should appear as a seperate device in HomeKit as well? Because this is what I have now. Set as Linked but showing properly as a seperate (Parent) device (both of them).

[2019-03-15 23:17] crxporter commented on #56
They appear together - as one device. Like this:
![IMG_2D6E2A7BB3EF-1](https://user-images.githubusercontent.com/38265886/54466602-63dd9d00-474e-11e9-90f5-264d406bd60d.jpeg)

Flow for this is:
[code]

I just recreated both homekit nodes under a new bridge. Hit deploy and that screenshot is what you should see in the Home app...

[2019-03-15 23:19] crxporter commented on #56
@Shaquu - it looks like linked nodes don't correctly populate the parent node when pasted in.

Try it for yourself:

[code]

Is this a bug just for me or are you seeing it as well?

[2019-03-15 23:24] crxporter commented on #56
It works fine for me. Follow these steps:

1- add a new homekit node with  a new bridge
2- set it up as "air purifier" (hungarian name is fine, see screenshot 1)
3- add another homekit node as "filter maintenance" (screenshot 2)
4- deploy and add the new bridge to home app

You should end up with an air purifier and a filter status - like in my screenshot a few minutes ago.

**Screenshot 1**
<img

[2019-03-15 23:26] radokristof commented on #56
Yes, I have created a new bridge, now it works (however I don't know why filter life is not appering, it is just blank, but I will check that). But I want to add AirQualitySensor also. But that still doesn't seen as a linked service, just as a seperate device...

[2019-03-15 23:30] crxporter commented on #56
I have not tried AirQualitySensor - it likely will be another device. You can set it up as linked and it will be moved to the same room in homekit as whatever you link it to.

The linked services are interesting, all of the combinations may not actually make sense - for example you COULD link a door sensor with a sprinkler. But you probably shouldn't.

[2019-03-15 23:32] radokristof commented on #56
Hmm, that makes sense (or not? :) ). A problem with the Filter Life not viewing can be that I'm sending the state together in on object with the FilterCondition? I will try to delay one of them...

[2019-03-16 11:57] Shaquu commented on #56
@crxporter  You called me. So, there is a bug with importing flows that make it ?
Is flow containing Parent and Linked or only one of them? If so then this is clear for me as there are unique id's for nodes. If both are in the flow then I have to look at this...
I will investigate anyway.

[2019-03-16 12:13] crxporter commented on #56
Use the flow I pasted in the comment where I flagged you.

When I exported that it included a parent and a linked - properly configured and ready to use.

I believe when you import it you will see no parent selected on the filter maintenance linked node.

[2019-03-16 23:09] DeltaCore commented on #47
I will follow up later when i get the chance to provide the flow.
I got ill and hadn't hat the chance to give it to you.

I will get back to this when i am better 👍

[2019-03-18 07:02] oliverrahner commented on #12
@Shaquu when I mentioned KhaosT/HAP-NodeJS#580 had been implemented, I hoped that KhaosT would have done it in a way that solves the issues that he mentioned (https://github.com/KhaosT/HAP-NodeJS/pull/580#issuecomment-386829810). Unfortunately, that was not the case. The change that he made was the same that I had in place as a workaround, which didn't work :(

[2019-03-18 10:33] oliverrahner commented on #50
I added documentation on Window Covering.

[2019-03-18 11:17] Shaquu commented on #12
@oliverrahner I know I know. Unfortunately I still cannot find the problem.

[2019-03-18 11:18] oliverrahner commented on #12
Just wanted to clarify, so you don't repeat all the mistakes I made ;)

[2019-03-18 14:00] djiwondee opened #66 "Error: This callback function has already been called by someone else..."
Hello guys,

thank you very much for the large progress you have made with version 0.6.0. I'm really exited how linked services work now. Right now the only issue I have with that is I got a lot of this message in my node-red-log:

`18 Mar 14:35:26 - [error] [homekit-service:XXXXX-XXXX-temp] Error: This callback function has already been called by someone else; it can only be called one time.`

It

[2019-03-18 14:08] Fearraiser commented on #66
Same issue, showing this error, but works normally.

[2019-03-18 14:30] djiwondee commented on #66
As more as I play with that I would say it happens only if (re-)deploy a flow /part of a flow with changes on the HomeKit node (e. g. adding a new accessories to an existing config node, changing service characteristics, properties etc.)

[2019-03-18 14:59] djiwondee commented on #50
Hello @crxporter , I just dealing a little bit with the _BatteryLevel_ charachteristics using the linked services feature introduced in `0.6.0`. I found out the `Battery Service`seems not be able to work as a primary service. According to the _HomeKit Accessory Protocol Specification_,

![Bildschirmfoto 2019-03-18 um 15 58 08](https://user-images.githubusercontent.com/37173958/54539611-bf9a6700-49

[2019-03-18 15:01] Shaquu commented on #66
Thanks for reporting.
Maybe this is called twice onIdentify.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-18 16:20] Shaquu commented on #50
@djiwondee So if you create Battery Service as Parent Service it won't work? I can't check it myself right now.

[2019-03-18 16:25] djiwondee commented on #50
@Shaquu Exactly, in the HomeApp on iOS a new accessory appears with label "non certified bla bla bla" and it doesn't work. My idea was to display just a battery level sensor for an equipment "Rain sensor in my garden", for which there is no Apple specified accessory nor service type. But I would like to watch on the battery level of that device.

I tried to "mis-use" leak sensor for that but rain

[2019-03-18 16:40] Shaquu commented on #12
I have an idea which make unpublish() useless.
I think I have to change this:
[code]
to this:
[code]

I am pretty sure it will solve a lot...

[2019-03-18 16:44] Shaquu commented on #12
Unpublished (unpublish()) Bridge with working server (not destroyed) could cause #22

[2019-03-18 16:44] Shaquu commented on #22
There will be a try to fix this today. Could be related to #12

[2019-03-18 17:45] Shaquu commented on #50
But can you open settings of this „non certified” Accessory?

[2019-03-18 17:50] djiwondee commented on #50
Haven’t tried this unfortunately. Since it looks ugly to see the „not certified“ label on the Home.app, I decide not to follow that approach

[2019-03-18 19:15] oliverrahner commented on #50
Added docs for thermostat

[2019-03-18 20:16] crxporter commented on #50
@oliverrahner yes once you add all available features it gets quite exciting. Next step will be to add a filter maintenance linked item :-P

It’s a good idea to test which works as a parent/linked service so we can document which can work where. I don’t know if there are limits on linked services? For example I would think light bulb would be parent but what if someone has an air filter with an am

[2019-03-18 21:58] Shaquu commented on #66
@djiwondee @Fearraiser
Can you retest it on dev branch?
start node-red in debug mode:
[code]
Then try to make this error appear again and paste log here.

[2019-03-18 22:01] Shaquu opened #67 "[FEATURE] Add qrcode for Bridge"
Idea is to add generated qrcode to join Bridge just like in Homebridge.
From what I see it's sort off provided in HAP-Nodejs as Accessory.setupURI()

We have to find out where in UI we can show this qrcode.

I would like you to:

1. Vote with emote hand under this post
2. If you are against then please provide some arguments so I can understand why :)
3. If you are for idea then please provide som

[2019-03-18 22:48] Shaquu commented on #22
@nikolaykasyanov @ttww @martincollar @1stone
I think I fixed it on my last commit to dev branch.

What was the problem?
When we remove Service nodes from flow then we usually still have unused Bridge node.
Bridge node is not published since it doesn't have active Service nodes. And since it's not published it crash on advertiser update because advertiser is not started!

What I did?
I overrided un

[2019-03-18 23:07] Shaquu commented on #22
I made a PR in HAP-nodejs. If they accept it then I will remove override from our code.

[2019-03-19 00:19] Fearraiser commented on #66
My log after redeploy node:

[code]
and then node-red stops

[2019-03-19 00:55] crxporter commented on #67
Would be REALLY cool if this could be provided in the debug panel on nodered.

Each time it’s deployed you could send a debug message with the code.

I have no idea if this is possible.

[2019-03-19 05:46] Shaquu commented on #50
@djiwondee So I think it works like it supposed to work. I assume Battery Service doesn’t have visual representation as Accessory.
You can always use another Service for your need. For example display battery percentage using Light Brightness.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-19 05:47] Shaquu commented on #67
@crxporter I like to say that everything is possible.
So we have first idea to place it in the node-red debug panel.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-19 05:53] Shaquu commented on #66
@Fearraiser thanks, very helpful.
@radionoise would you like to take care about this as I think it’s related to your change (NO_RESPONSE).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-19 06:01] djiwondee commented on #50
@Shaquu I partly agree. Selecting a accessory supported as primary depends to me also a little bit on how it the service exposed in Home.App. If it really looks like a workaround I won’t like it. However I will at least give it a chance.

[2019-03-19 06:18] Shaquu commented on #50
Unfortunately we don’t have this flexibility to create whatever we want. For example I currently use Brightness on Lightbulb to control volume of my TV.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-19 06:18] djiwondee commented on #67
Would be a really good feature. Also a good Place seems to me the info panel of the node properties. But I guess this is static content? If the we code becomes too complex what about the numeric code placed on so much home kit accessories for scanning and recognition

[2019-03-19 06:56] Shaquu commented on #22
Retest:

1. Replicating Issue
- [ ] Use version from master branch
- [ ] Create new Parent Service with Bridge
- [ ] Deploy in node-red
- [ ] Add Bridge to Home.app
- [ ] Remove Parent Service from flow
- [ ] Deploy in node-red
- [ ] Remove Bridge from Home.app
- [ ] node-red should crash with error 'TypeError: Cannot read property 'updateAdvertisement' of undefined'

2. Checking fix
- [ ] Use ver

[2019-03-19 06:57] radionoise commented on #66
I’ll look at it

[2019-03-19 07:02] Shaquu opened #68 "New team - Test Team"
I have created a Team which cause is to retest fixes.
There is an easy way to call all testers with @NRCHKB/test

If you are not in the Team and you are interested then please shoutout!

I added already: @radokristof @crxporter @flic @radionoise @emilingerslev
If you are not interested then please tell me as it is not obligatory and I will remove you from the Team.

[2019-03-19 07:06] Shaquu commented on #66
One more thing. Maybe we can just remove callback if accessory is reachable?
[code]
=>

[code]

[2019-03-19 07:14] radionoise commented on #68
@Shaquu can you please move me to dev team instead?

[2019-03-19 07:14] Shaquu commented on #68
@radionoise done

[2019-03-19 07:15] Shaquu commented on #50
@oliverrahner glad to have you back here :)
And your thermostat example is crazy!

[2019-03-19 08:26] Shaquu commented on #29
@crxporter so do we close it or continue to work on it?

[2019-03-19 10:06] djiwondee commented on #66
@Shaquu
may be I'm doing something wrong but my log is not showing something more than already metioned

[code]

My flow ist this:

![image](https://user-images.githubusercontent.com/37173958/54597220-7ac60d00-4a36-11e9-80a3-f152b448e8a8.png)

and I can replicate this if I change something in the node e. g. the node name and click on redeploy.

May be it it is caused by the "double linked" battery

[2019-03-19 11:28] Shaquu commented on #66
@djiwondee thanks for additional info. I think additional Battery Service should not cause this but you know...
I will live this to @radionoise  for now

[2019-03-19 11:39] crxporter commented on #29
Leave it here - flag it as documentation. I'll put together a functional example with a node red function to tackle the original questions.

If you can assign it to me I'll put that together and close it out once the wiki is updated.

[2019-03-19 12:27] crxporter commented on #29
@MPopti0n - I just put together a function that should solve your original questions - feel free to come back here and ask questions or get clarification on how it works!

[Click here for the example](https://github.com/NRCHKB/node-red-contrib-homekit-bridged/wiki/Fan-V2#full-featured-fan)

@Shaquu - let's close it. The new wiki page should take care of this issue.

[2019-03-19 12:43] crxporter commented on #50
Battery on its own does work. But it is "not supported" - the icon will be a little house and will always say "not supported" in the Home app. But if you click into "settings" you will see battery level, charge state, and low battery warnings just like everything using linked service battery state.

![IMG_42D05358CA8D-1](https://user-images.githubusercontent.com/38265886/54606730-a1764a80-4a1a-11e

[2019-03-19 12:49] Shaquu commented on #29
Closing!

[2019-03-19 12:49] #29 closed

[2019-03-19 12:52] Shaquu commented on #55
Well issue is complicated. I know a little about color spaces but not enough to handle rgbw <> hsv

[2019-03-19 12:53] djiwondee commented on #50
No contradiction from my side. Again a small finger pointing to apple. It doesn't look like very nice:

- the house icon w/o any context
- the "non certified" msg on the icon itself
- the exclamation point in the icon

I've withdraw from this  "workaround" - nothing to do with your valuable work on that stuff!!!

[2019-03-19 12:55] crxporter commented on #50
Agree on 2 of your 3 comments.

Exclamation point is because the current state is "low battery" not because of unsupported...

[2019-03-19 12:58] djiwondee commented on #50
Ahh - again something learnt from HomeKit, thanks! Btw.: Do you have a definition on what threshold `Status Low Battery` should be raised?

[2019-03-19 13:01] crxporter commented on #50
Completely up to the user. Depends how early of a warning you want on your low battery items...

[2019-03-19 13:06] Shaquu commented on #50
For me Status Low Battery should fire just in time so you will be able to charge it or react - so can be 30% or less depending on situtation and requirements.

[2019-03-19 13:30] crxporter commented on #50
Yes - for a phone that lasts, say, 10 hours on a full charge, this will give you a 2 hour warning.

If your battery in your door lock lasts 10 months - then the 20% threshold gives you a 2 MONTH warning. Hopefully it doesn't take you 2 months before you get around to changing the battery?

It will always depend on how long the battery lasts and how long the user wants to be warned before getting r

[2019-03-19 14:02] radokristof commented on #67
Or maybe if you connect an URL node or some other nodes to one of your nodes in that bridge it should show that qr code on a specific website? Like `http://ip_adress/homekitsetup`. I don't know if this is possible with Node-RED

[2019-03-19 14:39] radionoise commented on #68
@Shaquu After I was added to team, should I push a bugfix branch directly in this repository and propose a PR or should I fork it to first?

[2019-03-19 15:08] MPopti0n commented on #29
Thanks guys ! I'll try the example at home... also in the plane 😂

[2019-03-19 15:14] crxporter commented on #29
@MPopti0n - sounds great! I'd also be happy to help modify the javascript function so it outputs a payload ready for your Harmony remote, just let me know the format you need to send into the harmony node!

[2019-03-19 15:14] Shaquu commented on #68
@radionoise you can continue working on forks.

[2019-03-19 15:43] djiwondee commented on #66
Back to the initial problem: found some more log info but dealing with Switch instead of Battery Service:

[code]

[2019-03-19 17:47] radokristof commented on #50
Is it possible to send an alert to phones through HomeKit when the security system is in alarm (ie.: is there a characteristics for alarm type?)

[2019-03-19 18:09] crxporter commented on #38
I've been fiddling with this today. Here are some notes.

I can create a camera or motion parent service with a linked doorbell service and send "doorbell alert" notifications into the Home app.

I can create a doorbell parent service with a linked camera or motion service and send "doorbell alert" notifications into the Home app.

Of course the camera is always "no image available" but I can cont

[2019-03-19 18:18] crxporter commented on #50
That'll be `{"SecuritySystemCurrentState":4}`

[2019-03-19 18:30] djiwondee commented on #38
@crxporter thanks for sharing the observations. Could imagine you are right, doorbell is only working as linked service. Will do my own test, but need some days for that since I’m on a business trip the next two days

[2019-03-19 18:32] crxporter commented on #38
It seems [this project](https://github.com/Samfox2/homebridge-videodoorbell) might have it figured out. Might get you started on the right path...

[2019-03-19 19:07] Shaquu commented on #38
@crxporter I don't have video source for camera so can't work on that yet ;/ Someone shared tutorial for streaming video via VLC but not working for me.

[2019-03-19 19:10] crxporter commented on #38
Maybe I'll load that linked project - should work on my pi zero. I'll try for myself to see what it looks like - since nobody ever provides screenshots of their programs :-/

[2019-03-19 19:21] djiwondee opened #69 "[FEATURE]: Add “if msg arrive on input pass through to output“ option, especially for switch"
Since I’m also us node red ui, meaning using e. g. Switch for toogle guest WiFi on/of, it is valuable not pass through incoming payload to output. This help preventing loop, if the switch has also to reflect the status of a service initiated by 3rd party while also acting as the trigger of the same service

(See here for the option I mean)[https://discourse-cdn-sjc1.com/business6/uploads/nodered/o

[2019-03-19 21:33] bakman2 commented on #66
Same issue here, it crashes node-red regularly.

[2019-03-19 22:32] sjorge commented on #67
I like the idea of a homekit uri (we have ui for the dashboard stuff), for now it can just display the code + QR code, but the generic name allows for adding other things later.

[2019-03-20 07:27] Shaquu commented on #67
For now I have made badge like this:
![homekitCodeV1](https://user-images.githubusercontent.com/2881159/54666375-e2896000-4ae9-11e9-929b-38e648d6ed3f.png)

I based it on Homekit set up codes from the internet.
Image above is fully generated.

[2019-03-20 08:23] djiwondee commented on #67
Cool! Have tried a camera scan with iOS and it redirects me directly to the home app ;-)

[2019-03-20 09:06] Shaquu commented on #22
The last thing I want to do is to release something tested by me only. But if I have to...

[2019-03-20 09:09] djiwondee commented on #69
This is an example of a flow:
<img width="1051" alt="Bildschirmfoto 2019-03-20 um 10 01 09" src="https://user-images.githubusercontent.com/37173958/54671908-32baef00-4af7-11e9-94c6-079439258d65.png">

On the left side you see a injection to get the current WIFI status from the router. The result is converted in a way to just set the switch in the node red UI with the recent status
<img width="264"

[2019-03-20 09:20] Shaquu commented on #38
I ordered ZeroCam OV5647 5MPx so I wil be able to start working on Camera this week(end).
And I will share screenshots :+1:

[2019-03-20 12:05] crxporter commented on #69
Can you paste your flow?

Let me see if I understand. I believe you're asking if the system can be set to always pass through messages because if it hasn't changed then the message won't be passed on, correct?

For example this flow:
![Screen Shot 2019-03-20 at 7 02 01 AM](https://user-images.githubusercontent.com/38265886/54682855-11013e00-4ade-11e9-88ca-c22d13a541ad.png)
If "On" is sent 2 times

[2019-03-20 12:10] crxporter commented on #56
@radokristof - did you get this working?

@Shaquu

The pasted flow should have both the parent and linked service included but never actually "wired together" anywhere so technically 2 flows.

The important question would be: is there a way we can paste flows containing properly configured parent and linked services? It appears right now that pasted flows for linked services will always need to ch

[2019-03-20 12:15] crxporter commented on #38
Awesome. I ended up spending 2 or 3 hours last night trying to set up my camera to run an RTSP stream. I could get it to do HTTP stream and pull it up in VLC on my laptop, but I couldn't ever connect to the RTSP stream.

I think I'll just hold off until this works inside of node red. I understand node red much better.

ALSO - the more I think of it the more I'm convinced that "doorbell" is just me

[2019-03-20 14:51] djiwondee commented on #69
Hello @crxporter,

Nope. I would like to explicitly suppress the pass through of the input payload to the output payload. Otherwise you would have an endless loop in my example.

The example above is working quit well with Node-red UI only. Here is the code:

`[
    {
        "id": "f15f0c40.ea99",
        "type": "comment",
        "z": "1ac5f8da.58656f",
        "name": "Guest WIFI on/off using

[2019-03-20 15:09] crxporter commented on #69
Got it.

So yes that's simple enough with the homekit node, you'll need to do like the readme says and put the following node just to the right of homekit:

[code]

This says "if the `msg.hap.context` is not null then pass through the message"

Any message that is passed through the homekit node (as is causing you trouble) will have a null `msg.hap.context`

Any message that orginates in the homek

[2019-03-20 15:30] Shaquu commented on #38
It used to be Parent:

[2019-03-20 15:42] crxporter commented on #38
There you go again knowing what the official documentation says... Based on my fiddling yesterday - it actually works either way, doorbell or camera is parent looks the same in home app. Either is a little broken still with our setup... Or else I just don't know how to set it up, that's more likely.

[2019-03-20 16:00] Shaquu commented on #22
Please update to new version 0.6.1 using node-red.
Then please retest this bug if it's still occurs.

[2019-03-20 16:00] Shaquu commented on #66
Please update to new version 0.6.1 using node-red.
Then please retest this bug if it's still occurs.

[2019-03-20 16:32] djiwondee commented on #69
Hello @crxporter ,

you got it to the point. The approach work quite well. If you like you can close that enhancement request since your solution is valid with what we have! I've never thought about the sense of hap.context! Many thanks to you!

[2019-03-20 16:45] radokristof commented on #56
@crxporter Yes, it is working! Think we can close it.

[2019-03-20 16:47] crxporter commented on #69
Sorry it took me a minute to figure out!! I use the hap.context check in most of my functions to prevent loops...

I don't have "close" powers but you should since you opened the issue.

[2019-03-20 16:48] Shaquu commented on #69
@crxporter thanks for resolving this subject :)
I am closing as @djiwondee agreed to this.

[2019-03-20 16:48] #69 closed

[2019-03-20 16:50] radokristof commented on #55
However now I have started over from a scratch (I got confused about why I did some parts...) and tried to set it up just as a RGB light and leave out the white channel now. However this is not working properly for me as well...
@crxporter Did you ever tried controlling an RGB light from HomeKit?

[2019-03-20 16:50] djiwondee commented on #66
Hello @Shaquu

problem seems to have gone. Have just checked it wit `0.6.1`

- Changing bridge
- Changing characteristics properties
- Changing name

Works quite well!

Btw.: in addition to the behavior as describe as the issue in my last test with `0.6.0`node red gots crashed with that message:

`20 Mar 17:08:18 - [info] Gestartete geänderte Flows
20 Mar 17:08:20 - [red] Uncaught Exception:
20 Ma

[2019-03-20 16:51] Shaquu commented on #56
I am pretty sure we can make it work when copying flow but didn't figure it out yet...
I can add validation for now.

[2019-03-20 16:52] Shaquu commented on #66
Thanks to @radionoise
And thanks to all here who reported bug and provided explanation.

Closing.

[2019-03-20 16:53] crxporter commented on #56
@Shaquu I'll close this one and let you start a new issue for the copying issue if you like. Thanks!

[2019-03-20 16:53] #56 closed

[2019-03-20 16:53] Shaquu commented on #67
@djiwondee happy to hear it works.
@radokristof yes we can!

So once more. Where should we place this badge?

[2019-03-20 16:55] Shaquu opened #72 "[BUG] Flow import via clipboard is not working correctly for Linked Service"
Flow import via clipboard is not working correctly for Linked Service.
If flow contains Parent and Linked Service and Linked Service is assigned to Parent then when importing assignment will not recreate correctly - field will be unselected.

[2019-03-20 16:56] djiwondee commented on #67
@Shaquu to me that would be the right place:

![Bildschirmfoto 2019-03-20 um 17 55 30](https://user-images.githubusercontent.com/37173958/54703630-73d3f300-4b39-11e9-80c5-8a7f29c00fe1.png)

[2019-03-20 16:56] crxporter commented on #55
@radokristof I have not - but I will try it tonight. I have an mqtt rgb light strip that I always just use as white, I'll throw together an RGB light in homekit to try it out then share my results here.

[2019-03-20 16:58] radokristof commented on #67
@Shaquu do we know when a bridge is succesfully added to a Home? If yes, we can place this badge on the Debug panel as others suggested until the bridge is succesfully added. However if we can make a simple webpage displaying only just this badge (and a little footer text to scan this qr code), that would be the best I think. Mainly because it can be viewed in almost full screen (just think about

[2019-03-20 16:59] crxporter commented on #67
I think the issue is that many of us have/will have many bridges.

It needs to be easy to find or we will just use the old method of typing 111-11-111 every time...

What about a persistent set of node-red errors/warnings? Can it be placed there? Or at least a link there that says something like "successfully deployed, click here for the qr code"
![Screen Shot 2019-03-20 at 11 59 12 AM](https://us

[2019-03-20 17:00] bakman2 commented on #66
Thanks for fixing this.

In the mean time I was checking out homebridge-mqtt. What surprised to me compared to homekit-bridged is that accessories are removed and added instantly. I have never seen this, always had issues with homekit behaviour when adding accessories and quite slow detecting new items or removing. Is this just me ?

[2019-03-20 17:00] radokristof commented on #55
Thanks. I used flow.set, flow.get to 'persist' the values  - because as you know HomeKit only sends the changed values on the output, but I don't know why it didn't work properly. - For example if I change the Brightness with the slider (which should change the Brightness value in HSB) somehow crashes Node-RED and restarts :)

[2019-03-20 17:01] radokristof commented on #67
@crxporter That's why I thought of a seperate webpage because the link could be placed anywhere (and multiple times).

[2019-03-20 18:03] crxporter commented on #55
I think I got it.

You'll need to have installed the [color convert](https://flows.nodered.org/node/node-red-contrib-color-convert) node as noted above.

This flow will take RGB input (replace at the "simulate" function) in the form of `msg.payload=[r,g,b]` and output to the final debug node in the form of `msg.payload=[r,g,b]`.

The magic happens in the color convert nodes and in the function nod

[2019-03-20 18:54] Shaquu commented on #66
Different architecture @bakman2
So yes, it can be slower here. If you have issues running our module then please report in as a new Issue.

[2019-03-20 18:54] #66 closed

[2019-03-20 19:01] crxporter commented on #55
[Some good information here](https://codeitdown.com/hsl-hsb-hsv-color/)

[2019-03-20 19:30] Shaquu commented on #67
I could have add it to notifications.
But how do you see it?
5 seconds to see it?
One notification for every Bridge?

I have another idea.
Appearing qrcode when we hover over HomeKit node.
What do you think?

[2019-03-20 19:35] sjorge commented on #67
I also like this idea

[2019-03-20 19:57] crxporter commented on #67
I really like this idea. It would be most similar to what we have now - that the code appears under the node until the first command is sent.

I like the ui website idea as well but personally I would just type in the code before going to a UI interface. Now if that interface had other “stuff” then adding the code there as well would make sense to me.

I see the code as a one-time use item that sh

[2019-03-20 20:02] sjorge commented on #67
Maybe a little QR button next to the edit button on each service were you select the bridge? Easy to lookup when you need it and in your face as you are configuring things, which you most likely are when you add your (new) bridge?

[2019-03-20 21:31] Shaquu commented on #67
One thing is that it can be considered useless :)
But since I don't care and I am here for fun then I can spend a lot of hours on useless stuff which makes me happy enough to be able to work on bugs.

Second thing I want every user to use it at least once. So it must be well placed.

[2019-03-20 21:35] radokristof commented on #67
@Shaquu Firstly, I can feel your needs... Secondly, I wouldn't say this is useless. Besides homebridge there isn't a complete HomeKit connector application. So if we keep on working to achieve the best HomeKit experience (closest to a native HomeKit Service/Bridge/etc...) it might become very useful...

[2019-03-20 21:39] radokristof commented on #50
Thanks, I was unable to find it...

@crxporter Should we add/extend the NO_RESPONE usage in README/Wiki? Right now I also didn't know what is the best use-case of this with openHAB. Now I just set some of my lamps to send NO_RESPONE when the state (payload) is NULL, but this is almost never happen in openHAB.... how you use it?

[2019-03-20 22:17] crxporter commented on #50
That’s how I plan to use it in openhab - if I get a null state, send NO_RESPONSE to homekit.

Other reasons I can think of:
- sprinkler http call returns 404 error
- mqtt heartbeat not received
- network ping timed out
Etc.

There is a comment about no response in readme, which is the first thing in the wiki home page I believe. But yes we should have some examples on it.

I’m adding to the wiki a

[2019-03-20 22:55] radokristof commented on #50
Thank you!

[2019-03-20 23:22] crxporter commented on #55
@radokristof did you see this example? Did it get you any closer?

[2019-03-21 00:20] TristanMW commented on #16
I have managed to find a way to get snapshots of my camera and display them on the node-red Dashboard (Made for Android Users haha)
Here is the flow:

![Screenshot 2019-03-21 at 02 07 15](https://user-images.githubusercontent.com/33277505/54727135-d3082680-4b7e-11e9-82ed-ed04279ae1ab.png)
![Screenshot 2019-03-21 at 02 07 48](https://user-images.githubusercontent.com/33277505/54727213-3eea8f00-4b7f

[2019-03-21 00:55] crxporter commented on #16
The HomeKit protocol supports both snapshots and streamed video. There are homebridge programs out there that are capable of using this. The iPhone/iPad/etc will show the most recent snapshot in while connecting to the stream.

Yours is the first example I’ve seen using pictures files in node red.

Hopefully the devs find a winning setup! (though my wallet has other opinions, I don’t really have t

[2019-03-21 01:35] crxporter commented on #55
Now in [wiki page](
https://github.com/NRCHKB/node-red-contrib-homekit-bridged/wiki/Example-Bulb#color-light-with-color-space-conversions)

[2019-03-21 02:55] crxporter commented on #55
Wow I got sucked in tonight. Here we go.

I've made a flow that will:
1-take input in the form of [red,green,blue,white]
2-convert it to RGB
3-convert to HSV
4-send to homekit
5-receive from homekit
6-convert to rgb
7-convert to original form of [red,green,blue,white]

@radokristof are your lights RGBW? I saw in one of your functions that your inputs may actually be HSV plus a white. This seems od

[2019-03-21 08:34] radokristof commented on #55
@crxporter Thanks for your help, I didn't had time to look at it.
Yes I also had to go back to the basics... I'm using an RGBW LED Strip Controller (MagicHome) which can be controlled with the WifiLED binding. Unfortunately the design of this binding is not the best... I have a Color channel which is HSV and a White channel with Percentage (I don't know who designed it).
That's why my first though

[2019-03-21 12:26] crxporter commented on #55
Looking at the binding, it looks like it's not exactly RGBW - It looks like you could send a command to the color item of `RGB=[255,255,255]` or `HSV=[0,0,100]` AND a command of 100% brightness to the white dimmer item. In RGBW color space each of those would be `[0,0,0,255]` meaning you've got white at full bright - which both rgb 255,255,255 and hsv 0,0,100 are "white".

That would be a command

[2019-03-21 14:56] crxporter commented on #55
You inspired me to finally take a few minutes to adapt my lights to a color bulb in homekit.

[in the wiki](
https://github.com/NRCHKB/node-red-contrib-homekit-bridged/wiki/Example-Bulb#color-light-hsv-with-mqtt-inputoutput)

[2019-03-21 15:50] radokristof commented on #55
Yes it has a fully seperate White channel (4 independent channels). Firstly I think now I will just try to get the HSV working (it should be easy but something didn't really worked out before)...

[2019-03-23 13:18] matthub commented on #38
Great findings! I also just added a doorbell service and see the "ring notification" behavior and when a working camera is placed in the same room I believe it would show up in the rich notification. As @Shaquu is already working on a camera node implementation in #16 I am happy to do alpha / beta testing of these new functionalities.

[2019-03-23 17:13] ptath opened #73 "Temperature / Humidity sensors not refreshing"
**Describe the bug**
Sensors data does not updated after deploy.

**To Reproduce**
Steps to reproduce the behavior:
0. Sorry for my English
1. Added esp8266 (sonoff-tasmota via mqtt) with DHT11 (named in my case TEMP1 and HUM1)
2. Added to HomeKit as two sensors
3. Same mqtt topic added to HomeBridge via plugin, also 2 sensors (named HB-T1 and HB-H1)
4. I can see mqtt data (and HomeKit payload) ch

[2019-03-23 22:17] radokristof commented on #73
Did you restarted Node-RED after deploying your new sensor? There is a bug in this HomeKit implementation which causes that you have to restart Node-RED after deploying new changes to HomeKit nodes to actually get it working...

[2019-03-24 16:59] #68 closed

[2019-03-24 17:23] Shaquu commented on #67
As stated in #74
Please test and comment.

[2019-03-24 17:54] Shaquu commented on #73
Indeed there is a problem. I don't get any updates too.

[2019-03-24 18:05] crxporter commented on #73
I have several of these running, I’ll test the above flow later today to see if I can find any issues.

[2019-03-24 18:07] Shaquu commented on #73
Okay first.
Remove you Bridge (Config) Node and create new one and assign it to your Service's.

There is indeed problem but I think it's related to #12

[2019-03-24 18:47] ptath commented on #73
Almost always works, I even created switch for this =)

[code]

Sometimes need to stop, wait and after ~30 sec start a daemon, or reboot pi. This is no good

[2019-03-24 18:51] ptath commented on #73
Done already. Actually I have 2 Pi's (3B/zero) and problem persists on both of them.

Even more, lightbulb accessory stop responding (in nodered) at all after re-deploy (till daemon restart). No debug, no payload, *but* clicking in Home app still makes yellow HK node in nodered blink accordingly!

[2019-03-24 19:00] Shaquu commented on #73
@ptath I am gonna focus on fixing it now.

[2019-03-24 19:08] ptath opened #76 "Incorrect Lighbulb characteristics"
**Describe the bug**
Lighbulb Characteristics like Hue, Saturation and Color temperature are ignored

**To Reproduce**
![Снимок экрана 2019-03-24 в 22 54 20](https://user-images.githubusercontent.com/397799/54884241-0d780900-4e88-11e9-8f1b-29db12093b06.png)

**Expected behavior**
No color/hue/saturation select in Home app

**Real behavior**
[Link to video](https://nofile.io/f/uNSkJQkB8Tp/ScreenRec

[2019-03-24 19:25] Shaquu commented on #50
@crxporter some pages need fixing related to Characteristic Properties
As Characteristic Properties are used to set properties and not initial values or so.

Regarding to #76 and [Light Bulb wiki](https://github.com/NRCHKB/node-red-contrib-homekit-bridged/wiki/Example-Bulb)

[2019-03-24 19:42] Shaquu commented on #76
It looks like there is a problem in a wiki that will be fixed.
Characteristic Properties are for setting properties and not initial values or injecting anything.

To enable color/hue/saturation you should send it's value to the Light Bulb.

So

1. Inject {"Saturation":0} to Light Bulb
2. Inject {"Hue":0} to Light Bulb
2. Inject {"ColorTemperature":0} to Light Bulb
4. Restart node-red
5. Open Home.

[2019-03-24 20:31] crxporter commented on #76
Yes I need to update this documentation.

@ptath since the light bulb example was written in the documentation, I've learned quite a bit about how this works and how the Home app reacts to various characteristic properties. Check [here](
https://github.com/NRCHKB/node-red-contrib-homekit-bridged/wiki/Characteristics#onoff-bulb) for some examples.

In your case it appears you want a brightness only

[2019-03-24 20:39] crxporter commented on #76
@ptath if I didn't get it right, please check out the [light bulb wiki page](https://github.com/NRCHKB/node-red-contrib-homekit-bridged/wiki/Example-Bulb) then let me know what you're going for and what your light features are. I'll be glad to help you put it together!

[2019-03-24 20:41] ptath commented on #76
Thanks for reply, but I cannot still make it work:

[code]

Injected, but no effect

Done, same =)

BTW, have you tested node-red working simultaneously with homebridge together? Maybe hap interference or smith like this?

[2019-03-24 20:44] ptath commented on #76
I've using this page samples, thanks.

Trying to make one-color led light with nodemcu, additional colors not critical, it still works, but this is an issue, wright? =)

[2019-03-24 20:46] crxporter commented on #73
@ptath - can I get an example on the full output from your `tele/nodemcu3/SENSOR` MQTT node?

I actually have one of these but it's not running right now, I need to re-solder the temp/humidity sensor. I'm going to go fix mine because I'd like to test this flow for you to make sure there's not a broken piece in your functions...

There are a couple of examples of this on the [wiki page](https://git

[2019-03-24 20:50] ptath commented on #73
[code]

[2019-03-24 21:36] crxporter commented on #76
I think this is an issue with documentation, not with the actual system... It's pretty confusing

If you're injecting this:
[code]
Then it's going to trigger homekit to think this is a color bulb. One problem is `"ColorTemperature":0"` is invalid because the ColorTemperature valid range is 50-400, [see the last item on this page](https://github.com/NRCHKB/node-red-contrib-homekit-bridged/wiki/Char

[2019-03-24 21:45] crxporter commented on #73
I just tried replacing your mqtt node with that JSON - and I didn't get anything out. If I bypass your "edit JSON" node then I get something out.

Have you put debug nodes everywhere? Where is your message getting lost?

I added your JSON from above and it works great for me (changed values to make sure new inject works):

<img width="934" alt="Screen Shot 2019-03-24 at 4 43 05 PM" src="https://us

[2019-03-25 08:05] Shaquu opened #79 "Automatic publish to npmjs on merge to master"
I am planning to add automatic publish to npmjs so I (or someone else) will not have to pull project and publish manually.

With some adjustments to travis config there will be automatic publish to npmjs and node-red nodes repository.

[How to do it?](https://docs.travis-ci.com/user/deployment/npm/)

PS. I am open to yay and nay and ideas.

[2019-03-25 19:50] ptath commented on #73
Mine works fine, but yours much shorter, thanks. I'm total noob in nodered, should learn switches and so on better.

But the TS problem still exists, patiently waiting for @Shaquu =)

[2019-03-25 20:09] Shaquu commented on #73
@ptath fix will not be trivial
I would recommend to learn some tricks how to make node-red work properly for now.

1. Sometimes removing and creating new bridge helps.
2. Sometimes restarting node-red helps.

[2019-03-30 13:05] radokristof commented on #79
I think it will be a great addition. Mostly for you and other developers, that this can happen automatically. I think it is not that hard to configure travis to publish it (if you have access to the user account associated with that addon).

[2019-03-30 14:42] MyOzCam opened #84 "Characteristics Properties has no effect on Television/InputSource service"
[sample.txt](https://github.com/NRCHKB/node-red-contrib-homekit-bridged/files/3025591/sample.txt)
<img width="672" alt="Screenshot 2019-03-30 at 10 40 51 PM" src="https://user-images.githubusercontent.com/26063869/55277585-f2e8d880-533c-11e9-95b8-37a7f1010ada.png">

Characteristic Properties not effect.
I try to create a television remote control accessory. Has added all required characteristics i

[2019-03-30 15:13] crxporter commented on #84
Characteristic properties don’t set values, only define what values homekit should look for.

For example, adding brightness:5 won’t ever set the bulb to 5, it will instead just set homekit to show a dimmable bulb.

The brightness characteristic property could also limit the bulb to 5% steps, limit the brightness range to 25-75%, etc.

The wiki page about characteristic property tries to explain t

[2019-03-30 16:13] MyOzCam commented on #84
Thanks. That is me not reading it carefully.

TV accessories is a new item to emulate a TV remote. Available only after IOS 12.2.

[2019-03-30 17:55] crxporter commented on #84
Cool!

Can you post a screenshot here of what this looks like on your phone?

[2019-03-30 22:42] Shaquu commented on #79
@radokristof recent event with releasing 0.6.2 showed that we definitely need this.
I promised to release it on the date X and released on X+3 days because of time luck.

[2019-03-30 22:59] Shaquu commented on #76
@ptath what is the situation here?

[2019-03-30 23:00] Shaquu commented on #73
@ptath what is the situation here?
Is it just continuation of #12  ?

[2019-03-30 23:00] Shaquu commented on #67
I hope someone will look at this soon.

[2019-03-30 23:45] Shaquu commented on #24
Abandoned.

[2019-03-30 23:45] #24 closed

[2019-03-30 23:47] Shaquu commented on #45
@NorthernMan54 could you refer to your last statement?
I am afraid I still doesn't get that how this would work or if it is an issue.

[2019-03-30 23:55] Shaquu opened #85 "[FEATURE] Internationalisation"
According to [this page](https://nodered.org/docs/creating-nodes/i18n) internationalisation is supported in node-red modules.

So after I add English locale there will be a change for more people to contribute using their translation skills.
I assume we will have at least 3 languages for now:

- english
- german
- polish

[2019-03-31 00:17] Shaquu commented on #79
Feature landed on dev. Not tested yet.

[2019-03-31 00:25] Shaquu commented on #53
Updated concept [here](https://codepen.io/shaquu/pen/NJadwZ)

[2019-03-31 00:26] radokristof commented on #79
This way it would be possible to publish the `dev` branch also into another npmjs project?
I don't know what are the possibilites in npmjs, but if we could change between dev (aka.  beta) builds and stable builds easily, it also could be a great addition I think.

[2019-03-31 00:32] MyOzCam commented on #84
![IMG_0236](https://user-images.githubusercontent.com/26063869/55283157-569bf180-538f-11e9-8533-dd8f07224136.PNG)
![IMG_0240](https://user-images.githubusercontent.com/26063869/55283158-569bf180-538f-11e9-9fca-4f41a45bdb5a.PNG)
![IMG_0239](https://user-images.githubusercontent.com/26063869/55283159-57348800-538f-11e9-8aaa-44856d377d4e.PNG)
![IMG_0238](https://user-images.githubusercontent.com/2606

[2019-03-31 00:37] crxporter commented on #67
@shaquu I’ve had a crazy week. I’ll see if I can run it tomorrow and provide some comments.

[2019-03-31 01:23] Shaquu commented on #79
Well we could make new module for dev branch.

[2019-03-31 01:26] Shaquu commented on #67
No rush. I just bump old issues to increase commitment.

[2019-03-31 08:13] ptath commented on #76
So I removed injection of `{"Saturation":0,"Hue":0,"ColorTemperature":0}`, leaving only brightens in node characteristics. No HSB signals/command, nothing.

And it works, now I have a really dumb one-color dimmable lamp! Thank you @Shaquu @crxporter!

[2019-03-31 08:13] #76 closed

[2019-03-31 16:00] MyOzCam opened #86 "[FEATURE]Add option to enable/disable msg arrive on input pass through to output"
Is it possible to add option to enable/disable msg arrive on input pass through to output?

Like standard node-red dashboard control. It has a check box to disable/enable msg pass through.

Currently, in homekit node, msg will pass through if there is characteristic change. In sometimes, it creates looping contention. For example, check a lightbulb for status from an input value. If we got "On" ms

[2019-03-31 17:02] crxporter commented on #86
This issue has been covered, please review the below solution and let us know if you’re looking for something different.

[Existing issue](https://github.com/NRCHKB/node-red-contrib-homekit-bridged/issues/69)

[Readme explanation for forwarded messages](https://github.com/NRCHKB/node-red-contrib-homekit-bridged/blob/master/README.md#i-only-want-to-get-messages-when-something-has-been-changed-in-th

[2019-03-31 17:12] crxporter commented on #86
@shaquu - this one comes up often. How difficult is it to add a check box as described above?

Seems like that’s how other nodes are doing it and how users are looking to control the pass-through. Personally I’m happy with the msg.hap.context filter - I’ll let you (and other programmers) decide if it’s something you’d like to add.

[2019-03-31 17:36] Shaquu commented on #86
It would be very easy to implement. Should I start working on that?

[2019-03-31 17:42] djiwondee commented on #86
I definitely vote for that, even hap.context solve this but is more like a workaround!

[2019-03-31 18:05] Dalbadel commented on #84
I'm trying to control the volume. I can not...

[2019-03-31 18:10] crxporter commented on #86
Seems like there’s no reason not to add it.

I’ll keep using the hap.context check but I see benefits to both approaches. For me the hap.context is important to update flow variables in my function nodes...

[2019-03-31 18:15] Shaquu commented on #86
So please confirm this - if checkbox is disabled then message that appear on input will not be passed to output but will do all the rest it supposed to do (change value of Service etc.).

[2019-03-31 18:24] crxporter commented on #86
[This post](https://github.com/NRCHKB/node-red-contrib-homekit-bridged/issues/69#issuecomment-474745902) has a screenshot example.

It says “If msg arrives on input, pass through to output”

Seems like checking the box would make it work how it is now. Can the default be checked and this box be unchecked for those wanting the pass through suppressed?

[2019-03-31 18:27] djiwondee commented on #86
Please note: the node mentioned in the [post](https://github.com/NRCHKB/node-red-contrib-homekit-bridged/issues/69#issuecomment-474745902) above is a standard switch node of node-red. So same behavior and property ui would made it easy to understand.

[2019-03-31 18:53] Dalbadel commented on #84
![image](https://user-images.githubusercontent.com/508425/55293436-458ac900-53ff-11e9-872e-74e0db73db77.png)
`[{"id":"8f1ac5ff.4d2f58","type":"homekit-service","z":"e4fd743c.587458","isParent":true,"bridge":"7bc79058.cc92e","parentService":"","name":"LG","serviceName":"Television","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Num

[2019-03-31 18:58] crxporter commented on #84
Is that volume service compatible with the tv service?

The volume service may be for volume control of two-way audio cameras. I haven’t tested but that’s my first thought.

I’ll take some time to fiddle with the tv service this afternoon and come back with comments later.

[2019-03-31 19:06] Dalbadel commented on #84
I tried "homebridge-webos-tv" today (https://github.com/merdok/homebridge-webos-tv/blob/master/index.js). I did: Enable, disable, change the volume, select the input.
![image](https://user-images.githubusercontent.com/508425/55293639-4290d800-5401-11e9-87c2-6f40823c6aa2.png)

[2019-03-31 19:10] Dalbadel commented on #84
I understood! In the homebridge plugin, the volume in the form of a dimmable light bulb :)

[2019-03-31 20:44] crxporter commented on #84
@Dalbadel - there is a TelevisionSpeaker service, have you tried that one? It supports payloads like mute, volume, etc.

I couldn't get it to work but I'm working on the QR code test right now so I might be having different problems that you aren't. I'll get back to the release version later today and try it out.

[2019-03-31 20:51] crxporter commented on #67
@Shaquu I'm finally taking a look at this. It's not working very well for me.

The QR scan works properly. HomeKit immediately recognizes it.

Then it goes to "Searching for accessory" and finally "Accessory not found"

I got it to work one time, I don't know what I did different. Adding these bridges the "old way" works just fine.

![IMG_65AF2F8121D0-1](https://user-images.githubusercontent.com/3

[2019-03-31 21:26] Shaquu commented on #67
It looks like qrcode can’t be used to connect but only to enter pin. I don’t know if it’s good...

[2019-03-31 21:29] crxporter commented on #84
Perhaps someone who knows more javascript than me could look at [homebridge-bravia](https://github.com/normen/homebridge-bravia) who seems to have volume control figured out.

[2019-03-31 21:37] radokristof commented on #67
I have tried using it, but it doesn't want to pop-up that QR code. How should I do that?

I have checked it that I have the dev branch installed in the folder (version number, files in directory, etc...).

[2019-04-01 01:40] MyOzCam commented on #86
I cannot say for the development team and I do respect yours decision.

Just to say, from my POV, in usual situation, input is to check current status, output is to act and set something. When you grab a latest status from input, it is no mean to sent it to output to trigger a setting to same current status again.

There may be some more input/output usage which is different from above but I canno

[2019-04-01 02:00] crxporter commented on #86
In my setup for a dimmer switch, I have a function immediately following the homekit node that saves the previous non zero dimmer level.

This is important because my dimmer only sends a value 0-100 while homekit uses the dimmer and on state.

So in the case my item is switched to “0” outside of homekit, I need to have saved the previous brightness value for my number output. When the item is turn

[2019-04-01 02:21] MyOzCam commented on #86
BTW, hap.context message may not work when the node is just initialise, the characteristic does not have any state. So, when ever it receives an input message, it changes the characteristic state and passthrough to output with hap.context.

So, i believe hap.context does not work in this scenario. I suggest to have a check box to control passthrough that do:
1. If the trigger of change characteris

[2019-04-01 02:36] MyOzCam commented on #86
I am also using a Sonoff dimmer with tasmota firmware but just use the homebridge plugin for such control, currently not using nodered for it. (But i am surely i can use nodered for such control)

As my understanding, if you receive {"dimmer":0} from your node input, you may convert it to {"On":false} directly and it will appear as off in your home.app. Otherwise, if you receive {"dimmer":50} from

[2019-04-01 02:54] crxporter commented on #86
This is correct. I’m converting the “0” input to {“On”:false}.

Also correct, I’m doing exactly this.

Next steps:
1- set the dimmer to 50%
2- tap the item in home app to turn it off, payload sent is simply {“On”:false}
3- tap the item to turn back on in home app, payload sent is simply {“On”:true}

After step 3, homekit will show 50% bright. At this point I need my dimmer to receive a payload “50

[2019-04-01 03:06] MyOzCam commented on #86
Oh, I see the need now. You have two control nodes (nodered, and OpenHAP?) that are current in sequence along with the message chain. It is a different design from my work. In my implementation, I have also a nodered dashboard controlling the brightness and on/off with the same device. I never encounter sync problem between the dashboard (nodered) and the HomeKit (homebridge), because all states a

[2019-04-01 06:54] Shaquu commented on #67
It’s not on the dev branch. It’s on feature/qrcode

[2019-04-01 13:18] MyOzCam opened #87 "[FEATURE] emit message NOT only when characteristic change"
I am trying to use node-red-contrib-homekit-bridged to create a TV accessory. That enable to turn on/off TV and a TV remote controller.

<img width="973" alt="Screenshot 2019-04-01 at 9 05 18 PM" src="https://user-images.githubusercontent.com/26063869/55329748-f6f23300-54c1-11e9-8693-c91c6a6c8eb6.png">

[flow_sample.json.txt](https://github.com/NRCHKB/node-red-contrib-homekit-bridged/files/3029519

[2019-04-01 19:27] crxporter commented on #67
Oh now I see the button after clicking the accessory! I wonder what changes in the qr code to give it the information necessary to discover the device at the first “add accessory” camera?

[2019-04-01 20:00] Shaquu commented on #85
Landed on feature/i18n

[2019-04-01 21:40] crxporter commented on #67
I haven't used homebridge for a long time - but [this](https://github.com/nfarina/homebridge/commit/3380cd659259d01e38ea8608bfbe94dac83fc164) looks like it may be the PR where they added QR code support.

Also found [this post](https://github.com/nfarina/homebridge/issues/1588#issuecomment-341158722) from around the same time period.

I'm not sure if this is how your approach works or not, I'm sti

[2019-04-01 21:47] crxporter commented on #67
My second link above is from [here](https://github.com/nfarina/homebridge/issues/1601#issuecomment-345157796)

Apparently that's how they are putting together the QR codes?

[2019-04-02 04:24] MyOzCam commented on #84
I did. You can refer to another [issue](https://github.com/NRCHKB/node-red-contrib-homekit-bridged/issues/87) as there is problem about emit output only when characteristic-change.

Learnt from Node HAP-JS sample [TV_accessory.js](https://github.com/KhaosT/HAP-NodeJS/blob/master/accessories/TV_accessory.js), the Control Center remote will set characteristic "**RemoteKey**" for every button you pre

[2019-04-02 05:26] Shaquu commented on #67
Yep, thank you very much.
I did the same but thanks to you I found out that maybe I have to only enable WAC and it will work.

[2019-04-02 14:48] MyOzCam commented on #87
I believe this is the same [request](https://github.com/NRCHKB/node-red-contrib-homekit-bridged/issues/45) and is now todo for 0.7 version.

Just an idea that we can have two outputs for a HomeKit node. 1st one for "characteristic-change" event as current and 2nd one can be used to output any "set" event. this way we keeps backward compatibility without expose a new configuration check box.

[2019-04-02 15:14] djiwondee commented on #87
I strongly recommend to follow more or less given principles of "node red UI" with that.

![](https://user-images.githubusercontent.com/37173958/54672335-1bc8cc80-4af8-11e9-8926-d271ddac4044.png)

If you have accessories working as an actor (especially switches) it would provide the same user experience rather hand over the responsibility to the user to take care on what output to connect the subs

[2019-04-02 15:24] MyOzCam commented on #87
@djiwondee [This] feature is about sending characteristic to output NOT only when the characteristic status is CHANGE, but also when a characteristic is being SET.

I agree with your MESSAGE PASS-THRU check box control. But this is another request in another issue.

[2019-04-02 16:47] djiwondee commented on #87
@MyOzCam understood. Next time i should better read to understand the differences.

[2019-04-02 18:16] Shaquu commented on #16
Prototype: https://i.imgur.com/rtDI1qF.mp4 (swipe to the bottom if video is outside of screen bounds).
@crxporter you said that you are using api currently? Can you share your configuration? (those for stream for example -re etc. my current is -rtsp_transport tcp -i rtsp://192.168.0.227:8554/unicast)

[2019-04-02 18:32] crxporter commented on #16
I'm running [this](https://github.com/moritzmhmk/homebridge-camera-rpi)

[2019-04-03 05:02] RaymondMouthaan commented on #16
@crxporter, no issues like [this](https://github.com/moritzmhmk/homebridge-camera-rpi/issues/50)?