[2021-01-08 08:32] Shaquu commented on #359
Hey, like I mentioned, try to clear homekit-persist

[2021-01-08 12:58] macinspak commented on #359
Sorry, forgot to mention I did that already. It didn’t help. It just seems weird it’s saying “null” is the uuid.

I am trying everything I can before removing and rebuilding the HomeKit bridge nodes.

Is it worth trying to remove just the bridges first and replace them? And maybe one at a time to try? Or do I need to rebuild everything I your opinion?

Sent from my iPad

[2021-01-09 05:10] mozoh opened #360 "[Bug]: iOS Home app sometimes doesn't get updates"
**Describe the bug**
Sometimes the application does not change state for a few minutes. For example, when I physically press the switch (or whatever), the state in the application remains the same (but changes on the dashboard without issue). If you kill the application and start again, the state is updated. After a while, everything works as expected again.

**To Reproduce**
Just normal use of Ho

[2021-01-09 15:08] Shaquu commented on #360
Hi, let’s start with you sharing your docker command or compose yml.
Also, do you have HomeKit Hub?

[2021-01-09 15:44] mozoh commented on #360
1. `docker run -d --net=host -v MY_DATA_PATH:/data -e TZ=MY_TZ --name=home.node-red nodered/node-red:latest-minimal`
I've also tried `nrchkb/node-red-homekit` docker image with same results.
2. Yes, i have an apple tv with enabled Home Hub feature.

[2021-01-09 15:57] mozoh commented on #360
Forgot to add that during this state, commands FROM the application are successfully executed.

[2021-01-10 02:10] macinspak commented on #359
OK, more debugging.

in HAPServiceNode.js, just before:
[code]

I added:
[code]

to confirm all arguments being passed.

when I run it now, I get these:
[code]

Which indicates the UUID is correctly being sent through.
After the call, I get the UnhandledPromiseRejection:

[code]

If you look at that code, you can see it's a simple iterative equality search:
[code]

The weird thing is, the first ca

[2021-01-10 03:22] Shaquu commented on #359
@macinspak is it possible that you have two Bridge config nodes with the same name?

[2021-01-10 04:15] Shaquu commented on #359
@macinspak It is possibly resolved in hap-nodejs beta
You can try it on our canary branch:
https://www.npmjs.com/package/node-red-contrib-homekit-bridged/v/1.3.0-canary.0
`npm i node-red-contrib-homekit-bridged@1.3.0-canary.0`

[2021-01-11 19:58] Shaquu commented on #360
What is your OS you are running docker on?
Do you use other home automation apps/libraries like Homebridge?

[2021-01-12 01:58] mozoh commented on #360
1. Synology (also tested on HassOS)
2. No

[2021-01-12 05:25] macinspak commented on #359
OK, I can't get anywhere with this.

I tried the canary branch, got some different issues with serial number being too short and such, but resolved those and it was still failing.

I then deleted all nodes and config nodes for homekit bridged and got to a vanilla install. Created a new bridge and it deploys fine (though not seen by homekit app and cannot pair or find it) and then I add an accessor

[2021-01-12 17:50] Shaquu commented on #360
@mozoh I am afraid it might be a networking issue.
@TheNON75 and @crxporter can you assist with Synology? Any ideas?

[2021-01-12 17:58] Shaquu commented on #359
Okay, good information that your flow works for me.
It looks like it is your setup issue (maybe some files are corupted?)
Maybe you can launch it on clean rpi installation? Or in docker?

[2021-01-12 18:08] crxporter commented on #360
Alright since I've been called out I'll go through a round of questions.

I'm no docker pro - but the basic questions is whether you're running `net=host` (which you are I see) then if anything else on the device is using the important ports for HomeKit. I think the important port is 5353.

I see you also tested on HassOS - which hardware did you test that on? If you have a spare raspberry pi layi

[2021-01-12 18:13] Shaquu commented on #52
Feature is ready to be tested on dev branch.

[2021-01-12 18:21] Shaquu commented on #351
@strandbein do you still have issue with configuring cameras in NRCHKB?

If yes then please specify devices you are using. #214

[2021-01-12 18:23] Shaquu commented on #339
There will be enhanced articles on dev contribution once we have a new website.
In the meantime if you have some questions then please feel free to ask (https://github.com/NRCHKB/node-red-contrib-homekit-bridged/discussions).

[2021-01-12 18:23] #339 closed

[2021-01-12 20:36] TheNON75 commented on #360
Hello @mozoh,

Until you answer the questions of @crxporter - which are very essential - let me share some information.
The solutions which are enabling you to publish initially non-HomeKit enabled devices to HomeKit are using the same "engine" and the bonjour protocol etc., which is used by apple related solutions. The bonjour implemented for the "engine" is by nature not exactly the same as the

[2021-01-12 21:07] Shaquu commented on #343
@klopo1990 did you managed to resolve it? Or do you still need some help?

[2021-01-12 21:07] #334 closed

[2021-01-12 21:14] Shaquu commented on #182
@sanderdatema if you still have problem then feel free to open [Discussion](https://github.com/NRCHKB/node-red-contrib-homekit-bridged/discussions)

[2021-01-12 21:17] Shaquu commented on #270
@edupulu if you still have issue feel free to write in [Discussions](https://github.com/NRCHKB/node-red-contrib-homekit-bridged/discussions)

[2021-01-12 21:17] #270 closed

[2021-01-12 21:18] Shaquu commented on #322
As said, fix is available on dev branch. It will be released in 1.3 in near future.

[2021-01-12 21:18] #322 closed

[2021-01-12 21:54] strandbein commented on #351
I have now rather awkwardly converted the fake video to xxx.mjpeg.avi and so it finally works.
![Bildschirmfoto 2021-01-12 um 22 52 42](https://user-images.githubusercontent.com/3486633/104378944-06bcf900-5529-11eb-9c77-ed9444558bd7.png)
![Bildschirmfoto 2021-01-12 um 22 52 10](https://user-images.githubusercontent.com/3486633/104378950-0c1a4380-5529-11eb-97f3-b9cd2a481dd3.png)

[2021-01-12 21:54] #351 closed

[2021-01-12 22:00] Shaquu commented on #328
Please check on dev

[2021-01-13 02:32] mozoh commented on #360
In a couple of days, I discovered a strange thing - I can't reproduce this error on my wife's iPhone 11, only on my iPhone SE. We are using the same wi-fi spot.

@crxporter
Abount `net=host` & synology (ds920+), i am trying now to use macvlan (docker container have it's own IP) network driver with same results.
I does not have a spare raspberry pi, but can try on the bridged virtual machine withou

[2021-01-13 03:44] arnold-b opened #362 "Switch: Function Up / Down and stop"
Hello,
to control window i need one switch with the following funktion

UP / Down and stop

Best would be one or 2 buttons combined. click on up its running up.  Click again it will stop.
And the same for down

Does there exist something like this ?

Thanks

[2021-01-13 04:41] crxporter commented on #362
It's for a momentary type switch? It does something while held - like opens the curtain until you let go, right?

Unfortunately there isn't something exactly like this. This is something the HomeKit protocol doesn't really even include that I know of. Everything in the HomeKit is a one-time message such as "do this" none of the messages are "do this while I hold the button"...

It would be a reall

[2021-01-13 04:46] arnold-b commented on #362
Ist something like this.

You can open or close or just press stop if you don’t want to totally open or close.
I don’t have the current position so I can not use your window control.
I can not send some percentage to open or close.

Only thin which I know. It will stop when its open or closed

thanks

Von: crxporter <notifications@github.com>
Gesendet: Mittwoch, 13. Januar 2021 05:42
An: NRCHKB/no

[2021-01-13 05:14] crxporter commented on #362
I think garage door might work like this!

0- garage door starts closed
1- you tap it to open, it begins opening
2- you tap it again
3- a "stop" message is sent

Home app will know it's neither fully open nor fully closed. I don't remember what it does next time you click it... you'd have to test it

[2021-01-13 05:15] crxporter commented on #362
Maybe we could trick a window or curtain into doing this... I'll run some tests tomorrow, I'm checking out for today.

[2021-01-13 07:57] TheNON75 commented on #360
Hello @mozoh,

your syno is fine.
Please note that when using docker, only the host mode will work. Own ip etc not.
HassIO I don’t know in details but I am almost sure they are using the same engine as basis. (See my earlier comment).

about different  iPhone models; I am using aniPhone X and experiencing the same issue sometimes, but every day.

understanding that you do not really have a well wo

[2021-01-13 10:59] mozoh commented on #360
Ok, i'll try. Thanks.

[2021-01-13 11:21] TheNON75 commented on #360
Great, please join us on discord where we can provide quick assistance to you and report back here if the situation is improved.
Thank you

[2021-01-13 14:21] crxporter commented on #362
I've put together a window item which can have 3 states: 0 (closed), 50 (half open), and 100 (fully open).

If the window is at 50%, you can open the slider and slide it either up or down, it will send the appropriate `TargetState` payload. Then if you tap back in the middle it'll send `TargetState:0`...

I'm imagining you could have it at 50% most of the time, then drag down to close
Once you've

[2021-01-14 06:52] mozoh commented on #360
I've installed 1.3.0-dev.31 and just caught this bug again unfortunately.

[2021-01-15 01:20] macinspak commented on #359
OK, I deleted the node_modules and reset to all supported releases, then npm i

so the only things I left in place were the cred.json and flows.json essentially (and settings.json)

the flows run fine, even if I create the bridge node it does not throw errors. But it does not seem to write homekit_persist either (with no accessories).

The moment I add an accessory, it throws this (with some extra

[2021-01-15 02:06] Shaquu commented on #359
This is very specific issue, I see it for the first time. I am still investigating what might be wrong.

[2021-01-15 04:16] macinspak commented on #359
[code]

Also happens with node-red-contrib-homekit-bridged@1.3.0-dev.29

[2021-01-15 07:28] Shaquu commented on #359
Okay, new idea.
First share full logs of node-red starting (since you start it until all bridges are deployed).
Then check how many node-red processes are running.

[2021-01-16 03:51] macinspak commented on #359
Done.

Start command:
`DEBUG=NRCHKB*,Accessory,HAPServer,EventedHTTPServer,HAP-NodeJS* node-red-pi --trace-warnings`

Initial startup node processes (just after executing, while booting up:
[code]

Debug output from start until after initiated:

[code]

Once running, here is the process list:
[code]

so only the one node-red process.

[2021-01-17 11:05] swantmon opened #363 "Cannot change storage path after it has already been initialized!"
I have installed the Homekit Bridge in Node-Red. I have configured everything and it works fine. But after reloading the Node-Red website the service is unknown. But it is still working on the iPhone...

I get the following error: `Error: Cannot change storage path after it has already been initialized! (line:30)`

<img width="1072" alt="Screenshot 2021-01-17 at 12 02 45" src="https://user-images.

[2021-01-17 19:22] Erik262 opened #364 "[Setup Help]: Can't add any bridge"
**Setup Help**
I'm running NodeRed v2.0.3 (v1.2.7 web) in iOBroker and I can't add any bridge in HomeKit.

**Current Flow**
I used the simple switch flow from the wiki of this repo.

**Help Needed**
Do I have to open any ports or so? I also didn't get any error messages that's why it is difficult to me to have a starting point.

[2021-01-17 22:25] Shaquu commented on #364
Are you running on docker or standalone?

[2021-01-17 22:34] Shaquu commented on #363
Thanks for reporting. I believe I fixed it in the next dev.
It will be available in future in Node-RED repository as 1.3

[2021-01-18 08:23] macinspak commented on #359
Any thoughts?

[2021-01-18 08:55] swantmon commented on #363
I have removed homekit, updated node-RED to v 1.2.7, and installed homekit again. Now, it seems to work.

[2021-01-18 09:12] #363 closed

[2021-01-21 18:55] dmitrystarikov commented on #335
I found this: https://developers.homebridge.io/HAP-NodeJS/classes/adaptivelightingcontroller.html
I hope this is helpful :)

[2021-01-25 02:10] macinspak commented on #359
Hi @Shaquu,I gather busy with the latest version testing. Did you have any more thoughts on this issue?

[2021-01-25 10:33] Shaquu commented on #359
@macinspak It is very difficult to investigate it as it is some edge case.
Can your try running nodered only on a different device?

[2021-01-31 18:40] crxporter commented on #362
I'm going to close this, I don't think we will have a better option until added by Apple.

Please feel free to ask for more help any time.

[2021-01-31 18:40] #362 closed

[2021-01-31 18:43] crxporter commented on #328
Implementation in dev branch (1.3 dev 34 and newer) is awesome.

Everyone please test if you'd like! It works great for me.

This issue will be closed once 1.3 is released.

[2021-01-31 18:46] #182 closed

[2021-01-31 18:49] crxporter commented on #52
Heads up all, this is being built now. We are looking for feedback on the best way to handle it. Please join the discussion on discord if you have thoughts!

https://discord.gg/uvYac5u

[2021-01-31 20:47] crxporter commented on #301
Move to discussions #365

[2021-01-31 20:47] #301 closed

[2021-01-31 22:02] Shaquu opened #366 "Test"

[2021-01-31 22:02] #366 closed

[2021-02-03 15:53] klopo1990 commented on #343
Hey Shaquu,
Unfortunately, I cannot say more specifically about this problem. I now use an iPad as a control center.
When I'm at home on the WiFi, the connection is established quickly and reliably. On the go, it usually takes a while to establish the connection. But this is not due to the Node. The connection to the Philips Hue is also not there immediately. This becomes a "problem" on Apple's pa

[2021-02-03 19:51] Shaquu commented on #343
@klopo1990 you may also try reinstalling Apple TV or other home hub you are using. Also review your network.
Most problems may come from there.

Regarding redbull look for Sponsor button on our repo (you may cancel right after to process as a single donation).

[2021-02-07 08:58] houser42 commented on #332
Hello,

Opening this thread and hope that is ok.
As I have updated dependencies (that I have to work with as they are fixed)
and same problem but with these new dependencies:
node-red v1.2.7
nodejs v10.16.3

With NRCHKB 1.2.0 I get the same  "unable to add accessory" again

When I try to add the legacy versions via SSH, NR adds version 1.2.0 regardless.
npm i node-red-contrib-homekit-bridged@0.9.0

[2021-02-08 11:45] AlexDavidenko opened #367 "RGBCCT Bulbs"
**Describe the bug**
I'm not sure if this is an IOS bug or not but it seems like when you have the characteristics set to Heu&Sat and color temp (RGBCCT bulb, dimmable), the home app is getting a bit confused.
when controlling color temperature only the app is still trying to represent a color from the hue & sat palette.
so if I selected a color swatch first (say red) and then I select a swatch th

[2021-02-08 13:44] crxporter commented on #367
This is a limitation from the Home app. Apple policy is that once you are using hue and saturation values on a light, it is no longer a color temperature light. It's one or the other.

If you want to keep temperature only, you'll have to only ever use that light for temperature, never send it hue and saturation values. You could represent it as 2 bulbs.

There's one guy around here who was mapping

[2021-02-08 13:55] AlexDavidenko commented on #367
@crxporter
Wow, if true, thats really crazy... so "Apple" I guess.
For some reason I doubt this is the case because there's a difference in the user interface of the home app (ColorTemperature tab) when using RGB only and RGB+CCT.
+ you actually do get the appropriate commands from the home app when changing one or the other.

Representing one bulb as two lights looks odd in the home app, I've tri

[2021-02-08 15:02] crxporter commented on #367
I've tried it several times and once the HSV values (hue saturation value) are coming from home app, the color temp payloads are non existent.

If you have a different experience, please let us know! It would be interesting to see if it works.

[2021-02-08 15:41] AlexDavidenko commented on #367
@crxporter
You are absolutely correct.
The Homekit service node will either send HSV values or ColorTemperature values, either or, it works from the same node.
If you need any further details (screenshots/ screen recording) let me know.

FYI here is what I have defined inside Characteristic Properties:
{
    "StatusActive": true,
    "Brightness": true,
    "Hue": true,
    "Saturation": true,

[2021-02-09 02:32] macinspak commented on #359
OK, looks like hap-nodejs might be the culprit.

Am I correct in assuming NRCHKB is extending arrays with an "isEqual" prototype function?

Inside hap-nodejs, they iterate the array content with:
[code]

Which will iterate over the array AND any prototype functions. So it is trying to add the "isEqual" function as an accessory.

Should be a simple patch.

[2021-02-09 09:59] Shaquu commented on #332
@houser42  Probably you should start from uninstalling 1.2 then try to install older versions.

[2021-02-09 10:01] Shaquu commented on #359
Great work, I will try to support you with your branch build etc later this week.

[2021-02-09 10:02] Shaquu commented on #343
homebridge/HAP-NodeJS#875

[2021-02-09 11:20] houser42 commented on #332
Thanks @Shaquu ,

So just to be clear on where to start, should nodejs v10.16.3 be ok to run NRCHKB 1.2.0?
If not I will wait for the relevant update on my beagle this time so.
Are there other dependencies that may need to be met that you can comment on?

If it helps, below are the current branches in the current build of the Venus OS I am using.
It is under current development and I can possibly

[2021-02-09 11:23] Shaquu commented on #332
10 should be okay.
Can you update to 10.22.1+?
Or you have to stick to what you have?

[2021-02-09 11:30] houser42 commented on #332
Thanks for reply @Shaquu

I am part of the test community for Victron who maintain the Venus OS for this box.
I can't update it as it will break other dependencies, but I have asked the devs to update to a more recent version as soon as their devcycle permits and they have promised they will. Probably not in a distant future..
Meanwhile I am just trying to see if I can make it work with the curren

[2021-02-09 11:43] macinspak commented on #359
Thanks, it’s more the typescript and getting object casting wrong, I can help of I can see an example of how it should be written.

I also am uncertain how to properly generate the build folder and have it available to deploy short of zipping it up and using sftp or such.

If you want to just work in the repo I’ll add you as a contributor.

Sent from my iPhone

[2021-02-16 08:00] DedMsk commented on #335
https://github.com/homebridge/homebridge/issues/2765

[2021-02-21 01:09] Shaquu commented on #328
Since 1.3.0-dev.36 it should be possible to obtain connection data on both onSet and onChange

[2021-03-04 16:38] Shaquu commented on #52
From now on this feature is labeled as experimental.
To enable it run node-red with `NRCHKB_EXPERIMENTAL=true` env variable.

[2021-03-05 12:22] maxweissboeck opened #369 "Question regarding Garage Door"
If I send this STOPPED message as from the Examples to Garage Door

`output = {
        "payload": {
            "TargetDoorState": 0,
            "CurrentDoorState": 4
        }
    }`

it still shows OPENING in Appels iPhone Home Kit.
Is this the expected behaviour?

Thanks for the great Work!
Max

[2021-03-05 12:41] Shaquu commented on #369
I might be wrong but you should also set Current state:)

[2021-03-05 13:24] maxweissboeck commented on #369
I'm sending both, Target and Current State, see above, its from the example.
Opened and closed is visualised as expected in HomeKit, but Stopped (CurrentDoorState = 4) does not differ from open. Has HomeKit different visualisation for onla partly opened garage door? If not, then why a state for this?

[2021-03-05 13:31] Shaquu commented on #369
@crxporter could you help?

[2021-03-05 13:39] crxporter commented on #369
I saw the question a little bit ago and I'm trying to remember the last time I played with this... there is a way to do it but I don't remember right now...

...stand by I will search...

[2021-03-05 13:43] crxporter commented on #369
Everything I knew about this 2 years ago when I worked on it is documented in this comment and the few comments below it:

https://github.com/NRCHKB/node-red-contrib-homekit-bridged/issues/33#issuecomment-487043756

It seems like you're "doing it right" unless something has changed in the protocol in the last couple years... I'll review if there is any different target state

[2021-03-06 17:27] maxweissboeck commented on #369
Thanks for pointing me there. I still have a lot of trouble with garage door node and I will open a new issue for this, I have the sneaking suspicion there is something wrong with garage door

[2021-03-06 17:27] #369 closed

[2021-03-06 18:39] maxweissboeck commented on #369
Sorry, final testing showed it was my fault, everything ok!

[2021-03-11 10:07] dalethomas81 commented on #180
Removing and reading the bridge did not work for me. In auto I do not see the threshold values - only the average value as 'TargetTemperature'. Is there anything else you did to resolve this?

[2021-03-11 15:02] TheNON75 commented on #180
The issue is very old. What version of nrchkb are you on? The current stable is 1.2.0

[2021-03-11 21:32] dalethomas81 commented on #180
I am on 1.20 and still having this issue. I will open a new ticket. Thank you.

Sent from my iPhone

[2021-03-13 11:05] dalethomas81 opened #372 "[Bug]: Node payloads do not contain thermostat threshold values when thermostat in auto"
**Describe the bug**
When using the Thermostat service and the thermostat is in Auto mode, changes in the heating or cooling threshold values from the home app only output "TargetTemperature" from the node as the average value between the threshold values.

**To Reproduce**
1. Install version 1.1.3 of Node-Red
2. Install version 1.2.0 of Node-Red-Contrib-Homekit-Bridged
3. Create thermostat node
4

[2021-03-13 15:20] crxporter commented on #372
The threshold temperatures are optional characteristics. What happens if you add this JSON to the characteristic properties in TestThermostat node?

[code]

[2021-03-13 15:38] Shaquu commented on #372
I tried your solution @crxporter and did not worked for me. Anyway auto should keep temperature between two valves so average value seems reasonable

[2021-03-13 15:54] crxporter commented on #372
![image](https://user-images.githubusercontent.com/38265886/111035882-113d2700-83e2-11eb-8cf8-f04bde3f1727.png)
Worked great for me...

[2021-03-13 15:55] crxporter commented on #372
Just added my JSON to char. props. on the original flow from @dalethomas81

[2021-03-13 17:31] dalethomas81 commented on #372
Yeesh - this works now when I add these characteristics. Thank you! But I would think these would not be optional because how would you do this otherwise? What I mean is if I have an upper of 20 and a lower of 10 and it gives me a TargetTemperature of 15 (average) then what am I supposed to tell my thermostat?

Anyway, this is solved and I thank you guys so much for this code. It's my number 1 use

[2021-03-13 18:00] crxporter commented on #372
They're optional in the Apple spec. Not every thermostat has "automatic" mode so they wouldn't be necessary in a t-stat without auto.

Happy to help! Come back anytime! Come over to our discord where we hang out daily!

[2021-03-13 18:04] #372 closed

[2021-03-13 18:22] Shaquu commented on #372
Oh my, sorry for false statement then. Happy to hear it works.

[2021-03-15 17:34] Alexvrs opened #373 "[Feature Request]: TV service icon (and other icons)"
I am using an accessory with Television Service and noticed that the icon on the iPhone is shown as a house, but should be shown as Television. After studying the reason, it turned out the following: that the icon is assigned to the accessory when / at the time of adding an accessory (bridge) in the home application on the iPhone and this is affected by the accessory parameter - accessory.category

[2021-03-15 18:20] crxporter commented on #373
This is one of the things fixed in the newest dev version. If you'd like to join the discussion and testing, we would love to have you at our discord server! See the readme for a link

Also, this list of icons is pretty awesome. We will need to hear from @Shaquu to find out if it can fit in anywhere.

[2021-03-22 20:55] CaseyRo commented on #52
hi everyone, I’d like to test the functionality and with some tinkering have the newest dev version (38) running on nodered 1.2.9 (in a docker container).

The package shows up and so does the nodes relevant to this, but for some reason the NRC* node doesn’t show up in my palette:

<img width="392" alt="Bookmarks" src="https://user-images.githubusercontent.com/6368490/112057168-3c99e180-8b59-11eb-

[2021-03-22 21:21] crxporter commented on #52
Are you running with experimental mode as described by Shaquu in the comment just above yours? I haven't actually tried this feature yet but I'm following along a bit.

[2021-03-22 23:17] Shaquu commented on #52
As said @CaseyRo read my przebiorą comment :) You need to start NodeRED with special parameter.

[2021-03-23 13:12] CaseyRo commented on #52
I was aware of that part - so I added it to the docker composer setup as an environment variable (and the node specific project variable too, to make sure this works):

<img width="456" alt="PNG image" src="https://user-images.githubusercontent.com/6368490/112151425-7f9f9780-8be1-11eb-9813-86f2e8b7c46c.png">

unfortunately, still no node showing up in my palette. I could build a separate docker im

[2021-03-23 15:13] Shaquu commented on #52
It is what I have:

node-red-homekit:
    image: nrchkb/node-red-homekit
    environment:
      TZ: Europe/Warsaw
      DEBUG: UniFi*
    #  DEBUG: NRCHKB*,HAP-NodeJS*
    network_mode: host
    volumes:
      - './data/node-red-homekit:/data'
    container_name: node-red-homekit
    restart: always
    depends_on:
      - mosquitto

[2021-03-23 15:17] Shaquu commented on #52
First thing, add DEBUG=NRCHKB* env variable.
Start container and share the logs from boot.

Second consider using our image nrchkb/node-red-homekit

[2021-03-23 17:34] CaseyRo commented on #52
[code]

Logs filtered on NRCHKB.

Why would I use your docker image? I'm a bit cautious to simply assume that is better - happy to run a separate docker instance to test if that makes sense (for testing)

[2021-03-24 22:54] Shaquu commented on #52
Regarding the image I would say that if you are comfortable with your own set up then there is no need to move to ours.
Thing is that sometimes people use strange images/setup like iostack which is less easy for us to debug.

Regarding logs, are you sure you did not skip some?
Check first lines after node-red starts. If you don't see what I see then probably you are not passing the experimental fl

[2021-03-25 00:02] Shaquu commented on #373
@Alexvrs thanks for the input. Feature is available in latest dev version.
Some Accessories must be deployed as Standalone Accessory instead of Bridge.

![image](https://user-images.githubusercontent.com/2881159/112399010-b66ece00-8d05-11eb-9f75-f1c4c8bda5de.png)
![image](https://user-images.githubusercontent.com/2881159/112399035-c5ee1700-8d05-11eb-91c1-19bba2a4b95c.png)

[2021-03-25 00:02] #373 closed

[2021-03-25 00:04] Shaquu commented on #367
@AlexDavidenko can you let me know if the problem is solved or you need further attention?

[2021-03-25 00:30] crxporter commented on #326
It's an apple bug. Nothing we can do about it. Closing, I'll keep testing after each iOS update and comment if I ever notice it fixed.

[2021-03-25 00:30] #326 closed

[2021-03-25 00:33] crxporter commented on #360
How are things going here? I'm checking in today on stale issues... I don't trust staleBot so I just do it myself occasionally...

[2021-03-25 00:34] crxporter commented on #364
Check? Check? I would guess this is a network config issue but we need more info.

Closing on March 30 if we don't hear back.

[2021-03-25 09:36] CaseyRo commented on #52
Here you go @Shaquu:

![CleanShot 2021-03-25 at 10 36 07](https://user-images.githubusercontent.com/6368490/112451619-ffe70980-8d55-11eb-9f5b-8f48830dbd5e.png)

[2021-03-25 09:38] Shaquu commented on #52
Great. I think I have found a bug so please update to latest dev.

[2021-03-25 10:26] CaseyRo commented on #52
Thanks @Shaquu! It's there! I'm testing it once my workday is over! *excited*

[2021-03-25 10:27] Shaquu commented on #52
@CaseyRo just be careful and backup what you have ;)
It's called experimental for a reason.

[2021-03-25 10:39] CaseyRo commented on #52
yes sir, especially with adding new accesoires to homekit 😀 (home+ is great for backups of that)

[2021-03-25 17:24] Shaquu opened #378 "README.md rework"
README.md to be simplified

[2021-03-25 17:25] Shaquu opened #379 "Create CONTRIBUTING.md"
Contribution guidelines to be created.

https://docs.github.com/articles/setting-guidelines-for-repository-contributors/

[2021-03-25 18:22] crxporter commented on #378
Work in progress:

https://github.com/crxporter/node-red-contrib-homekit-bridged/pull/1

[2021-03-25 20:12] Shaquu commented on #143
I am closing this one.

We have plenty ideas on development and also we are open for everyone's comments in Discussions or on Discord.

Current roadmap will be visible in Project tab on our repository.

[2021-03-25 20:12] #143 closed

[2021-03-25 20:48] Shaquu commented on #85
Default supported languages by node red
![6CC3FF6B-474C-453B-817B-9BAB1B34039A](https://user-images.githubusercontent.com/2881159/112541581-d6f56180-8db3-11eb-8936-2d6c4f85e939.jpeg)

[2021-03-27 17:14] crxporter commented on #328
Done and functional in 1.3 dev 41. Watch for `msg.hap.session` to use this feature.

[2021-03-27 17:14] #328 closed

[2021-03-27 22:13] Shaquu commented on #232
I believe that audio support depends on device you are using.
As soon Plugin System is here I will work on audio stream for RTSP and 2 way audio gór UniFi cameras. The rest devices to be  implemented in future

[2021-03-27 22:19] crxporter commented on #343
Stale.

Please comment and we will happily re-open for more work on this.

[2021-03-27 22:19] #343 closed

[2021-03-27 22:22] Shaquu commented on #358
1. Name assigned in NodeRED cannot be changed - we are speaking about device identity
2. For some Accessories/Services there is an option to change (separate) name displayed in Home.app. It should be possible in #53

[2021-03-27 22:23] Shaquu commented on #359
@macinspak can it be closed as it was merged to hap-nodejs main branch?
It will be released on our side in 1.3.0

[2021-03-27 22:51] macinspak commented on #359
Oh sorry, sure. I haven’t tested, but if there are any issues with it, we
just raise another ticket.

On Sun, 28 Mar 2021 at 8:23 am, Tadeusz Wyrzykowski <
***@***.***> wrote:

[2021-03-27 23:37] #359 closed

[2021-03-28 14:13] Tazintosh opened #383 "Bridge unrecognised after server update?"
Hi folks,

I've just replaced my Mac mini server 2014 by an M1.
Got everything to work so far, natively without Rosetta.
Node-RED update went (finally) fine and I'm back in it with my previous ".node-red" folder copied hover to the new M1 from the old mini.
I'm running
[code]
The problem is the following:
None of my HomeKit decides created in Node-RED are reachable "unreachable" status.

For testi

[2021-03-28 14:47] crxporter commented on #383
I'm not entirely sure it works like this. I don't know if the Home app is "cool" with new IP and MAC address on the hardware. I'll let @Shaquu comment if I am wrong.

The solution would be- remove old bridge(s) and add new bridge(s)

That being said, there is an app which is made to backup and restore the home setup so you don't have to rebuild it all. I believe it should recognize _names_ of your

[2021-03-28 15:09] Tazintosh commented on #383
Hi @crxporter
The new M1 IP is the same as the previous server, it replaces it. However yes, the MAC address did changed.
I've a license for "Controller for HomeKit" and do have backups. I'll give it a try somehow. Not sure how far it does backup however… (automations, shortcuts, etc.)

[2021-03-28 15:15] crxporter commented on #383
Sure, I also don't know how much it keeps in the backup.

I don't think it's ever been expected for homekit to remember everything when moving to a new computer/server. My recommendation would be just clear homekit then add your bridges from the new machine.

PS: congrats on the M1. My wife likes hers.

[2021-03-29 08:16] Tazintosh commented on #383
Quick update for anyone that would stumble on this:

As said on Discord, I replaced on Node-RED my old "Bridge" device by a new one and attached back all my devices to it. Sadly everything was lost on HomeKit side: When I added the new Bridge, HomeKit asked me to add all devices again (28…). I'll lost all references to scenes, automations, shortcuts, etc. I’ll have to redo a lot. I then removed th

[2021-03-29 14:00] crxporter commented on #328
See this wiki page for an explanation of `msg.hap.session`:

https://github.com/NRCHKB/node-red-contrib-homekit-bridged/wiki/Output-Messages

[2021-03-30 14:31] crxporter commented on #383
Sorry we didn't have a magic fix for you! Hope you get things back running well.

[2021-03-30 14:31] #383 closed

[2021-03-30 14:31] #364 closed

[2021-03-30 15:27] crxporter commented on #358
Consolidating issues, please continue at #231  - it's pretty much the same thing

[2021-03-30 15:27] #358 closed

[2021-03-30 15:28] #367 closed

[2021-03-30 15:28] crxporter commented on #360
Please re open if this continues to be an issue in version 1.3.0 or higher.

[2021-03-30 15:28] #360 closed

[2021-04-02 22:52] careyer opened #387 "[Bug]: Node Red nodes do not install due to "hostNameValidator is not defined""
**Describe the bug**
During install I get the following errors like shown in the screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Manage Palettes'
2. Click on 'Install' for node-red-contrib-homekit-bridged
3. Wait until install finished
4. See error

**Expected behavior**
All NRCHKB node red nodes shall be installed correctly

**Screenshots**
![hk3](https://user-images.gith

[2021-04-03 08:14] Shaquu commented on #387
Hi, have you tried restarting nodered?

[2021-04-03 12:39] crxporter commented on #387
I see it now- nodered 0.2.0 was listed in first comment. I missed that earlier.

Fix was updating nodered. Please open a new issue if you need more help, thanks!

[2021-04-03 12:39] #387 closed

[2021-04-04 19:36] Supergiovane opened #388 "[Bug]: Security system with characteristics, bad behaviour"
First of all, thank you again for this great set of node!!

**Describe the bug**
The security system node behaves bad if you set the characteristics.
If you set the characteristics (see "to reproduce"), the node gives an error in the node-red log:
[code]
The bad thing, is that the node outputs a **SecuritySystemTargetState** = 1 (**ARM AWAY**) to the flow, arming the security system,

**To Reprodu

[2021-04-04 19:57] crxporter commented on #388
Some comments:

Security system TargetState can't be 4. That's "ALARM" - current state can be 4.
State 0 is "armed home" which is annoyingly the initial state of the security system.

What if you use these char props?
[code]

The goal would be to get the HomeKit (hap-nodejs?) system to stop emitting `0` state when it starts up... I've not tested this, let me know what happens and we'll figure out

[2021-04-04 20:34] Supergiovane commented on #388
Hi
Thanks for the quick feedback.
I haven’t the “home” state in my security system, so i don’t want to see it in the options.
Yes you’re right, the 4 is the alarm.
Some versions ago, this has never caused such a problem. Today i’ve updated the hk node and this issue appeared.
;-)

[2021-04-04 22:58] crxporter commented on #388
Using my JSON - it works properly but I can confirm a similar error in my log:

[code]

That being said... the device works as expected, goes to "Away" as default startup value (current state = 1) and there is no "home" option, as expected.

@Shaquu - any idea why this error is now popping up? I don't know if it's an _error_ so much as a _warning_ since everything continues working fine for me.

@

[2021-04-05 04:57] Supergiovane commented on #388
Hi crxporter
Previously, the node has never sent the “away” payload after restart. Now it sends that payload so i need to handle this behavior.
Other that that, it works as usual. Totally removing the characteristics json, the node doesn’t logs any error **and it doesn’t emit the “away” payload anymore**.

[2021-04-06 15:29] twocolors commented on #388
this error is repeated with TargetTemperature
[code]
on
[code]

[2021-04-06 16:24] Shaquu commented on #388
To answer questions from @crxporter
Error is here since HapNodeJS guys are adding more and more validations.

Probably it means HomeKit is trying to set 0 but it is not set due to ranges so it stays with previous value.

[2021-04-06 17:01] crxporter commented on #388
"Error" could be a strong word, perhaps it's just a "warning" or simply "information"?

Has anyone had any broken functionality from this?

[2021-04-06 17:03] Supergiovane commented on #388
You’re the first one with such as problem with images. Don’t care abour error. This is only a dirty log.

[2021-04-06 21:42] #379 closed

[2021-04-07 04:47] twocolors commented on #388
@Shaquu or else , some magic ...

<img width="420" alt="Screenshot 2021-04-07 at 07 44 04" src="https://user-images.githubusercontent.com/207796/113811560-1c7f3a80-9775-11eb-8b5e-2fdaf526c01a.png">

[code]
log
[code]

[2021-04-08 15:14] CaseyRo opened #389 "[Feature Request]:"
**Is your feature request related to a problem? Please describe.**
I saw some other homebridge plugins using the 'custom' accesory. I like it, I want it 😉

**Describe the solution you'd like**

<img width="812" alt="image" src="https://user-images.githubusercontent.com/6368490/114051563-7b37d780-988d-11eb-8b0d-e8b011dd18d0.png">

the home+ / eve apps use these kinds of accessoires to use as 'label

[2021-04-08 15:47] Shaquu commented on #389
Probably what we need is a custom Service option

[2021-04-12 22:50] Delphius7 opened #390 "[Bug]: onChange output fires even no value has changed"
**Describe the bug**
According to the readme the onChange output should only fire if the value has changed. Since I upgraded to version 1.3.3 onChange fires always no matter if the value changed or not.
`{"payload":{"On":true},"hap":{"oldValue":true,"newValue":true},"name":"test2","topic":"","_msgid":"7a857ca5.38a234"}`
In version 1.2.0 this worked out well and as expected so I assume this issue w

[2021-04-13 09:13] TheNON75 commented on #390
Hi @Delphius7 ,

May you please check in the bridge settings if "allow pass through" is disabled or enabled?

Thanks
Regards
THN

[2021-04-13 18:22] Delphius7 commented on #390
@TheNON75
"Allow Message Passthrough" is enabled as this is needed for my flows.

Thanks and best regards!

[2021-04-13 18:31] Shaquu commented on #390
I will try to look at it tonight. Either I will found an issue or I will apply a workaround we already have in mind.
Thanks for the report.

[2021-04-13 22:34] #390 closed

[2021-04-13 22:35] Shaquu commented on #390
@Delphius7 please check with 1.3.4 (releasing now)

[2021-04-13 22:59] Delphius7 commented on #390
@Shaquu tested 1.3.4 and it works great.
Thank you for this great project and your amazing support!

[2021-04-19 14:04] MyOzCam opened #392 "Output Home.app refresh event"
Can we make a new output to fire whenever a HomeKit controller request the current value of the characteristic?

It could be necessary when the HomeKit node is used to control a TV which is based on webService API. Currently I am triggering a query to the TV periodically (say 1 min) to update the latest status of TV to Homekit node. So, currently status displaying on home.app may not be real time.

[2021-04-19 16:32] Shaquu commented on #392
So basically you would like to hook into nrchkb/HapNodeJS internals? I don't see a problem, actually feature which will allow that is planned (plugin system).

[2021-04-19 17:06] crxporter commented on #392
I think the get event is called when the home app opens up and "refreshes" the item state? If I understand, basically you want to poll another api in nodered whenever someone opens up the home app, right?

[2021-04-20 02:41] MyOzCam commented on #392
Yes. I believe “get” event is there for this purpose.

[2021-04-20 13:42] Supergiovane commented on #388
The latest update seems to have solved the issue.

[2021-04-20 13:42] #388 closed

[2021-04-23 20:21] kevinkub opened #393 "[Feature Request]: Persistent accessory identifier for subflows a.k.a. Subflow support"
**Is your feature request related to a problem? Please describe.**
NRCHKB does not properly support the use of accessories in subflows. The reason for that is that an accessory is identified by a unique id that is currently calculated based on the nodes identifier. However for subflows node-red dynamically assigns node ids, as soon as a deployment happens. Within HomeKit this leads to the deletion

[2021-04-23 20:43] crxporter commented on #393
Related to #298

[2021-04-23 20:46] crxporter commented on #393
Subflow support is currently planned for our 2.0.0 release but if you've got a non breaking way to do it, then maybe we can bump that up to a sooner release.

@Shaquu I'll let you review and comment!

[2021-04-24 08:45] Vinisz opened #394 "[Feature Request]:"
NOTE: for setup help, general "how do I use this?", or other simple things, please use [Discussions](https://github.com/NRCHKB/node-red-contrib-homekit-bridged/discussions). Issues are reserved for feature requests, bugs, and security issues in the code.

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Homekit 2 speaker support so speaker

[2021-04-24 14:59] crxporter commented on #394
I think this is possible in 1.3 and higher.

@TheNON75 do you have a speaker running? Can you share an example?

[2021-04-24 18:12] TheNON75 commented on #394
At the moment I have no speakers configured with nrchkb.

I can confirm that smart speakers can be added from 1.3.0, supporting play/pause only.
@Vinisz , what do you mean by “HomeKit 2 speaker”?

[2021-04-24 18:17] Vinisz commented on #394
Sorry, I mean “airplay 2” speakers.

[2021-04-24 18:21] crxporter commented on #394
If you're looking to add a non airplay speaker for airplay streaming: it's not related to this project and I don't think it's possible. Try shairport (search GitHub)

Now if you want to have a speaker control in homekit for some third party - yeah we can do that.

[2021-04-24 18:37] TheNON75 commented on #394
Airplay 2 speakers for airplay based playback are appearing in the phone, they have not much to do with HomeKit.
Can you describe in details, what would you like to achieve?

[2021-04-25 13:24] Shaquu commented on #393
Hi, looks great, but one part is missing (let's discuss).
According to Hap docs some fields should be persistent through the life of an Accessory (or Bridge).
It is why it was also planned to use those fields' id creation:
![image](https://user-images.githubusercontent.com/2881159/115994974-9b7bcc00-a5d9-11eb-9cf9-677863642167.png)

So we have to:
1. Purge Bridge/Accessory if data above changed by

[2021-04-25 13:28] Shaquu commented on #393
For the whole solution we need some compatibility marker.
I have created `nrchkbConfigCompatibilityOverride` but it is not too good and it should be replaced.
We could probably add a new field in UI called version.
For version 1.4 we could apply new id generation, for missing version (aka 1.3 or less) we apply the old way.

[2021-04-25 13:41] Shaquu commented on #393
Possibly we do not need _alias as _flow.path might be unique already. Can you check @kevinkub ?

[2021-04-25 16:29] kevinkub commented on #393
If I were about to implement it at work, I think I would just implement a bugfix now (meaning consistent behaviour in in flows and subflows). You have an Agenda and you put the breaking change up for a V2, which is perfectly fine from my perspective. But I am basically three days into this community and do not feel to be in the right position to give good advices ;-).

Regarding `_alias`: The prop

[2021-04-25 20:56] Shaquu commented on #393
Okay, @kevinkub for now go with minimal version so adding support for subflow using your idea.
Please make a PR against dev branch.

Thanks!

[2021-04-26 14:38] kevinkub commented on #393
I will create a pull request in a second, but I have good news for you @Shaquu. The accessory UUID already changes when name, manufacturer, serial no or model changes. This is already implemented in the current master branch and as far as I can tell in compliance with the HomeKit protocol. So if I am not wrong, applying my pull request should make a breaking change obsolete.

[2021-04-26 15:01] Shaquu commented on #393
@kevinkub possibly try for Service Node and it's accessory but not for Host Node (aka Bridge and Standalone Accessory)
Have a look:
https://github.com/NRCHKB/node-red-contrib-homekit-bridged/blob/8fb726767bb9e94ce4b70f46ff0e30750eb3bafc/src/lib/HAPHostNode.ts#L79-L91

[2021-04-27 17:38] Shaquu commented on #393
@crxporter please test on dev

[2021-04-27 17:41] Shaquu opened #396 "[Feature Request]: Bridge UUID based on persistent data"
According to Hap docs some fields should be persistent through the life of an Accessory (or Bridge).
It is why it was also planned to use those fields' id creation:
![image](https://user-images.githubusercontent.com/2881159/115994974-9b7bcc00-a5d9-11eb-9cf9-677863642167.png)

Looks like this is not implemented for Bridge.
Implementation must be backward compatible.

[2021-04-27 21:23] kevinkub commented on #396
I finally understand what you mean. As I do not see any possibility to check wether a node has just been added or if it was in the flow already, how about introducing a flag in the config like `useHapConformIdentifier` that defaults to `true` and is invisible in the user interface? That way, the property should be `true` for any new nodes that were added after an update of nrchkb and `null` for th

[2021-04-27 23:55] Shaquu commented on #396
It is second case in the last time :)
And more cases are coming as big features will land soon. Breaking compatibility is not an option until it is related to general stability.

So I believe adding version field (which we already have available in UI side :) ) is a good idea. This field could be either hidden or read only for user knowledge.

[2021-04-28 08:05] zjp0225 opened #397 "Docs: Change TV example to stand alone"
television node, which displays a house icon in ios14, not a television Icon.

![微信图片_20210428160349](https://user-images.githubusercontent.com/83336495/116369197-af266d00-a83b-11eb-98bf-50163ae0b4d4.png)

[2021-04-28 08:52] Shaquu commented on #397
Hi, do you use Standalone Accessory instead of Bridge for that Service?

[2021-04-28 12:45] zjp0225 commented on #397
[{"id":"aa251c20.a0d69","type":"tab","label":"索尼电视","disabled":false,"info":""},{"id":"a9e569de.eb508","type":"inject","z":"aa251c20.a0d69","name":"开关：开","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Active\":1}","payloadType":"json","x":160,"y":160,"wires":[["848e828d.8ccc1"]]},{"id":"250f61e5.cdbe8e","type":"inje

[2021-04-28 12:49] zjp0225 commented on #397
[Sony TV.zip](https://github.com/NRCHKB/node-red-contrib-homekit-bridged/files/6391874/Sony.TV.zip)

[2021-04-28 12:54] crxporter commented on #397
Hello! When using the television service, you will need to do the following steps:

1- be sure to have our node version 1.3.4 (must be 1.3 or higher)

2- create a television parent accessory as "Standalone" host type, not "bridge" - screenshot:
<img width="579" alt="image" src="https://user-images.githubusercontent.com/38265886/116406866-c000bf80-a7f6-11eb-814a-e8acccd551e6.png">

3- in your stand

[2021-04-28 13:07] zjp0225 commented on #397
THX

[2021-04-28 13:08] zjp0225 commented on #397
THX

[2021-04-29 10:42] Barabba11 opened #398 "To control devices from internet"
Hi mates please apologize me to open a bug for asking a question, I hope you don't argue me.
As I understood Apple Home pretend to have a device stable on the same LAN of devices to "bridge" them over the internet, is it correct? Opposite that, Google let devices to be connected on its cloud and operate from that side, so it's not needed to have a local bridge.
I'm planning to by an iPad just for

[2021-04-29 12:34] crxporter commented on #398
Hello! I'm not sure how anything google works but homekit things work over internet if you have what they call a "home hub". This includes Apple TV, homepod, properly set iPad, and (I think) some internet routers.

Here is Apple's support article about it:
https://support.apple.com/en-us/HT207057

[2021-04-30 03:31] crxporter commented on #397
Did this help? If you need more help with this device, please let us know. If you are all set, we will close this issue.

Thank you

[2021-04-30 03:33] crxporter commented on #394
@Vinisz how are things going here? I'd like to hear from you so we can continue helping. If you have found some answers, let's talk about them or close this issue.

Thanks!

[2021-04-30 03:34] crxporter commented on #398
Any more questions on this? If not lets close it out, thanks!

[2021-04-30 07:57] Barabba11 commented on #398
Thank you! You answered me :)

[2021-04-30 07:57] #398 closed

[2021-05-05 20:51] crxporter commented on #393
So yeah, I got distracted with some other projects.

Anyone else testing this? Or is everyone depending on me?

[2021-05-05 21:50] crxporter commented on #393
Alright I have learned enough to go through a first test.

I made a pair of light bulbs. It looks like having them in subflow creates the bridge twice. The way I would expect this to work each device on the subflow would share a bridge. So I can make like "zwave dimmers" subflow and have a single "zwave dimmers" bridge with as many dimmers showing up as however many copies of the subflow I'm using

[2021-05-05 21:53] crxporter commented on #393
That being said ... it *does work* so - good progress!

[2021-05-05 22:05] crxporter commented on #393
Alright, @Shaquu figured it out, he said (on discord pm):

If I create the bridge while inside the subflow editor, I get a bridge per subflow. If I use a bridge created "on the outside" in the normal editor, I get a single shared bridge.

[2021-05-06 06:00] kevinkub commented on #393
That is an ugly edge case that I never ran into. What do you think is a good way to fix that? Blocking bridge creation in subflows?

[2021-05-06 07:02] Shaquu commented on #393
For me it looks like a useful case. I would be in favour of keeping it but adding huge warning in a subflow

[2021-05-06 07:19] kevinkub commented on #393
I do not think that it is possible to pair that bridge as you do not see the Code in the UI and I think the bridge would be deleted if the flow is redeployed… the node.id fix from this pull request should be applied to the bridge to make sure that the bridge does not change its uuid upon redeploy.

[2021-05-06 07:48] crxporter commented on #393
I was able to pair both when I had created two subflows each with a bridge. I just had to open the config node for the code.

I see it being useful in the case of a stand alone accessory inside the subflow. Probably not as a bridge.

[2021-05-06 07:55] crxporter commented on #393
PS: Status updates from the flow (showing the pair code) is easy enough. Use status node to pass HK node status to subflow status.

<img width="501" alt="image" src="https://user-images.githubusercontent.com/38265886/117262010-6ad83580-ae16-11eb-9265-1fde45c72fec.png">

[2021-05-06 22:42] Shaquu commented on #393
So my proposal. Let me know if it is not the best idea.
![image](https://user-images.githubusercontent.com/2881159/117373954-89006d00-aecc-11eb-87a7-03a122b4ea45.png)

It will only be displayed for Service in a Subflow, with Host Type Bridge.

[2021-05-06 22:47] Shaquu commented on #393
We can either fix uuid for bridge or go with it as a known bug until.

[2021-05-06 23:14] crxporter commented on #393
Would the warning always appear or only if in a subflow setup? I don't mind if we need to do some user education for people who want to use the new toys.

If it shows always, move it to the bottom I think. Less "in your face" for non subflow users but there if someone's going for subflow setup.

[2021-05-06 23:34] Shaquu commented on #393
It will only be displayed in a subflow.

[2021-05-07 11:34] hung2kgithub opened #402 "[Feature Request]: Television Service with more than 4 inputs"
Is it possible to set more than 4inputs so that user can add tv channel as input source?

i edit the "set up inputs" node, adding

var input4 = "HDMI 4";
var input4type = HDMI;
var msg4={};
msg4.payload = {
    "Identifier": 4,
    "IsConfigured" : 1,
    "ConfiguredName" : input4,
    "InputSourceType" : input4type
};

return [msg0,msg1,msg2,msg3,msg4];

souce setup again but doesn't work, thanks

[2021-05-07 13:26] zjp0225 commented on #402
https://github.com/NRCHKB/node-red-contrib-homekit-bridged/issues/397
可以参考我这个帖子上传的流附件，希望对您有帮助。

[2021-05-07 13:26] crxporter commented on #402
Did you add a 5th out to that function node?

my example has 4, just add more to everything until you have as many as you need! I haven't looked at that one for a while but if you send over your code from nodered I'll have a look.

[2021-05-07 13:33] zjp0225 commented on #402
一共添加了7个输入源。
![E9D04044-A029-4DB5-AD70-DBAB77E5DECD](https://user-images.githubusercontent.com/83336495/117457035-709b5b80-af7b-11eb-92a5-5c23caed8120.png)

[2021-05-08 14:03] hung2kgithub commented on #402
yes, i add 5th input and re-setup the tv & input source, 5th input source appear as a standalone switch inside the tv at very beginning, after zjp0225 told me that 5th+ input is working so i close the home app and open again and 5th input is ok now, thanks all

[2021-05-08 14:13] hung2kgithub commented on #402
一開始第5個輸入源是以開關附年出現在電視裡面，看了你的 json 發現我應該設對了，等了會重開 home app 就成功添加了，謝謝

[2021-05-08 14:27] crxporter commented on #402
Glad to hear it!

Closing as solved. Come back anytime if you have more questions!

[2021-05-08 14:27] #402 closed

[2021-05-08 15:45] Barabba11 opened #403 "[Bug]: Error: Host Node not found after NRCHKB upgrade"
Hi, I had a conflict with a previous homekit module, I've noticed it after installing homekit-bridged. then I was able to remove all with npm uninstall, and reinstalled only bridged. Now I've many errors like these and homekit-bridged nodes (I've importaed froma a flow) are not active. I've many errors like this, how to fix them?

08 May 18:17:02 NRCHKB-Error:HAPServiceNode [Riscaldamento Ripostig

[2021-05-08 15:48] Barabba11 commented on #403
(node:10444) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). To terminate the node process on unhandled promise rejection, use the CLI flag `--unhandled-rejections=strict` (see https://nodejs.org/api/cli.html#cli_unhandled_rejecti

[2021-05-08 16:02] crxporter commented on #403
@Shaquu

[2021-05-08 16:08] Shaquu commented on #403
Let's start with:
1. Stop nodered
2. In nodered folder (usually ~/.node-red) run `npm i node-red-contrib-homekit-bridged`
3. Start nodered

[2021-05-08 16:10] zjp0225 opened #404 "Synchronous display and control of curtain opening and closing ratio in home app"
窗帘通过NRCHKB接入Home APP中，无法通过Home APP来控制窗帘的开合比例，我无法在Home APP中显示具体的开合比例，只是能控制窗帘的开和关。有大神可以分享下流吗？
非常感谢！！！
[cover.zip](https://github.com/NRCHKB/node-red-contrib-homekit-bridged/files/6446155/cover.zip)

[2021-05-08 16:11] Barabba11 commented on #403
thanks for help, I did it, stop and then npm i node-red-contrib-homekit-bridged, when start again I had same errors
Now I shoudl run, I reply as soon I can

[2021-05-08 16:12] Barabba11 commented on #403
Full log:
`    profile, messages, bookmarks and preferences

Can’t reinstall modules after a conflict
General
Colin
1h

    NR still not give the chance to "undo" something

What sort of things do you want to undo? You can undo flow changes provided you have not closed the editor page (at least I think that is what is the limit).

How did you install the nodes?

    npm -g uninstall node-red-contr

[2021-05-08 16:13] Barabba11 commented on #403
full log `8 May 19:10:34 - [info] Node-RED version: v1.3.2
8 May 19:10:34 - [info] Node.js  version: v14.16.1
8 May 19:10:34 - [info] Windows_NT 10.0.18363 x64 LE
8 May 19:10:36 - [info] Loading palette nodes
Initializing HAP-NodeJS v0.9.4...
8 May 19:10:38 - [info] Dashboard version 2.29.0 started at /ui
8 May 19:10:39 - [warn] rpi-gpio : Raspberry Pi specific node set inactive
8 May 19:10:39 - [

[2021-05-08 16:15] Shaquu commented on #403
More questions then and one notice.

Notice: NRCHKB will not work properly on Windows (natively, but running on Linux on VM should work better. The best solution is to use raspberrypi as it is our primary device in development). It is regarding bridge pairing so not related to current issue.

Questions:
1. What is your NodeJS version?
2. Please paste whole log. I feel like we are missing something

[2021-05-08 16:19] Shaquu commented on #403
Can you share your flow?
What was the previous HomeKit package you used? If it is not just our older version then it is just compatibility issue.

[2021-05-08 16:41] crxporter commented on #404
Translation according to google translate:

thank you very much! ! !

[2021-05-08 16:47] crxporter commented on #404
I'll check your flow a little later today but I think this is one of 3 questions:

1- you have either open or closed curtain. The curtain does not show what percent open it is.
2- you have a curtain with momentary button control. You hold the button, the curtain moves while being held.
3- you have a curtain which does show how much open or closed it is. You are looking for a way to send this infor

[2021-05-09 09:59] Barabba11 commented on #403
Hi! Thank you really a lot for your kind help, really appreciated! And please sorry me for the dealy on answer. I've the latest WIndows version 14.16, which seems ok for Node Red. If I type npm version I have:
npm: '6.14.12',
ares: '1.16.1',
brotli: '1.0.9',
cldr: '37.0',
icu: '67.1',
llhttp: '2.1.3',
modules: '83',
napi: '7',
nghttp2: '1.41.0',
node: '14.16.1',
openssl: '1.1.1k',
tz: '2020a',
uni

[2021-05-09 10:37] Barabba11 commented on #403
I have this conflict, it it may matter
https://ibb.co/hyXZcCm

[2021-05-09 13:21] crxporter commented on #403
That first item on your list showing "conflict" is a very old version of this software. It won't work to run this 4 years old one alongside the current `node-red-contrib-homekit-bridged`.

Additionally I'm not sure what the `homekit abc` project is, it might also cause you some troubles if trying to run it alongside nrchkb.

[2021-05-09 14:45] Barabba11 commented on #403
I really don't know how to remove it.. I can try with npm uninstall but I don't know how its folder name.
probably I've installed it and forget about, I've noticed it only now after installing bridge. If I remove bridge I can't see it more

[2021-05-09 14:55] crxporter commented on #403
I think you go to `~\.node-red\` then `npm uninstall node-red-contrib-homekit`

[2021-05-09 20:58] Barabba11 commented on #403
Thanks, I had already done it, the output doesn't report any package removed, I still see on palette on the install, but on nodes there is only bridge. Maybe something is corrupted.
Anyway now I see the nodes and I can configure them, that's already a lot, I'm not interested to have them work but to create flow to export after on RB. Error still present in consolle, maybe because of windows. We ca

[2021-05-09 20:58] #403 closed

[2021-05-10 12:59] zjp0225 opened #405 "The function switch of humidifier node is unreasonable"
The node humidifier is displayed in the Home APP as four function keys, namely, Automatic, Humidifying, Dehumidifying and Close. It feels that these four function keys are not quite suitable for practical use. The following three points are suggested: 1. 2, humidification can be fourni gears: automatic, low, mid-range, high-grade. 3, or cancel the low, middle and high gear, 0-100 non-gear adjustme

[2021-05-10 13:20] crxporter commented on #405
These 4 keys are showing the value of `CurrentHumidifierDehumidifierState` - as defined by the Apple spec they are:
0- Inactive
1- Idle
2- Humidifying
3- Dehumidifying

It is possible to change which appear in your setup. But only limiting which appear.

First example of what to put in Characteristic Properties, if you want only "Inactive" and "Humidifying" with a fan speed slider added:
[code]

A

[2021-05-18 01:54] MyOzCam opened #408 "heatercooler service"
Hi,

I am testing heater cooler service as below:
<img width="766" alt="Screenshot 2021-05-18 at 9 46 05 AM" src="https://user-images.githubusercontent.com/26063869/118578035-0aee7100-b7be-11eb-8e65-c8c8d8782bd8.png">

I can get the service on HomeKit
![IMG_EC8856A03E06-1](https://user-images.githubusercontent.com/26063869/118578112-2f4a4d80-b7be-11eb-922b-c6e08f2e08f8.jpeg)

Unfortunately, only p

[2021-05-18 07:38] MyOzCam commented on #408
Hi,

I found I need to use Thermostat instead of HeaterCooler service. It works better.

Regards,

[2021-05-18 11:36] crxporter commented on #408
If you are all set, feel free to close the issue - you might consider posting your new code for anyone in the future wondering the same question.

PS: sorry I couldn't help - I saw your comment just a couple of hours after my house got hit by lightning. Lightning took out all network equipment... I'll be back to help again in a few weeks.

[2021-05-18 11:52] MyOzCam commented on #408
Sure, no problem.

new code post here:
![Uploading Screenshot 2021-05-18 at 7.52.02 PM.png…]()

[{"id":"bef0bfb6.df9c58","type":"homekit-service","z":"df79f4cf.550a68","isParent":true,"hostType":"0","bridge":"405e072d.6a7968","accessoryId":"","parentService":"","name":"Thermostat","serviceName":"Thermostat","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.3.4","serialNo":"Default Seria

[2021-05-18 11:52] #408 closed

[2021-05-26 19:53] Tyraenor commented on #52
@Shaquu I've added an custom characteristic but it seems that it is not loaded into HomeKit. I want to add PowerUsage for a Fritz DECT 200, so I can build an automation based on the current power usage. I called it "Watts" and added {"Watts":true} to characteristics properties. But nothing happens.

BTW: Would it be possible to make the unit field not a dropdown but an input field? Because I need

[2021-05-26 20:42] Shaquu commented on #52
@Tyraenor few things.
Custom Characteristic will not appear in Home.app most of the time. You can see it in alternative apps like Eve.
Possibly Custom Service will bring additional features.

Regarding watts, list is made from HomeKit specification so there is no possibility to add custom I believe.

[2021-05-26 20:47] Tyraenor commented on #52
@Shaquu Yes I know that, sorry for not being clear about the fact, that I looked into Eve app for that. My problem is, that I want to see the current power consumption in the Eve app. It works when using other platforms like Homebridge or ioBroker. So I was hoping that I can achieve a similar thing in Node-RED, too.

What I basically want is the service Outlet, with the Community Characteristic "W

[2021-05-26 20:52] Shaquu commented on #52
This feature is experimental and still in active development.
If it does not work I can promise it will once we are done with it.
Can you give me details regarding your configuration for custom characteristic? I might try it myself later :)

[2021-05-26 20:58] Tyraenor commented on #52
The first issue is, that I cannot select the correct unit in the custom characteristic editor, which would be "W".

See my screenshot of the editor and my homekit node.

<img width="511" alt="Screen Shot 2021-05-26 at 22 56 06" src="https://user-images.githubusercontent.com/35043931/119730322-e0637e80-be75-11eb-894c-6f0ab3ca6060.png">

<img width="548" alt="Screen Shot 2021-05-26 at 22 57 54" src=

[2021-06-07 06:08] sjorge commented on #52
Currently there is no way to remove a custom one after it has been added right?

[2021-06-07 11:12] rufusgor commented on #52
If "String" is selected, the parameter is not passed to the device.

[2021-06-07 19:24] sjorge commented on #52
I removed the file and node-red no longer complians, I've abanonded this for now :(
It kept complaining about validValues.

[2021-06-10 13:08] #404 closed

[2021-06-10 13:08] #397 closed

[2021-06-18 18:05] kaeltis opened #412 "CIAO advertiser not using custom MDNS port"
Hi,

I've just tried integrating this into my existing setup and noticed that the CIAO advertiser is not using the custom port set for MDNS and instead always uses the default Port 5353.
I'm using node-red-contrib-homekit-bridged  v1.3.5 and Node-RED v1.3.5

Screenshot of the bridge settings:
![image](https://user-images.githubusercontent.com/809734/122600325-e2cd8880-d06f-11eb-9881-b6a01a64ca9f.p

[2021-06-18 20:27] Shaquu commented on #412
I am pretty sure that mdns port cannot be changed and it is always 5353. Port you are changing is used for Bridge or Accessory advertising in the network.

[2021-06-19 15:07] anhtuanng98 commented on #408
I have same problem with output of heatercooler service. I need output of fanspeed to connect with physical climate. Anyone can solve this problem?

[2021-06-19 15:47] crxporter commented on #408
@anhtuanng98 we have had a few discussions about this on our discord channel, you're free to join in (link on our readme)

The main points I remember:
- heater cooler and thermostat are nearly identical but not quite, maybe try both to see which you like
- If you want fan speed control you can add a fan as a linked service for your heater cooler, it'll show up below the temperature controller

I t

[2021-06-20 15:15] kaeltis commented on #412
I'm running node-red inside docker on a host where I'm also running homebridge, which is already binding to port 5353.
That's why I changed the Port in "Custom MDNS Configuration" to 5354.

The command is `netstat -tulpn` directly inside the node-red container.

[2021-06-22 18:39] lougreenwood opened #413 "[Bug]: Stateless programmable switch names are not shown in Home app"
**Describe the bug**
When using a linked `StatelessProgrammableSwitch` the name used for the service will not be shown in the `Home` app:

Instead a default value of `Button X` will be used. More over, if there are multiple linked `StatelessProgrammableSwitch` with the same parent, the `StatelessProgrammableSwitch` will be auto-named in `Home` in a non-deterministic manner. This means that when th

[2021-06-22 21:02] crxporter commented on #413
This is a limitation in the Apple spec. The only choices for names are button number or number of dots. Those are the two namespace options. I spent like half a day once going through the spec in search of more naming options.

It is possible to use "one dot", "two dots", etc. - using `ServiceLabelNamespace`. Have a look at this wiki page for my experiments from a couple years ago, specifically th

[2021-07-02 07:30] lougreenwood commented on #413
Thanks @crxporter, this works!

[2021-07-02 07:30] #413 closed

[2021-07-10 10:07] Shaquu commented on #52
@Tyraenor Units are set up according to HomeKit Specification. If you believe that other values are allowed (will not break HK) then I can add an option for a custom value.

@sjorge
1. to remove, go to nrchkb node. You have X icon on the right. Then "Done" and redeploy. Also remove that characteristic from Custom Characteristic on Service node.
![image](https://user-images.githubusercontent.com/28

[2021-07-10 10:27] Shaquu commented on #52
![IMG_2242](https://user-images.githubusercontent.com/2881159/125159794-f2755400-e179-11eb-94de-ceb6855d6f5b.jpeg)

Characteristic Properties
[code]

<details>
<summary>Custom Characteristics</summary>

[code]
<details>

[2021-07-16 13:33] Shaquu commented on #210
![image](https://user-images.githubusercontent.com/2881159/125955876-ee012d39-9f22-42d0-806f-8f91bbd41de9.png)
![image](https://user-images.githubusercontent.com/2881159/125955956-dccd2471-b62b-4483-a5a4-44b059984794.png)
![image](https://user-images.githubusercontent.com/2881159/125956138-7e83f2ba-b977-4771-be97-7e3852e541db.png)

[2021-07-16 15:30] Shaquu commented on #392
![image](https://user-images.githubusercontent.com/2881159/125972080-7131ddf4-7482-4519-a945-03ebc8b871e6.png)
Second output will contain `msg.hap.event`

[2021-07-16 17:32] Shaquu commented on #392
![image](https://user-images.githubusercontent.com/2881159/125985894-44813df8-af4a-4065-92b5-15a1b4d6ad2b.png)
![image](https://user-images.githubusercontent.com/2881159/125986751-6ff81537-1d40-484a-b26f-c87447876389.png)

[2021-07-16 20:28] Shaquu commented on #210
"Final" look and feel
![image](https://user-images.githubusercontent.com/2881159/126005051-4aaa61f4-65e7-42ab-9f65-58bfe7201690.png)
![image](https://user-images.githubusercontent.com/2881159/126005069-9771ba2f-4086-43fa-931d-a2ea2b749ba9.png)
![image](https://user-images.githubusercontent.com/2881159/126005083-35fcd9cc-ece2-47a8-a3b0-917f595616d1.png)

[2021-07-23 17:20] Shaquu commented on #392
Together with NRCHKB 2.0.0 _onSet_ and _onChange_ will be merged into unified output called _events_
It will output data for all event types defined below:

- set
- change
- subscribe
- unsubscribe
- characteristic-warning

Until then node _service2_ might be released as experimental feature.

[2021-07-23 18:25] crxporter commented on #392
Anything with `?` is optional and anything without will always be defined? It's looking good!

All of these messages are from one single output, correct?

[2021-07-23 22:48] Shaquu commented on #392
Indeed,_?_ means that _undefined_ is allowed so value can be empty :)

[2021-07-23 23:17] crxporter commented on #392
So a switch node watching for

`msg.payload.hap.event == "onSet"`

we would expect to see the same output as current first output?

[2021-07-27 14:32] Graefer commented on #302
@crxporter: I am just trying to get rich notification. I do not need a video stream but rather just a snapshot image from my Unifi G3. Do I need to install ffmpeg nevertheless or can I use http://ipcam/snap.jpeg?

[2021-07-27 14:37] crxporter commented on #302
@Graefer yes you will still need ffmpeg. It's still used to pull the image into the homekit world.

Not sure why you don't want to add the stream, it's pretty simple on a G3 cam

[2021-07-30 09:20] MicheleSilla810 opened #423 "Services not responding"
I decided to update NRCHKB and Node-RED to the latest versions, i'm running in a docker container. After the update however, all the services stopped working and they never respond. Maybe if i keep the home app open, after 5-10 minutes magically it starts working, but after 20-30 seconds they stop responding again. I tried deleting the Node-RED container and data volume and reinstall everything fr

[2021-07-30 10:22] MicheleSilla810 commented on #423
Tried reinstalling everything a third time and splitting accessories on 2 different bridges. For now one bridge stopped responding once but after that everything seems to work fine. I'll reopen (if i'm able to) the issue if i find something problematic in my services configuration that may have caused the issue.

[2021-07-30 10:22] #423 closed

[2021-08-02 20:39] Shaquu commented on #217
I have tested in the subflow (with 1.4.0-dev.7).

[code]

`${test}` got evaluated as `100` as I requested

[2021-08-02 20:45] Shaquu commented on #217
@sjorge please test solution on dev branch

[2021-08-03 18:21] Graefer commented on #302
I tried to avoid to get into trouble by installing ffmpeg. Now i tried it - and find myself in trouble.
I used your instructions (CameraRTPStreamManagement <https://github.com/NRCHKB/node-red-contrib-homekit-bridged/wiki/CameraRTPStreamManagement#-unifi-protect>) and got errors concerning reference to atomic. Found a solution (https://stackoverflow.com/questions/62374298/ffmpeg-installation-on-ras

[2021-08-04 20:46] Graefer commented on #302
<img width="590" alt="Bildschirmfoto 2021-08-03 um 20 18 52" src="https://user-images.githubusercontent.com/26072184/128252365-3d3659ca-e52c-4e5f-a1a6-41f65acd3140.png">
<img width="588" alt="Bildschirmfoto 2021-08-03 um 20 19 20" src="https://user-images.githubusercontent.com/26072184/128252404-590341d8-eefd-4ac8-be28-008e72f0c6ec.png">

[2021-08-05 02:21] crxporter commented on #302
@Graefer if you have some time to work on this, I'd recommend joining us on discord. We can focus on your issues and assist live.

Link: https://discord.gg/uvYac5u

[2021-08-05 12:03] marcus-j-davies opened #424 "[Bug]: Not naming the host node causes a crash"
### NRCHKB Plugin Version

1.3.6

### Node JS Version

v14.16.0

### NPM Version

6.14.11

### Node-RED Version

2.0.0

### Operating System

OSX (but others are likely affected)

### What happened?

The following fatal crash when deploying, with Host nodes missing a name.

[code]

### How to reproduce?

1 - Add a new service node
2 - Attach it to a newly created host node (but ensure it is not na

[2021-08-05 16:37] sjorge commented on #217
Doesn't look available yet in the current release? But that is not showing 1.4.0 for me though.

[2021-08-05 17:43] crxporter commented on #217
To install newest dev release from today:

1. Stop node-red
2. Backup `~/.node-red` folder
3. `cd ~/.node-red `
4. `npm i node-red-contrib-homekit-bridged@1.4.0-dev.11`
5. Start node-red

[2021-08-05 19:40] sjorge commented on #217
Not sure it's working for number values

[code]

I had this on a bulb and I set ctMin=250,ctMax=454

And got:
<img width="532" alt="Screen Shot 2021-08-05 at 21 37 34" src="https://user-images.githubusercontent.com/379665/128410775-9fc78fe6-f28d-4401-80f4-0ccf11d3baa0.png">

What I expected and got with:

[code]

<img width="513" alt="Screen Shot 2021-08-05 at 21 39 55" src="https://user-images.gi

[2021-08-09 14:28] Typ1er opened #429 "LockTargetState / LockMechanism"
I have a problem with the LockMechanism,

I have a lock that I turn on for 3 seconds every time I turn it on. After that it goes off automatically.

In my case the input and output node is the same.
The HomeKit Node with the LockMechanism, passes the input from the LockTargetState directly to the output. How can I prevent this? The HomeKit Node delivers exactly the same payload for switching.

A s

[2021-08-09 14:48] Shaquu commented on #429
First of all, you need to disable “ allow message pass through” in bridge.
Second I am calling our locksmith @crxporter

[2021-08-09 17:58] crxporter commented on #429
It seems like your lock is like "buzzing in" type lock, is this correct?

Shaquu answered this part.

We should be able to get things working. Can you share the flow you have already? Or at least examples of the payloads which your lock hardware is sending and expecting?

More info:
The lock service will send payloads like:
[code]

And it will need to *receive* payloads from your device like:
[cod

[2021-08-09 19:40] Barabba11 opened #430 "[Help needed]:"
### Your Current NRCHKB Plugin Version

1.3.6

### Operating System

Pi3B

### How can we help?

Hi, I've about 30 devices on flow, but only 3 are recognized (it asked me for the number of hub and I?ve inserted the default 11111111), they have names which aren't really contained on nodes, but they are present on Virtual Smart Home (Amazon-Echo), there I also have about 30 devices (recognized) I do

[2021-08-09 20:22] Typ1er commented on #429
Thank you both.

It long at the setting of the pass through.

I know the 4 states from Target and CurrentState. I use only two, open and close (true/false)

As a beginner you don't have the examples to understand it.

Input Node and Output Node are from ioBroker, this switch a relay on a ESP8266 (Tasmota)
<img width="1610" alt="Bildschirmfoto 2021-08-09 um 22 17 50" src="https://user-images.github

[2021-08-11 23:16] Shaquu commented on #388
Seems it is not resolved yet.
Should be resolved by homebridge/HAP-NodeJS#902

[2021-08-11 23:23] crxporter commented on #388
I'm gonna be honest - I "fixed" mine by adding `0.0001` to my "zero values"

I have this line:
[code]

[2021-08-16 14:41] houser42 commented on #389
Just a word that I am now testing iOS 15 that supposedly has custom service support.
I have a ton of use for this, as I build bridges to small off-grid solar systems.
I have a few nodes live in node red that I would like to publish with correct names rather than as it is now
with all things like voltages, currents and state of charge are shown as humidity and temperature,
Ah well. Just a word that

[2021-08-16 15:53] crxporter commented on #389
Hold up. Really? Can you share some screenshots?!

[2021-08-16 15:55] Shaquu commented on #389
@crxporter first post contains screenshot :)

[2021-08-16 16:11] houser42 commented on #389
hello @crxporter
I have no new accessory types working in my setup that I can show :(
All I am saying is that it seems to me that support is there to be tapped into in iOS15. Or will be soon.
Either via Matter or directly as an accessory developer. This is beyond my skillset but I assume the node-red-contrib-homekit-bridged team is considered a pretty serious accessory developer ;)
The specificati

[2021-08-16 16:23] crxporter commented on #389
Yeah I'm real excited about matter and new upgrades.

I wonder if the HK simulator is updated with iOS 15 - could give some insight

[2021-08-17 09:23] wolflu05 commented on #424
i can confirm this, i had the same error earlier until i found this issue.

[2021-08-19 05:09] zjp0225 opened #431 "[Setup Help]: Humidifier function change"
### Your Current NRCHKB Plugin Version

_No response_

### Operating System

_No response_

### What is your idea?

![05837b1a4ee3a1f4c9553fd89c6ecef](https://user-images.githubusercontent.com/83336495/130011043-efbb11ae-843e-42f4-b706-ac05db943174.png)

Dear ALL:
The humidifier has four function buttons: automatic, heating, dehumidification and off. Can you customize them, such as changing to aut

[2021-08-19 18:28] crxporter commented on #431
Yes this is possible! You will need to use characteristic properties when you create your device. The JSON will look something like this:

[code]

see our wiki page for more information about what each value means. The valid values will adjust what is available and showing in the home app.

Wiki link: https://nrchkb.github.io/wiki/service/humidifier-dehumidifier/

[2021-08-20 09:03] djiwondee commented on #389
@crxporter

For Xcode 12 - HK simulator release is 4.1
For Xcode 13 beta 3 HK simulator release is 4.1.1

Don't see real difference but HK simulator bugs. However was able to quickly create a device with custom prop:

<img width="1217" alt="Bildschirmfoto 2021-08-20 um 10 53 32" src="https://user-images.githubusercontent.com/37173958/130208252-e599ee83-817d-45ea-be3a-4c871ab073dd.png">

But don't

[2021-08-22 03:39] songzh96 opened #432 "[Help needed]: Questions about data migration"
### Your Current NRCHKB Plugin Version

1.3.4

### Operating System

Raspberry

### How can we help?

How to migrate homebridge data to other machines

Details:
Currently, I have a Raspberry Pi running node-red-homekit-bridge that is broken. If I copy all the flows to another machine, my Home APP shows that the device is not responding.

If I want to run normally, I need to change the pin number a

[2021-08-22 12:58] crxporter commented on #432
You'll need some more files from the original pi. See instructions here:

https://nrchkb.github.io/wiki/discover-more/migration/

[2021-08-22 13:09] songzh96 commented on #432
Thank you very much！！！！

[2021-08-22 13:09] #432 closed

[2021-09-01 20:11] Barabba11 opened #433 "How to handle msg.payload.Brightness"
### NRCHKB Plugin Version

1.3.6

### Node JS Version

14.17.2

### NPM Version

7.19.1

### Node-RED Version

1.3.5

### Operating System

Windows, but also on Raspberry

### What happened?

Hi, the node does output only a msg.payload.Brightness if brightness is changed on Homekit, so I suppose it accepts only msg.payload.Brightness too to change the status on Homekit (I'm using Alexa too, and I

[2021-09-01 20:14] Shaquu commented on #433
@Barabba11 what do you say exactly to Alexa? Also you should know that our node is working with HomeKit and not Alexa (directly).

[2021-09-01 20:35] crxporter commented on #433
You may need to include characteristic properties to enable brightness. This would be available in our wiki, I can't link right now I'm traveling...

I have many brightness bulbs where I inject `msg.payload.On` when they turn on/off and `msg.payload.Brightness` to adjust brightness.

[2021-09-01 21:30] Shaquu commented on #433
Link as mentioned:

https://nrchkb.github.io/wiki/service/lightbulb/

[2021-09-02 12:31] Barabba11 commented on #433
thank you for kind answer, the node outputs only msg.payload.Brightness if the brigltness is changed, so I supoose it accepts only this also as input, if status didn't change.
Are you suggesting me instead to send in the same message a On:true too?
Thank you

[2021-09-02 15:55] crxporter commented on #433
You can send in the same or different messages.

On:true will cause the light to be "on" in home app
On:false will cause it to be "off"

Brightness:100 will set brightness to 100 but will not show anything in home app unless the light is on from the On:true
Brightness:0 without On:false will cause the light to be "on" but 0% brightness

so yes, you need to input both payloads.

[2021-09-04 08:55] Barabba11 commented on #433
Hi, I've tested it now, the input accepts Off and On but doesn't make any change when I send both On and Brightness. I still see the old bightness value. How can I change the brightness to show it properly on homekit? Thank you a lot

[2021-09-04 15:03] Barabba11 opened #434 "[Help needed]: lost hub from Homekit"
### Your Current NRCHKB Plugin Version

1.3.6

### Operating System

Pi3 5.10.48

### How can we help?

Hi, it happened before, but I've solved it changeing the PIN number, ti heppens now.. I can't see more hub on iPad. I can see the Amplifer Denon, but not the hub (I've selected Bojour).
I've installed a tool on PC and it can find this
Type: _hap._tcp. Name: Homekit-Franco 28C6
Denon has many mor

[2021-09-04 16:04] crxporter commented on #433
Send first:
[code]

Second:
[code]

Third:
[code]

And so on. Your home app should change as you send these payloads. It is best to send as individual messages, not with two characteristics in a single message (meaning send "On" and "Brightness" completely separately)

[2021-09-04 16:07] crxporter commented on #434
I'm not really sure how to continue. Some basic troubleshooting-

1- delete the bridge, deploy and restart nodered, create a new bridge

2- test changing between Bonjour and Caio

3- check LAN firewall settings

[2021-09-04 16:35] Barabba11 commented on #434
no firewall, it's raspberry pi and in the same LAN (wifi) the iPad.
Probably creating a new bridge will help, it did the last time, but damn I've to reassign all devices to the new bridge. More.. I need to reassign on hokit all devices to all the rooms!
Why this happens? It's really uncomfortable!

[2021-09-04 17:02] Shaquu commented on #434
Hi, please unpair all NRCHKB bridges in home.app. Then go to `~/.node-red` and remove `homekit-persist` - make a backup before removing.
After all restart nodered and pair in home.app

[2021-09-04 17:03] Shaquu commented on #434
Why it happens?
First of all, do you have a home hub?
Is it constantly online?
Do you have power outage?
Do you have network issues from time to time?

[2021-09-04 17:44] Barabba11 commented on #434
thanks for support,
I have an iPad, and for now is the only one connected running Homikit, yes it's always on (battery), I've rebooted it after it lost the hub. No power outages on the router wifi, the raspberry is under power+battery, sot it's always on and safe. No network issueas at all. Other systems as alexa and google home are fine with NR
 Today I did 3/4 times a complete deply, maybe it's

[2021-09-04 18:28] Shaquu commented on #434
I would not expect a ban on device. For many people it works correctly so I have to assume you either found a bug or your config is missing something.

Once again, do you have a hub set up on iPad?
Check in home.app under home settings and bridges

![image](https://user-images.githubusercontent.com/2881159/132104600-79fe7cb6-a8f8-49aa-b304-27250f8badfc.png)

[2021-09-05 11:25] Barabba11 commented on #433
I understand, I'll try. This will create me a trouble, I'll need to add split node with 2 outputs and add one delay to give the sequence as you described, this for each light bulb node.
On Alexa and Google Home I don't have such problem, from a switch off lamp I can send an on and brightness and I've the desidered result on the app.
May you please condsider to add in your node the function (option

[2021-09-05 14:00] Barabba11 commented on #434
Hi, I'll have a look as soon I can,
yes I deploy only changes, but to test the initial things I should did a whole deploy. Anyway I did some before get the trouble, it didn't happen at the first.
By the way it's important to know what to do if it will happen again, you told me to check if the hub still be present int the list of devices, if so, and devices are not present more in the app, I may th

[2021-09-06 08:10] Shaquu commented on #434
I just see that you are playing with Windows. Unfortunately Windows is not a recommended platform to run nrchkb. As Windows api is unpredictable and likes to drop bridge advertising.
Best platform is raspberry pi.

[2021-09-06 10:08] Barabba11 commented on #434
No no ) as I wrote I'm using a Pi3B with recent rasbian, nodejs, npm and NR.. all is ok there. I just asked for a Windows tool to debug Bonjour, to simulate a homekit client, to try to figure out what is going on.
Is the module answering properly to Bonjour request?
Does it provide the list of devices?
These are the questions to understand, and to help you eventually correct a bug. How you debug y

[2021-09-07 14:15] satwikkansal opened #435 "[Help needed]: How to take input (or read a value) from Home app"
### Your Current NRCHKB Plugin Version

_No response_

### Operating System

_No response_

### How can we help?

Hello @crxporter :)

I'm using homekit node to pass temperature information from a sensor to a TemperatureSensor service that I've then added in the Apple Home app. The flow of information in this direction works fine.

However, what I'm not able to figure out is how to make the inform

[2021-09-07 14:36] crxporter commented on #435
What if you try using just "Switch" item? You should be able to set it up like this screenshot then watch the nodered debug panel. You will see messages like `{"On":true}` and `{"On":false}` coming "out" of the homekit switch service. This service is two-way meaning it sends to homekit or receives from homekit.

![Screen Shot 2021-09-07 at 9 34 59 AM](https://user-images.githubusercontent.com/3826

[2021-09-08 08:48] satwikkansal commented on #435
Okay, got it, thanks :)

[2021-09-08 08:48] #435 closed

[2021-09-12 20:36] AndRu00 opened #436 "[Help needed]: I want to disable Wi-Fi and use only Lan"
### Your Current NRCHKB Plugin Version

1.3.6

### Operating System

Debian

### How can we help?

Hello. I have a Wlan (192.168.12.0/24) and a Lan (192.168.11.0/24). I want to disable Wi-Fi and use only Lan. How do I set this up? After a reboot, homekit-bridged is not visible from the iphone (LTE), again exposes the gateway 192.168.12.1 after a reboot.

### Any more details?

If this is specific

[2021-09-12 21:04] Shaquu commented on #436
To use Home.app using iPhone LTE without WiFi you need Home Hub like Apple TV or HomePod

[2021-09-12 22:12] crxporter commented on #436
As a follow up to Shaquu's comment - additionally to having the apple tv or homepod ... that apple tv or homepod must be on the same subnet as wherever you are running your node red instance.

[2021-09-13 13:19] AndRu00 commented on #436
Thanks. I will not be able to remotely (Iphone LTE) control homekit-bridge without AppleTV or Homepod? There are no options ?

[2021-09-13 13:27] crxporter commented on #436
The final option is an iPad which is always connected at home.

More reading from Apple:
https://support.apple.com/en-us/HT207057

[2021-09-13 13:31] AndRu00 commented on #436
Thanks.

[2021-09-16 10:50] Barabba11 commented on #433
Hi mates, what is your opinion about my request?
I mean, I have several ways to change the bulb status and its brightness, for me is really comfortable to send both status and brightness to the homekit node, and see it reflected to the icons on homekit on phone. Unfortunately if there is an on message the brightness is not changed, it's ignored. Can you kindly correct this? Thank you a lot!

[2021-09-16 12:28] crxporter commented on #433
Well, this isn't a bug. It's not something to fix but it is something we can help you build flows for if you are still struggling. Please share your flow so one of us can take a look and share suggestions on how to make it work more reliably.

We all are using dimmer bulbs and have no issues - the system works as designed by Apple. I have about 25 dimmable bulbs, always working properly for the pa

[2021-09-16 14:08] Barabba11 commented on #433
Ok, thanks for your answer, I'm pasting here one light control (I have many of them), where Alexa, Google Home, Homekit and external messages (wall buttons, scenario and Dashboard) are connected and can drive the lamp. All devices got a feedback from a change, so everything is syncronized. Alexa and Google Home can get without problems a message that turns on and regulate intensity, only Homekit n

[2021-09-17 15:28] crxporter commented on #433
I'm back. I've looked at your flow.

Checking your function, we are watching output 5 on that node. It appears some places in your function you are setting it like:
[code]

But other places you set it like:
[code]

The recommendation would be to *always* send `"On":bool` and `"Brightness":int` - every time. I save my "Brightness" level in context storage.

I've verified on 2 separate nodered insta

[2021-09-17 16:14] Barabba11 commented on #433
thank you for your kind answer and video,
please let me test it deeper. As you admited the node couldn't accepted both commands then I believed you. SOmething went wrong and I'll debug it more.
Yes I've 2 different outputs, it depends if the brightness has been changed from the previous command, if not or the command was just "turno on/off" then it just sends On.
I was changing brightness from oth

[2021-09-17 16:16] TheNON75 commented on #433
Hi @Barabba11

Few things came to my mind:
- on the output of the HomeKit node only the changed values will be sent
- if you want to have the real status reflected in HomeKit if changed by a 3rd application or manually, you have to send the recent changes to HomeKit (to inform it). This is usually done by placing a node that represents the device you have before the HomeKit node and on any change

[2021-09-17 16:25] TheNON75 commented on #412
Hi @kaeltis

Is the question still valid?

[2021-09-17 16:31] Barabba11 commented on #434
dear friend, thanks for support.
No it happened after a full deply, but it absolutely does not happen at any full deploy. Chenaces are it happened avter a reboot, but before I stopped node red, and when the prompt returns I launched a sudo reboot now. I haven't noticed it suddenly after the reboot, maybe another full deploy has taken place. I was testing critical things like restore variables from

[2021-09-17 17:01] #412 closed

[2021-09-20 18:04] crxporter commented on #326
This is fixed with iOS 15, in case anyone's still following along.

![Screenshot 2021-09-20 at 1 04 12 PM](https://user-images.githubusercontent.com/38265886/134051865-db4c92fe-30db-4ecf-b8c0-64f70cc69d82.jpeg)

[2021-09-25 16:40] Barabba11 commented on #434
Yesterday I restored the homekit functions, I hope they will be stable this time. The device was discovered but after typing password the connection went very long.. till goes on timeout. To solve that I needed to uncheck "secure connection", then it worked promptly. Is it normal?
PS: I'm using it on iPad home, this device is not protected and useful to any friend/guest, for this reason no one of

[2021-09-25 16:46] Barabba11 commented on #433
Hi, thanks again for support/suggestions,  yesterday I've check it and it works. In the same message I'm senging ON and brightness. I don't now what was going wrong before, seems I haven't manipulated code on that part. Anyway, it's not important now, thanks

[2021-09-25 16:46] #433 closed

[2021-09-28 00:43] crxporter opened #437 "[Feature]: Remove `hap.context` from service 2"
### Your Current NRCHKB Plugin Version

1.4

### Operating System

All

### What is your idea?

Reminder to remove `msg.hap.context` From Service 2 as it's simply a compatibility thing while we transition to the "better ways" (which already are included in `msg.hap`

### Any more details?

As discussed on discord

### Additional comments?

Additional comments here, if any.

### Any code or functio

[2021-09-28 00:48] crxporter opened #438 "[Feature]: Request to add `msg.hap.allChars` to service nodes"
### Your Current NRCHKB Plugin Version

1.4

### Operating System

All

### What is your idea?

As discussed on discord, the idea is to add `msg.hap.allChars` to service nodes. The idea is to output all of the HAP-NodeJS values for a service along with all messages.

This will allow users to pull (for example) hue and saturation for a bulb when the brightness is changed. Each service node should o

[2021-09-28 05:53] songzh96 opened #439 "[Help]: IOS15, Window covering can't use Siri to open/close"
### Your Current NRCHKB Plugin Version

1.3.6

### Operating System

NAS docker

### How can we help?

I upgraded IOS15 last night, and today I found that I can’t use the switch command to control the curtains through Siri.

ex:
I say: "Hey Siri, please close the curtain"
Siri said: "Where do you need to set the position of curtains？"

Has anyone encountered a similar situation?

### Any more deta

[2021-09-28 07:17] songzh96 commented on #439
But the curtain device I made using this library can be used normally，Very Strange
https://github.com/espressif/esp-homekit-sdk

[2021-09-28 10:01] Shaquu commented on #437
Just to clarify. Service 2 is experimental in 1.4

[2021-09-28 10:09] Shaquu commented on #439
Strange, looks like setup issue.
Is the one created with alternative software behind the bridge or is it accessory?

[2021-09-28 11:15] songzh96 commented on #439
![image](https://user-images.githubusercontent.com/26770241/135075691-e98d69ff-a2d2-4643-ab5a-9a3d7961d52a.png)

It shouldn't be a problem of setting, because the one used before is still normal. There was a problem with the updated IOS system

[2021-09-28 11:34] Shaquu commented on #439
I get it. Well it means we can only wait for Apple to fix it?

[2021-09-28 11:56] songzh96 commented on #439
But another WindowCovering device I created with plug-in used esp-homekit-sdk。
it can use Siri to open/Close 😂

[2021-09-28 13:35] songzh96 commented on #439
IOS Version issue

[2021-09-28 13:35] #439 closed

[2021-09-28 13:37] Shaquu commented on #439
Can you share some screenshots for both?

[2021-09-28 21:53] Shaquu commented on #438
![image](https://user-images.githubusercontent.com/2881159/135170898-d654ddd5-fa6f-4c93-a5f6-b4e4f5749228.png)

[2021-09-28 22:04] #436 closed

[2021-09-28 22:06] Shaquu commented on #436
I have closed this as I feel we responded to all questions.
If required, please open a new issue or contact us on Discord.

[2021-09-28 22:06] Shaquu commented on #429
@Typ1er is there any more help required?

[2021-09-28 22:07] Shaquu commented on #431
Closing as I feel questions has been responded to.
If required, please open a new issue or contact us on Discord.

[2021-09-28 22:07] #431 closed

[2021-09-28 22:08] Shaquu commented on #434
@Barabba11
As for privacy issue, I am afraid it might be difficult.
You could duplicate Bridges etc nodes in Node-RED:
For example, for one Switch you should create two nodes, pair one with family (iCloud) and pair the second on public iPad.

[2021-09-28 22:12] Barabba11 commented on #434
Thanks for answer,
You mean that once iPad will be connected to iCloud all data will be shared between devices without the chance to choose which one?
Really Apple never considered such problems? I can't believe..

[2021-09-30 21:36] crxporter commented on #210
Note: this is now called "Status" node, and works great in version 1.4 and higher.

[2021-09-30 22:02] crxporter commented on #438
Completed in 1.4.0 dev.19

[2021-09-30 22:02] #438 closed

[2021-09-30 22:03] crxporter commented on #437
Completed in 1.4.0 dev.19

[2021-09-30 22:03] #437 closed

[2021-09-30 22:11] Shaquu commented on #52
Changes to this feature will be release in 1.4.0 as experimental.
To enable start node-red with `NRCHKB_EXPERIMENTAL=true`

[2021-10-01 00:32] crxporter commented on #378
Closing as completed for 1.4.

[2021-10-01 00:32] #378 closed

[2021-10-01 00:35] #210 closed

[2021-10-01 10:23] TheNON75 commented on #217
@sjorge would you mind to come to our discord (NRCHKB)? I would have a question in a different topic, but I can reach out to you only this way.

thank you

[2021-10-01 10:27] sjorge commented on #217
I don't really use discord, but we could use the github discussion page?

[2021-10-01 11:35] Shaquu commented on #424
Based on comments from Discord:
- Crash is fixed
- there are some error logs
- We could think about using some id as default name

@TheNON75 please confirm

[2021-10-01 15:03] TheNON75 commented on #424
Confirmed

[2021-10-02 00:49] Shaquu commented on #217
I have tested using latest dev.

[code]

Known issue. For some Characteristics value must be a number type.
So it cannot be `"minValue": "${ctMin}"` but has to be `"minValue": ${ctMin}`
With the second option, nodered will complain but nrchkb will work correctly.

[2021-10-02 00:51] Shaquu commented on #217
I would say to go prod with that issue. Reasons:

1. It will be time-consuming to resolve it, probably custom editor required.
2. We have scheduled the current editor to be replaced with new table (non json, more user-friendly).

[2021-10-04 12:14] songzh96 commented on #439
only one screenshot
when I say:" open the curtain"
Its Siri answer
![image](https://user-images.githubusercontent.com/26770241/135849338-e9467aae-aa31-4ffc-841a-50604a8b4ebc.png)

[2021-10-04 14:24] #217 closed

[2021-10-04 14:24] #424 closed

[2021-10-04 14:26] #393 closed

[2021-10-04 14:26] #298 closed

[2021-10-04 15:05] crxporter commented on #434
@Shaquu and @Barabba11

I'm the cleanup ~~bot~~ guy doing my rounds. How's this one going? Are there more questions or can we close it?

[2021-10-04 15:05] crxporter commented on #429
I'm the cleanup ~~bot~~ guy doing my rounds. Closing for now. Please re-open if you need more help.

[2021-10-04 15:05] #429 closed

[2021-10-04 15:08] Barabba11 commented on #434
hi, for now it's working, but I've never deployed it again and I guess I reboot a couple of times only.
My question it, there is any way I can debug the Bonjour service? Any tool to see if it is responsive? (better for Windows if possible)
Thank you a lot!

[2021-10-06 19:24] GitCodeMischer opened #443 "[Help needed]: Flows stopped due to missing node types."
### Your Current NRCHKB Plugin Version

1.4.2

### Operating System

Raspberry pi

### How can we help?

In my case i have the problem with missing node types. When i try to install the package i can use the nodes but when i hit deploy i get the "Flows stopped due to missing node types." error.
![image](https://user-images.githubusercontent.com/46819879/136269496-43ee912a-85e5-4de3-b9a4-947fd1b38d

[2021-10-06 19:49] Shaquu commented on #443
Hi, let's start with this one:

https://nrchkb.github.io/wiki/introduction/faq/#type-already-defined-error

[2021-10-08 19:49] lurendrejer opened #447 "[Help needed]: CameraControl ffmpeg issues"
### Your Current NRCHKB Plugin Version

1.4.2

### Operating System

Ubuntu 21.04

### How can we help?

ffmpeg doesn't even seem to start - I have added -report to the command-line but no 'log-file' gets created.
ffmpeg is installed via apt install ffmpeg and works when started manually.

There are no errors in the the NR-console - not even when debugging is turned on (found in another thread how

[2021-10-08 22:33] Shaquu commented on #447
This is the way:
- configure camera controller in node-red
- run node-red with DEBUG=NRCHKB* and tick debug mode in Camera Control
- it will error again but will print ffmpeg command in logs
- run that command in terminal separatly to get real problem

[2021-10-09 03:48] lurendrejer commented on #447
Sorry, it does write a lot but nothing regarding ffmpeg

[2021-10-09 03:49] lurendrejer commented on #447
I also tried setting debug and trace to default logging level in node red, to no avail

[2021-10-09 03:51] lurendrejer commented on #447
I already found the instructions in another thread :)

[2021-10-09 09:23] lurendrejer commented on #447
I'll get on it as soon as I'm home

[2021-10-09 10:33] lurendrejer commented on #447
I think i might have missed something crucial in my debugging....

nrchkb/logger is something extra that i need to install.
I just ran 'DEBUG=NRCHKB* node-red' and got the exact same output as always.

I'm looking into how i install NRCHKB (really catchy name) right now.

[2021-10-09 10:40] lurendrejer commented on #447
9 Oct 12:38:40 - [error] [atvx-config:Soveværelse AppleTV] Bad token (re-Pairing Apple TV) or Disconnected
9 Oct 12:38:40 - [error] [atvx-config:Stue AppleTV] Bad token (re-Pairing Apple TV) or Disconnected
[CamTest1] Snapshot request handler provided empty image buffer!
09 Oct 12:39:15 NRCHKB:ServiceUtils [Stue:8f6d578920e10e29] onCharacteristicGet with status: 0, value: false, reachability is tr

[2021-10-09 10:44] lurendrejer commented on #447
Logs after setting camera-node debug to on and opening the cam again:

9 Oct 12:43:31 - [info] Stopping modified nodes
9 Oct 12:43:31 - [info] Stopped modified nodes
9 Oct 12:43:31 - [info] Starting modified nodes
9 Oct 12:43:31 - [info] Started modified nodes
09 Oct 12:43:31 NRCHKB:HAPServiceNode [CamTest1:811bae60829f0280] Starting Parent Service +0ms
09 Oct 12:43:31 NRCHKB:AccessoryUtils [CamTe

[2021-10-09 11:36] Shaquu commented on #447
Are you sure that you are using Debug flag?
![image](https://user-images.githubusercontent.com/2881159/136656395-079c3d65-c94a-48e9-b965-db6993fe88af.png)

[2021-10-09 11:45] Shaquu commented on #443
@GitCodeMischer how are you?

[2021-10-09 11:45] lurendrejer commented on #447
110%
![image](https://user-images.githubusercontent.com/30922656/136656661-df8e7cd6-4808-4872-a0d0-48605adad826.png)

[2021-10-09 12:59] lurendrejer commented on #447
That did show me a lot more, going through it now - thank you.
And - it confirmed something odd: I get the first snapshot after er restart just fine - the following snapshots are empty.

09 Oct 14:52:31 NRCHKB:HAPHostNode [node-red1:5ce20625ff476b77] Publishing Bridge with pin code 111-11-111 and 2 accessories +5s
Preparing Advertiser for 'node-red1 2589' using bonjour-hap backend!
09 Oct 14:52:31

[2021-10-09 14:05] Shaquu commented on #447
I would suggest to find what is exactly executed by homebridge. Ffmpeg command may differ even if fields has the same values.

[2021-10-09 14:45] lurendrejer commented on #447
Ok.
I don't think it is directly translatable - since homebridge uses a different ffmpeg build, specially made for this thing. (ffmpeg-for-homebridge, i think)

[2021-10-09 14:49] Shaquu commented on #447
Have you tried opening stream on iPhone?

[2021-10-09 16:19] Shaquu commented on #447
Okay. Can you open stream in Home.app and share logs which are displayed?
By open I mean video and not snapshot view.

[2021-10-09 22:02] #443 closed

[2021-10-11 23:34] Shaquu commented on #392
@crxporter here it is described how to enable experimental mode
https://nrchkb.github.io/wiki/discover-more/experimental/#getting-started

[2021-10-12 22:02] Shaquu commented on #447
Hi, I know that it sounds boring but can you make a test again but this time share full log since node-red startup?

[2021-10-13 16:01] #447 closed, assigned to crxporter

[2021-10-18 15:40] TheNON75 opened #449 "Color lights - validating characteristics"
According to the HomeKit docu hue/sat must not be used together with ct, a syntax validation could be implemented.

_"If this (color temperature) characteristic is included in the ”8.23 Light Bulb” (page 147), ”9.44 Hue” (page 179) and ”9.82 Saturation” (page 197) must not be included as optional characteristics in ”8.23 Light Bulb” (page 147). This characteristic must not be used for lamps which

[2021-10-20 13:15] GogoVega opened #450 "[Help needed]: Differentiate between passthrough or "from HomeKit" messages"
### Your Current NRCHKB Plugin Version

1.4.2

### Operating System

Raspberry Pi 3

### What is your idea?

Hello, first of all thank you for your work! Next, is there a way to differentiate between the state change of node input and application?
One output would be the commands coming from the Home app and another output would be the commands coming from the input of the node.
Example of a lamp

[2021-10-20 14:24] GogoVega commented on #450
Thank you so much.

[2021-10-21 08:55] GogoVega commented on #450
Hello, that's all good for me. You can close the discussion, I have no more questions. Thanks again for your work.

[2021-10-21 09:23] #450 closed, assigned to crxporter

[2021-10-31 13:57] zjp0225 commented on #405
Dear,

[2021-10-31 14:05] zjp0225 commented on #405
Dear:
After adding according to your example, three buttons appear, namely: "automatic", "dehumidification" and "off". In fact, I want to add "automatic", "humidification" and "off". How to modify it. Thank you.

![IMG_7028](https://user-images.githubusercontent.com/83336495/139587549-dcf79a8d-3c09-41a1-93f1-a26cbbd18c33.PNG)

[2021-10-31 19:43] crxporter commented on #405
Looks like "current" and "target" may not be the same. "Current" has an extra state of 1=idle.

Change the 2 under target to a 1.

Current states are on this line: https://github.com/homebridge/HAP-NodeJS/blob/6bd6ad973e8f9c7367f8b0fd59093a42bb05b06a/src/lib/definitions/CharacteristicDefinitions.ts#L982

tTarget states are described on this line: https://github.com/homebridge/HAP-NodeJS/blob/6bd6a

[2021-11-05 07:28] zjp0225 commented on #405
Dear,
According to your instructions, the buttons that appear are still "automatic", "dehumidification" and "off". Please help to see what the reason is.

![微信截图_20211105151321](https://user-images.githubusercontent.com/83336495/140473501-949690b5-4b38-48d7-8d58-eb8bf179ed42.jpg)

![139587549-dcf79a8d-3c09-41a1-93f1-a26cbbd18c33](https://user-images.githubusercontent.com/83336495/140473505-10ec9c1

[2021-11-05 11:43] crxporter commented on #405
The answer of all possible options is in the links I shared... You need to pick the ones which fit your setup.

The buttons in Home app will be defined by the `TargetHumidifierDehumidifierState`

Have you tried this way yet? Try various values in here until you see what you want. Then build from there. Note sometimes it takes a few minutes/hours for the Home app to "settle" with the new values in

[2021-11-08 17:30] RaffoNin opened #454 "Power strip accessory"
Hi I'm wondering if this is possible. Read through the documentation and i can't seem to find anything.

Also aware that you can link switches together but i like the look of the power strip more my use case.

![image](https://user-images.githubusercontent.com/85386859/140789774-1855c4d0-9618-44b5-9824-24521c36d8f4.png)

[2021-11-08 17:31] crxporter commented on #454
I believe you need to use the parent of "service label namespace" then add multiple on/off switches. Let me research with someone I know is doing this... I'll check back soon.

[2021-11-08 17:47] crxporter commented on #454
I'm really curious, where did you get this screenshot? I really like the circular type buttons and the power strip icon! I've never seen that before.

[2021-11-09 01:36] RaffoNin commented on #454
Thank you I'll give it a shot. It's a via plug-in in Homebridge called MQTT power strip.

[2021-11-09 01:38] RaffoNin commented on #454
Maybe this can be added in the documentation as a separate accessory or as an extension of the outlet accessory

[2021-11-09 01:42] crxporter commented on #454
I agree. Outlet should be a good place for it. I won't be writing anything this week but if you'd like to learn/test a bit and make a contribution to the docs we would sure appreciate it!

[2021-11-12 18:09] TheNON75 opened #455 "allChars incorrect keys"
The keys' (characteristics') names within allChars contain spaces between each "word", according to the human readable name in the docu, instead of the current, space-less CC characteristics in code.

[2021-11-14 13:53] sjorge opened #456 "[Bug]: Incorrect attribute error but attribute is on the list of supported attributes in the message."
### NRCHKB Plugin Version

1.4.3

### Node JS Version

16.13.0

### NPM Version

8.1.0

### Node-RED Version

2.0.6

### Operating System

OmniOS r151041

### What happened?

When sending a update that contains `LockPhysicalControls` to an `AirPurifier` service it complains about the characteristic not being supported, but according to HAP-NodeJS it is and it's also listed in the actual error as s

[2021-11-14 14:03] crxporter commented on #456
Do you have a trailing space in `"LockPhysicalControls "`

it looks like some places you have a whitespace in there.

[2021-11-14 14:07] crxporter commented on #456
Did you put it with the extra whitespace character in your characteristic properties? That could make it appear twice in the list of chars to use.

[2021-11-14 14:08] sjorge commented on #456
Well that was embarrassing, especially since I spend most of yesterday looking into this error before giving up and filing a ticket.

I just delete and recreated the character properties from scratch, I was not seeing a space so it might have been some sort of random control character that snuck in.

[2021-11-14 14:08] #456 closed

[2021-11-14 14:14] crxporter commented on #456
Well it's still interesting, I would have expected the whitespace to be removed with the regex filter which should be running on the char props... reaching out to @Shaquu to see if there's some reason the regex ignores the last character of that string?

[2021-11-14 16:27] Shaquu commented on #456
@sjorge no need for embarrassment. As discussed with @crxporter error will be a little more descriptive from now on.

![image](https://user-images.githubusercontent.com/2881159/141689450-d21d4d48-41c5-4dd1-b3e8-b89cbbea4a82.png)

[2021-11-20 02:17] crxporter commented on #454
I'm leaving this open as a reminder to add this to the wiki.

[2021-11-26 14:56] andreypopov opened #457 "[Feature]: NO_RESPONSE - logs spamming"
### Your Current NRCHKB Plugin Version

_No response_

### Operating System

_No response_

### What is your idea?

One of my sensors was broken, I send  {"AirQuality":"NO_RESPONSE"} and this spams my log too much.
![2021-11-26_17-47-32](https://user-images.githubusercontent.com/1624839/143599144-e03c6e28-acd5-400c-9944-dc6e50a688ca.png)

Also I have tried to send only {"StatusActive":"NO_RESPONSE

[2021-11-26 16:32] Shaquu commented on #457
Just to start with. Logs are generated by hap-nodejs
I need to check if we can suppress them somehow.

[2021-11-28 12:45] pacevicus opened #458 "[Help needed]: Msg from accessory node send at 2nd attempt"
### Your Current NRCHKB Plugin Version

1.4.3

### Operating System

Windows 10

### How can we help?

I created accessor node - switch and after update to the latest version 1.4.3 I observe an issue where node sends message payload at second attempt (I change state on iPhone), then works as should for a while, however after longer break (in example night) once again I have to use switch twice to

[2021-11-30 18:55] sjorge opened #459 "[Bug]: homekit devices with `wait for setup` not persistent across node-red restart/redeploy"
### NRCHKB Plugin Version

1.4.3

### Node JS Version

16.13.0

### NPM Version

8.1.0

### Node-RED Version

2.1.3

### Operating System

OmniOS Bloody (updated 2 days ago)

### What happened?

I saw that #393 landed a while ago so I wanted to simplify my setup a lot by embedding the homekit node inside a subflow.

This seemed to work at first glance but on redeploy all the devices in homekit end

[2021-11-30 19:04] sjorge commented on #459
I was able to get the same behavior without a subflow involved or the need for mqtt.

This adds 2 service nodes + 4 inject nodes with a startup set to 5 and 6 to setup 2 bulbs.

If you deploy this flow they show up under default room, now move them to a different room and and restart node-red or redeploy the flow. The nodes disappear and reappear a few seconds later in the Default Room.

[code]

[2021-12-03 18:29] P1Rebo opened #460 "[Help needed]: Error while publishing Bridge"
### Your Current NRCHKB Plugin Version

1.4.3

### Operating System

Arch Linux on RPi4

### How can we help?

Hi all,

after a major update of Node Red from v1.x to v2.1.4 I'm getting the error "Error while publishing bridge".
I might need some port adaptations but the error message is pretty fuzzy.

Did anyone experience the same? Are there any recommendations what to do?
I need to avoid configu

[2021-12-03 18:48] Shaquu commented on #460
Hi, you new to strach loga from application run. Also you should share your flow so I could investigate .

[2021-12-03 19:43] P1Rebo commented on #460
Hi @Shaquu, thanks for the fast reaction.

Here is some extract of the log:

2021-12-03T19:32:11.780Z NRCHKB Node.js version requirement met. Required >=10.22.1. Installed v14.18.2,
2021-12-03T19:32:11.785Z NRCHKB RED settings available,
2021-12-03T19:32:11.786Z NRCHKB-Trace:Storage Initializing,
2021-12-03T19:32:11.797Z NRCHKB:HAPHostNode Registering homekit-bridge type,
2021-12-03T19:32:11.799Z

[2021-12-03 19:57] Shaquu commented on #460
Could you also share flow?

[2021-12-03 22:27] P1Rebo commented on #460
Sorry, this is not possible. Can I have a look into a certain area? I tried to delete the persistence folder but this had no effect.

[2021-12-03 22:31] Shaquu commented on #460
There is an issue in your flow. I cannot resolve it without looking into it, sorry.

[2021-12-04 09:37] P1Rebo commented on #460
Thanks anyway @Shaquu for your help! I really appreciate that!

I'm using Homekit for > 250 objects of my smart home. Since I had changed the bridge architecture the last time from type (lights, dimmable, scenes) to rooms I could go forward with deleting my bridges on the home app and adding all again. In this case I just needed to select the room, add the bridge and hit all "default" buttons. Thi

[2021-12-04 09:38] #460 closed

[2021-12-05 11:19] #458 closed

[2021-12-05 12:08] Shaquu commented on #458
@pacevicus sorry for no response in a while.
Just to clear things out, nrchkb does not work the best on Windows.
Best OS is Raspbian.
Personally I develop node on windows but I know it’s limitations and I can see it likes to disconnect - restart is required, also it might be useful to switch to Ciao advertiser in Bridge settings.

[2021-12-06 12:22] sjorge commented on #459
I also tested with service2, same result. I'm not 100% sure but I think on restart, for all node with wait for setup it removes them from the bridge, making homekit forget about them, even if they get setup again later with the same info. (perhaps with a different version, but name/serial is always the same)

[2021-12-06 15:43] Shaquu commented on #459
Thanks for example, I will try to look at it soon.

[2021-12-10 17:42] NikitaGerasimov opened #461 "[Feature]: Dynamically adding and removing devices from the Hom Kit"
### Your Current NRCHKB Plugin Version

1.4.3

### Operating System

rpi 4

### What is your idea?

Hello! Sometimes I need to hide some devices from my Home app. Now this happens if you enable and disable the HK nodes. But this cannot work automatically. It would be very cool if a parameter could be sent to a node and this device was enabled or disabled.

[2021-12-10 20:22] crxporter commented on #461
Hello! This is possible already. We discussed it a bit in issue #334 - I recommend you read through that issue then come back here if you need more help.

The idea would be to use the nodered API to enable/disable your nodes. Have a look and let us know your next questions!

[2021-12-11 06:12] NikitaGerasimov commented on #461
This is incredible! just amazing) this is exactly what I was looking for)

I tried it and it worked!

By the way, on the Internet this is a demanded function (enable and disable flow), but everyone writes that this is impossible)

[2021-12-11 18:36] crxporter commented on #461
We don't mess around over here. I'm glad it works! Also nice that we "solved" it already a year ago 😉

If you have more questions - ask away! Otherwise hit that "close" button. Thanks for stopping by, feel free to join us on discord anytime! (link is on our readme)

[2021-12-11 19:29] #461 closed

[2021-12-17 23:11] markus-fischbacher opened #462 "[Help needed]: Deleting a service and remove it from Home app"
### Your Current NRCHKB Plugin Version

1.4.3

### Operating System

Hoobs, Docker

### How can we help?

If I'm deleting a service from NodeRed and deloy it, why it's not removed from Home app?
How can I achive a deletion of a no longer needed service?
I've not found a possibility nor a documentation about that topic.

Any help is appreciated. Thank you!

### Any more details?

If this is specifi

[2021-12-23 13:20] Alveran81 opened #463 "[Help needed]: How can I delete a bridge"
### Your Current NRCHKB Plugin Version

1.4.3

### Operating System

_No response_

### How can we help?

How can I delete a bridge?
Do I need a new bridge for each device?

![bridge](https://user-images.githubusercontent.com/25667147/147246189-854f0a3f-57f4-499e-a568-6e5a2df71e62.jpg)

### Any more details?

If this is specific to some hardware or specific software version, please explain here.

[2021-12-23 13:27] TheNON75 commented on #463
Hi there,

There are at least 2 options.
1) on the screen you shared click editing the bridge, then it opens the edit window and there is the delete button
2) In nodered on the right pane, click on the cogwheel (config).
There you will find the bridges, double click on the one you want to delete and the editor window with delete button will appear

Remark: you might need to have 0 accessories assi

[2021-12-23 13:51] crxporter commented on #462
Sorry for the delay... Christmas time is busy.

If you're using bridge mode, the service should go away from home app a few minutes after a deploy.

If you're using stand alone mode, you will need to manually remove the thing from your home app.

[2021-12-23 22:25] Alveran81 commented on #463
Thank you very much.

[2021-12-23 22:25] #463 closed

[2021-12-25 22:19] markus-fischbacher commented on #462
No problem for the later response.

I'm using the bridge mode.
I've deleted the service and deployed it.
After several minutes the services is still present.
The only thing changed is, that the service is reporting: No Response

Any ideas?

[2021-12-26 04:45] crxporter commented on #462
Is it the only service on that bridge? It may be confusing to the Home app if so.

I would suggest you could add another service to the bridge so there is at least one on it...

or

Remove the bridge from Home app, nodered, redeploy, and start with a fresh bridge. Of course this is not a good option if there are a lot of other things all set up nicely on the bridge.

[2021-12-26 18:20] markus-fischbacher commented on #462
Yes, it was the only service on that bridge. Just for testing purposes. I‘ve added another service and the delete one gone. Seems so, as the bridge can‘t handle that with only one service present.

Thanks for your support ☺️

[2021-12-26 18:20] #462 closed

[2022-01-02 11:15] Christian-Me commented on #343
Hello @Shaquu , Happy new Year!

I'm facing the same problem. When I open the home app (or using the control center) all devices are shown as "not responding" for a couple of seconds (1-10). This makes siri commands unusable because siri in impatient and refuses all spoken commands.  All of this happens at home (not remotely)

My Setup: AppleTV (wired) to 16 port switch, 2 UniFiy APs (same switch)

[2022-01-02 13:20] Shaquu commented on #343
@Christian-Me Happy New Year :)

Unfortunately it can be caused by many different things:

- Home Hub OS updates (Apple TV, HomePod)
- Network configuration or instability
- Faulty flow in Node Red

Most of the time it is enough to just restart all devices.
Sometimes it may be required to debug further.

You can also check if you are using Ciao as advertised for your bridges.

[2022-01-02 17:25] Christian-Me commented on #343
@Shaquu , thank you for your fast response.

I updated apple TV, Deleted the complete homekit configuration and started from scratch with only a few components.

 I "think" my network is quite stable (ubnt edge X router, UniFy APs - not the typical router / ap / modem / .... from your isp).

Don't think that my node red flow is wrong as I build it from scratch and monitor all in and outputs. There

[2022-01-11 08:44] Christian-Me commented on #343
@Shaquu TBI: restarting Apple TV helps if this effect appears. I don't know why but after adding new services sometimes it is necessary to reboot my Apple TV.
But everything else works! Awesome, thank you!

[2022-01-16 07:20] BigBang0502 opened #464 "[Feature]: Block Input Message"
### Your Current NRCHKB Plugin Version

_No response_

### Operating System

_No response_

### What is your idea?

Hey guys, thanks for the great work. I still have one wish. Currently, the incoming messages are passed through, can you please create a possibility here that these adjustable do not go through, or at the output one of the node only what goes out if you send something via IOS and at

[2022-01-16 11:13] djiwondee commented on #464
@BigBang0502

As far as I understood, the feature is available since a long time. On bridge level you have the option:

<img width="490" alt="image" src="https://user-images.githubusercontent.com/37173958/149657290-c2782452-2d8b-478a-8c42-9b1ec8612a0e.png">

Which should be _enabled_ by default. With that any message provided on input is passed through the output

On the output you can deal with t

[2022-01-16 12:10] BigBang0502 commented on #464
Thank you this was the trick

[2022-01-16 15:54] crxporter commented on #464
If you want to do this inside a function node rather than with a switch node - it will look like this:

[code]

It's just checking for `msg.hap.session` which exists when the message originated from Home app.

Closing for now, feel free to reopen if more help is needed!

[2022-01-16 15:54] #464 closed

[2022-01-16 21:54] crxporter opened #465 "[Feature]: scale camera still images based on source"
### Your Current NRCHKB Plugin Version

1.4.3

### Operating System

Pi buster

### What is your idea?

Currently all still camera images are scaled to the size requested by iOS. Suggestion is to use the aspect ratio of the input image.

My stills are 1600x1200 (4:3 ratio) but are squished to 16:9 ratio.

### Any more details?

I believe this can be changed on this like of code:

https://github.co

[2022-01-16 22:07] crxporter commented on #465
Related to this:

https://github.com/beele/homebridge-unifi-protect-camera-motion/issues/70

[2022-01-17 19:21] crxporter commented on #465
After more research... scaling would not help here. The still image needs to be cropped down to a 16:9 ratio, centered at 50% of the still image height or width (whichever needs to be cropped).

In my case I was hoping to change the still image source from:
[code]

to:
[code]

Which would output a proper image - but it doesn't seem to be working ... there must be something conflicting with that ff

[2022-01-18 17:16] Jacksonbm1 opened #466 "[Help needed]: How to create grouped accessories"
### Your Current NRCHKB Plugin Version

1.4.3

### Operating System

Raspberry pi raspbian

### How can we help?

How do I create grouped accessories? I'm not sure if that's the right term. The ones where you can force press the accessory and it opens multiple settings (NOT – turn on 3 lightbulbs at once). For example, a fan might have %speed and also 3 different modes in a radio button. I've look

[2022-01-18 18:10] Shaquu commented on #466
Probably you are looking for Linked Services.
Visit our wiki https://nrchkb.github.io

[2022-01-18 19:17] Jacksonbm1 commented on #466
I checked the docs, where specifically does it cover that? I'm not sure we're taking about the same thing.

[2022-01-18 22:03] Shaquu commented on #466
I would suggest for you to go through demo sample.

What might be the solution for you is to Link services to Fan Service.

[2022-01-18 22:04] Shaquu commented on #466
@crxporter I know you are busy but if you find few minutes it would be great ;)

[2022-01-18 23:27] Jacksonbm1 commented on #466
I took a look at the demos, those are close, but not what I'm looking for. They seem to exist as a single accessory that's not grouped. That means it's limited to whatever apple allows certain accessories to do. I'm going to link some images. https://imgur.com/a/hRjgGQb

In the first two, you can see accessories with multiple accessories grouped. It's like a composite accessory. But if you actuall

[2022-01-22 16:13] iChUdY opened #467 "[Help needed]: home app speaker tile"
### Your Current NRCHKB Plugin Version

_No response_

### Operating System

_No response_

### How can we help?

Is it possible to create a tile in a home app with a speaker icon and only volume control?
I only managed to create a television service with the speaker icon + lightbulb as a linked device, but I would need this state without a switch. Volume only.
![IMG_2896](https://user-images.gith

[2022-01-23 13:17] aes-alienrip commented on #402
After up updating homepodos 15.x, inputs 5th and above doesn't work anymore

23 Jan 21:14:41 - [error] [homekit-service:Input 4] Error: Cannot update reachability on non-bridged accessory!
23 Jan 21:14:41 - [error] [homekit-service:Input 5] Error: Cannot update reachability on non-bridged accessory!
23 Jan 21:14:41 - [error] [homekit-service:Input 6] Error: Cannot update reachability on non-bridge

[2022-01-23 13:23] aes-alienrip opened #468 "[Help needed]: Television Service inputs 5th doesn't work anymore after up updated to homepodos 15.x"
### Your Current NRCHKB Plugin Version

1.4.3

### Operating System

Home Assistant Supervised

### How can we help?

Television Service inputs 5th doesn't work anymore after up updated to homepodos 15.x

nodered error messages on startup
23 Jan 21:14:41 - [error] [homekit-service:Input 4] Error: Cannot update reachability on non-bridged accessory!
23 Jan 21:14:41 - [error] [homekit-service:Input

[2022-01-24 10:31] tampiss opened #469 "[Help needed]: Status Node"
### Your Current NRCHKB Plugin Version

1.4.3

### Operating System

Raspberry Pi

### How can we help?

I am trying to use Status Node to check the window sensor open/close before I let my blinds run. It worked until now. Now anytime I run the flow, I get the node.status message in red saying, Check your config. Unfortunately I don't know where to check anything as it does not seem to have any co

[2022-01-25 19:10] crxporter commented on #467
@TheNON75 do you have any help here?

[2022-01-27 14:57] crxporter commented on #466
So I had a quick look...

I think the first set of images may be just doing the grouping from within the Home app. In the settings of any homekit item, you will see a button that says "Group with Other Accessories..." - just click that and pick which you liked grouped.

If you do it from the nodered side you'll be making a single accessory with multiple services. Think like a motion sensor with al

[2022-01-27 16:38] crxporter commented on #466
Yeah, we can do all kinds of "trickery" - it'll just depend what you have and what you want to build.

Have you found our docs page yet? A lot of this stuff is in there (if you know where to look)

Specifically for the fan - take a look here: https://nrchkb.github.io/wiki/service/fanv2/

You can enable/disable features using characteristic properties and you can add "weird" stuff if you link up di

[2022-01-31 08:39] iChUdY commented on #467
do you have any help here?

[2022-01-31 08:49] TheNON75 commented on #467
Sorry for the delay, I haven't tried this approach ever and frankly speaking I have no clue how to remove the power button.

The smart speaker (not the speaker) service is dedicated for airplay speakers, but can be used, however no volume controls neither media control buttons are working, only to toggle play/pause state.
Despite the above the volume can be controlled with scenes and Siri.

[2022-02-14 01:53] twocolors opened #470 "[Bug]: CameraSource-Error ERROR: FFmpeg exited with code 1 (No such file or directory)"
### NRCHKB Plugin Version

1.4.3

### Node JS Version

14.18.2

### NPM Version

6.14.15

### Node-RED Version

2.2.0

### Operating System

Raspberry bullseye (docker node-red-contrib-homekit-docker)

### What happened?

[code]

### How to reproduce?

empty "Additional Command Line"

<img width="560" alt="image" src="https://user-images.githubusercontent.com/207796/153786889-3bc9b31c-cce6-4118-9c

[2022-02-15 14:27] #455 closed

[2022-02-16 21:04] Barabba11 opened #471 "[Bug]: Curtain still "opening""
### NRCHKB Plugin Version

1.4.2

### Node JS Version

14.17.2

### NPM Version

7.19.1

### Node-RED Version

1.3.5

### Operating System

Raspbian 5.10.48-v7+

### What happened?

Hi, I've noticed the icons not stopping, are they waiting for some command? A bit strange.
It looks it appear when I input the value on the Homekit node (as sent by other nodes, to reflect the real status on Homekit) a

[2022-02-16 21:17] Shaquu commented on #471
Probably icon status is complex - based on multiple characteristics.
@crxporter any idea?

[2022-02-16 21:23] crxporter commented on #471
Are you sending `{"TargetPosition":100}` **and** `{"CurrentPosition":100}` whenever there is a change? If target does not equal current, the icon will show "opening" or "closing" forever.

Have a look at page on our wiki if you haven't yet:
https://nrchkb.github.io/wiki/service/window-covering/

[2022-02-17 08:24] Barabba11 commented on #471
thank you, I didn't know about this characteristic, sorry. When I've tested it I've just sniffed the output and copy that for the input. I'll send a current position correctly when the curtain will stop (end).
Thank you for support

[2022-02-17 08:24] #471 closed

[2022-02-22 15:49] brzuzak opened #474 "[Feature]: pressure sensor"
### Your Current NRCHKB Plugin Version

_No response_

### Operating System

_No response_

### What is your idea?

Hi

Is there a chance to add presurre sensor on the same priciple as temp sensor in future ver.

Thanks

### Any more details?

If this is specific to some hardware or specific software version, please explain here.

### Additional comments?

Additional comments here, if any.

### An

[2022-02-23 10:05] TheNON75 commented on #474
Adding additional sensor (types) is up to apple in first place. Currently there is no pressure sensor defined by them.
Altenratively you can fake the things and show the pressure data in other sensor types if you'd like

[2022-02-26 07:10] Jodameister commented on #432
Hello,
i do like in the link, to migrate a local NodeRed install to a docker. But HomeKit says, that the devices are not responding. In the new Docker Installation seem all fine and running. All Flows are there and running...

Any Ideas?

[2022-02-26 07:11] Jodameister opened #475 "Devices are not responding after migrate from local to docker installation."
Hello,
i do like in the link, to migrate a local NodeRed install to a docker. But HomeKit says, that the devices are not responding. In the new Docker Installation seem all fine and running. All Flows are there and running...

Any Ideas?

_Originally posted by @Jodameister in https://github.com/NRCHKB/node-red-contrib-homekit-bridged/issues/432#issuecomment-1051730831_

[2022-02-26 07:59] Jodameister commented on #475
I had to set network_mode = "host" in my composer yml to expose home bridge to network.

[2022-02-26 07:59] #475 closed

[2022-02-27 22:53] lilyball opened #476 "Deploy Modified Flows causes services to start duplicating behavior"
### NRCHKB Plugin Version

1.4.3

### Node JS Version

v14.19.0

### NPM Version

6.14.16

### Node-RED Version

2.2.0

### Operating System

Raspberry pi Buster

### What happened?

When I Deploy Modified Flows, I start getting bad behavior. Right now what I'm seeing is a single service node starts outputting duplicate messages, though I don't know if that's the full extent of it.

What I'm doing

[2022-02-27 23:09] caitken-com commented on #476
Hi there,
1. In the config node is an option (tickbox) to prevent duplicate messages. Something like prevent pass through.
2. Only use the on-change (top) output on each service node. Unless you’re using Television service which you’ll use the bottom output to capture remote button presses.
3. Use **deploy modified nodes** only. Deploy modified flow will essentially reset the whole flow.

[2022-02-27 23:16] Shaquu commented on #476
Also, you should favour deploy modified nodes only.

[2022-02-28 06:54] lilyball commented on #476
I don't want to prevent passthrough. Though I'm also not sure why that's a bridge option instead of a per-node option, but it's unrelated to this particular issue as this is not a passthrough issue.

I originally did that but had an issue where I wasn't getting any messages at all. So I switched to wiring up both of them, and that worked but was unnecessary. I switched again to just using onSet be

[2022-02-28 09:58] caitken-com commented on #476
I’m not sure what you’re trying to achieve, but all three of my points _are_ the solution.
Disabling pass through only stops duplicate states, not all messages.
Eg with pass through disabled:
1. Active is false, inject sets active to true, true is passed through.
2. Active is false, inject sets active to false, nothing is passed through.

Perhaps read our wiki on pass through: https://nrchkb.githu

[2022-02-28 10:42] caitken-com commented on #476
If you still have both outputs wired up, then that is where you’re getting duplicate messages. Because you’re using it as _not_ intended. Browse the wiki examples for correct usage.

[2022-02-28 12:47] caitken-com commented on #476
Wiki has been updated with info of which output to use:
https://nrchkb.github.io/wiki/nodes/output-messages/

[2022-02-28 13:05] GogoVega commented on #476
1. Do not wire the two outputs, use the top one (the bottom one is used for specific cases) **but in no case both**.
2. If you are using `Wait for setup` you must deploy **full** in order to initialize the setup.
3. Your error indicates that the message received does not contain the correct characteristic (probably because of the reason above)

[2022-02-28 19:33] lilyball commented on #476
@caitken-com Thank you for updating the wiki, that is helpful info, though I might also suggest fixing the passthrough documentation that references Home.app, as that makes it sound like third-party HomeKit apps or HomeKit automations won't have `hap.session` when they will. It should instead just say this is present when the message comes from HomeKit. However, this still is not Passthrough-relat

[2022-02-28 20:40] lilyball opened #477 "[Bug]: Every restart/redeploy of the config node advertises a new DNS-SD record without removing the old"
### NRCHKB Plugin Version

1.4.3

### Node JS Version

v14.19.0

### NPM Version

6.14.16

### Node-RED Version

2.2.0

### Operating System

Raspberry pi Buster

### What happened?

Every time I either deploy Full or Restart Flows, once the plugin has finished reinitializing (i.e. after a few seconds) a brand new DNS-SD record is advertised for the bridge without removing the old record. The reco

[2022-03-01 03:31] lilyball commented on #477
After rebooting the entire nodered service, this problem isn't reproducing. I expect it will occur again later though. I also wonder if there's any connection between this and my sometimes-recurring issue in the past of service nodes getting duplicate messages on a partial deploy, e.g. maybe something is leaking there and that's holding onto the dns-sd service somehow. Although when this problem w

[2022-03-01 14:54] Shaquu commented on #477
Foremost, as far as I know any of the currently existing advertiser cannot be called best or perfect.

Regarding zombie records, we have a possibility to set custom mDNS configuration in bridge.
Maybe try fiddling with that?

[2022-03-02 06:48] lilyball commented on #477
I did not say perfect. but it is the best (of the two options). The `bonjour-hap` advertiser does not conform to the RFCs and does not pass Apple's HomeKit conformance tests. The `ciao` advertiser was written specifically to replace `bonjour-hap` and both conforms to the RFCs and claims to pass Apple's HomeKit conformance tests.

I could try fiddling with that, but I'd rather not do so without a g

[2022-03-04 07:47] S474N opened #478 "[Help needed]: Advanced Garage door setup"
### Your Current NRCHKB Plugin Version

1.4.3

### Operating System

Raspbian 11 64bit, Docker

### How can we help?

Have problem with `Advanced Garage door setup`

https://github.com/NRCHKB/node-red-contrib-homekit-bridged/wiki/Garage-Door

Door opening works perfectly, but have problem with closing. Everytime swich to "Opening" state.

I think, that "problem" will be with two MQTT nodes on the

[2022-03-04 11:50] S474N commented on #478
@ptath you are author?

[2022-03-04 12:04] ptath commented on #478
my hardware setup changed, here is current one (works perfect)

[code]

btw

![156721073-f81a20a3-509a-437e-8d26-8ee7192479ee](https://user-images.githubusercontent.com/397799/156760347-54ce35ea-fab4-431e-b2e8-1f06bdeca70f.png)

[2022-03-04 12:22] S474N commented on #478
@ptath : so I don't have wireboard HW, can you show me msg.payloads from them?

So there must be also two magnetic sensors, right? I have magnets on wall, not on door.

[2022-03-04 12:38] ptath commented on #478
example WB payload

```{"/devices/wb-gpio/controls/EXT1_IN13":"0","/devices/wb-gpio/controls/EXT1_IN14":"1"}```

[code]

I'm using internal sensors from gate motor connected to WB hardware but there's no difference

[2022-03-04 12:39] ptath commented on #478
"обработка" node

[code]

[2022-03-04 12:44] S474N commented on #478
So both must be together? Because it doesn't work for me, if sensors are individually:
![image](https://user-images.githubusercontent.com/16512337/156765702-c37f40ee-9655-4212-81ae-ed0358f36434.png)

And what is at bottom and at right (wireboard devices)?

[2022-03-04 13:35] S474N commented on #478
So, used `join` node and it works perfectly.

But have two questions:
1 - looking for idea for initialize
2 - for what are two right outputs?

![image](https://user-images.githubusercontent.com/16512337/156772854-696204f5-82e8-4164-8609-2307c0f0af70.png)

[2022-03-09 12:25] houser42 commented on #334
Hello!

A year later, just a message to say thanks again and that this still works pretty well!
A few comments  as I know quite a bit more about Node Red a year later:

1.
All settings in the node names and room settings must be set correctly _before_ you add the nodes to Homekit,
as they will be reset to those settings each time you enable and disable the flow.

2.
When enabling and disabling a f

[2022-03-11 13:39] houser42 commented on #389
Hello,
Today I came across [this](https://www.thinka.eu/faq/how-do-i-configure-a-energy-monitor) link
which appears to be using a HK Service called "Energy Monitor":
"Thinka uses an undocumented feature to actually show Watt, kWh and so on in Eve"
I am wondering if it could be added to NRCHKB?
It looks like a possible candidate for a decent start to try and get energy consumption into Home Kit via

[2022-03-11 14:33] Shaquu commented on #389
Custom Characteristic is already added.

https://nrchkb.github.io/wiki/discover-more/experimental/

[2022-03-11 15:12] houser42 commented on #389
@Shaquu wrote:

Excellent. Will have a look. Many thanks!

[2022-03-20 08:16] ralphwetzel commented on #392
What's the schedule to move this into the standard ... perhaps (initially) as an alternative node?

[2022-03-20 15:33] sjorge commented on #459
I think we might be able to close it.

If I use a bridge with only services that have `wait for setup` enable it works, once you mix in a single services that does not have it enabled it breaks again.

If this is by design (I think it might be) we can close this, although perhaps that should be more clearly documented.

[2022-03-27 12:12] sjorge commented on #459
OK so I figured it out and there may be some room for improvement.
- you can't mix `wait for setup` and normal services on the same bridge
- having one service get the setup data a bit later seems to have it end up as a new service*

So the thing seems to be once a service is published, the other services waiting for setup are 'forgotten' and once they do get there setup payload they appear as a n

[2022-03-31 19:04] crxporter opened #479 "[Feature]: Add log level to bridge/accessory"
### Your Current NRCHKB Plugin Version

any

### Operating System

any

### What is your idea?

The idea is to put a logging level per bridge or accessory. This would replace the `DEBUG=` startup command and allow suppressing the "unsupported characteristic" warnings [found here](https://github.com/NRCHKB/node-red-contrib-homekit-bridged/blob/5f9855f6310c71b337286244b12ad1429f93a863/src/lib/utils/

[2022-04-03 12:49] Shaquu commented on #468
@aes-alienrip can you share you flow?

[2022-04-06 08:34] #478 closed

[2022-04-16 18:40] sjorge opened #482 "[Bug]: `wait for setup` devices forget devices that are published late"
### NRCHKB Plugin Version

1.5.0-dev.2

### Node JS Version

v16.14.2

### NPM Version

8.5.0

### Node-RED Version

2.1.3

### Operating System

OmniOS

### What happened?

All my devices have `wait for setup`, sometimes one of my devices would appear as a new device for homekit.

It took a while to track down while, occasionally one or two devices would get there setup payload published a bit la

[2022-04-16 18:48] #459 closed

[2022-05-10 11:28] houser42 opened #484 "[Help needed]: Can a NRCHKB thermostat report active as state?"
The question is the title:
Can a NRCHKB thermostat  report its state as a payload ? I would very much like that  state for automations if at all possible.
As far as I can tell it currently only reports `Current Heating Cooling State: 0,1,2` on the output when heat is requested or off. Which is not exactly what I need.
What I want is the equivalent of the orange dot in the Home app to tell us if th

[2022-05-10 12:28] TheNON75 commented on #484
Hi @houser42,

Which orange dot do you mean?
The on in the upper left corner when there is a heating reported by the device to the NRCHKB node?

That dot is orange if you set the Thermostate in home app to heat (target state) and the physical device reports back it is heating (current state).

#But, even if the Thermostate in home app if turned off can happen the physical device is actively heatin

[2022-05-10 14:10] TheNON75 commented on #484
Sorry, as said above the thermostat sends only the TargetHeatingCoolingState
This represents off, heat, cool and auto modes. This is expected to be sent to your thermostat to take the necessary state change.
If it cannot handle that directly, you have to set up a function or change node yourself to produce the needed payload

The current state shall come from the thermostat back to NRCHKB node to

[2022-06-07 02:54] Jacksonbm1 opened #485 "[Bug]: BatteryLevel is not displaying properly"
### NRCHKB Plugin Version

1.4.3

### Node JS Version

v14.17.1

### NPM Version

8.3.2

### Node-RED Version

v1.3.1

### Operating System

Raspbian

### What happened?

Basically, I've added a battery service and it's displaying as a tile that's not supported (I can click on it and see what the values are, but it doesn't work as you'd expect). I would expect to see the a sensor value, but instea

[2022-06-07 03:05] caitken-com commented on #485
Hi, @Jacksonbm1.
Battery service can **only** be used as a child service to another service.

[2022-06-07 03:05] #485 closed

[2022-06-07 03:06] Jacksonbm1 commented on #485
I also just noticed that the indicator in the "expected" image is actually a "low battery" indicator. Not intuitive, but I understand why it's happening. Thank you

[2022-06-07 08:29] TheNON75 commented on #485
Without any jokes: whether it is good or not to have a battery working properly as child service only, this is by design made by Apple. In case you would like to have it differently, you can try to write them (and possibly join a group of thousands of users demanding the same) and request a change to it.
While fully understanding that a standalone battery does make sense these days, we cannot chan

[2022-06-07 14:07] Jacksonbm1 commented on #485
Yeah I understand. That wasn't directed at you, but more a general thought.

[2022-06-20 14:46] Ethanwain opened #486 "[Help needed]: How to active REWIND and FAST_FORWARD control on Television service"
### Your Current NRCHKB Plugin Version

1.4.3

### Operating System

homeassistant
###

Hi
I'm checking the TV service by WIKI has support fast forward and rewind options
{"RemoteKey":0} REWIND
{"RemoteKey":1} FAST_FORWARD
{"RemoteKey":2} NEXT_TRACK
{"RemoteKey":3} PREVIOUS_TRACK
I want to know how to send them, I can't find the buttons in remote.app

[2022-06-20 15:12] GogoVega commented on #486
Hi, to find the **buttons**, you have to go to `Remote.app` in the `Control Center`.

![IMG_2985](https://user-images.githubusercontent.com/92022724/174632094-7f124be4-9f88-4956-8bad-a3c545bc7021.jpeg)

[2022-06-20 15:23] Ethanwain commented on #486
I mean how to make remote.app show fast forward button

[2022-06-20 23:32] caitken-com commented on #486
I can’t say for sure as I’m not using the Remote.app myself. But have you tried using the trackpad’s left/right edges as you would on a real apple remote?
![5A3D58AE-613D-4C9B-A911-6DE758962A69](https://user-images.githubusercontent.com/40314295/174688792-c5b25afc-a12a-48f6-bc43-ff5e239f2987.jpeg)

[2022-06-21 01:28] crxporter commented on #486
The "real" one kicks over to show a dedicated row of `rewind | pause | fast forward` buttons. All the times I've tried it from nrchkb have failed. I haven't seen anyone accomplish this. I will check one last time if anyone's done it...

[2022-06-21 01:34] crxporter commented on #486
I think it's not possible - those controls have to do with AirPlay which we don't have.

Reference:
https://github.com/homebridge/HAP-NodeJS/issues/809

[2022-06-21 04:11] Ethanwain commented on #486
Maybe this can be achieved, but it's complicated
https://github.com/merdok/homebridge-webos-tv

[2022-06-21 04:16] Ethanwain commented on #486
![5b645bd451b8d9111501c8b1c583bba](https://user-images.githubusercontent.com/811402/174714911-8b292b0e-e12f-4f2f-957b-8224607356c2.jpg)
only this😂

[2022-06-21 07:34] houser42 commented on #484
Just wanted to add that this is possible in thermostat also, using `"TargetHeatingCoolingState"`
as the state, rather than `"CurrentHeatingCoolingState"`
I guess this thread can be closed AFAIK. Many thanks!

[2022-06-21 07:34] #484 closed

[2022-06-21 08:16] TheNON75 commented on #484
"target" something is always what you want to achieve. This should be then sent to the accessory and the accessory is expected to report back its "current" something based on which homekit will calculate a kind of "in progress" status, like:
- thermostat: heating to/cooling to etc
- doors/shaders: opening/closing etc

glad it works

[2022-06-21 08:25] houser42 commented on #484
Thanks. Yes, this was a tad counter-intuitive to me for my needs.
But my tests and in my context the "current" does not do what I want but the "target" does, as I
want HK to report to NR not only that the thermostat is heating/cooling, but actually when it is inactive.
Yes, happy it is working also..;)

[2022-06-21 15:37] crxporter commented on #486
I've just done some digging in this repo. It appears they're just adding standard on/off switches to work as "buttons". Each "button press" turns the switch "on" for 20 milliseconds then the plugin turns it back off. I see no evidence that they've got media control working on the control center remote. They have built it as extra on/off buttons in the home app.

So I stick with my previous stateme

[2022-07-11 13:44] lurendrejer opened #487 "CameraControl service produces buggy ffmpeg command line on Windows"
Hi.

When leaving videofilter empty the commandline contains a pair of ""'s, which makes ffmpeg fail with "no such output file" - The two ""'s are found right after '-tune zerolatancy'

If i remove the two ""'s and rerun the command ffmpeg works more or less as intended.
It still fails with "max bitrate possibly too small or try trellis with large lmax or increase qmax" but i guess the might be do

[2022-07-11 14:37] TheNON75 commented on #487
Hi,

Can you pls check and make sure there is no space left in the "video filter"?

Are you running nodered native or docker?

[2022-07-11 14:47] lurendrejer commented on #487
DOH!

Thank you - i've been fiddling with this for far too long now.

Sorry for the wasting your time! - Closing

[2022-07-11 14:47] #487 closed

[2022-07-11 15:19] TheNON75 commented on #487
Welcome, I am glad it is sorted out

Feel free to join us on our Discord too

[2022-07-19 12:42] OwlBawl opened #488 "[How to]: Security System - change supported Alarm states"
### Your Current NRCHKB Plugin Version

1.4.3

### Operating System

Pi Bullseye docker

### What is your idea?

Different security systems have different Alarm States support.
Default in Node are:

Stay Arm - 0
Away Arm - 1
Night Arm - 2
Disarmed -  3

For example, Ajax Systems support only  3 of them

Away Arm - 1
Night Arm - 2
Disarmed -  3

and some alarms support just 2 states: armed / disarm

[2022-07-19 13:36] caitken-com commented on #488
Hi @OwlBawl,
look at the example ‘Security system with no “night” mode’ on this page: https://nrchkb.github.io/wiki/nodes/characteristics/#security-system-with-no-night-mode/

[2022-07-19 21:14] OwlBawl commented on #488
Thanks a lot, googled a lot but didn't find that. Maybe a little wiki link would help others )

[2022-07-19 22:04] crxporter commented on #488
Yeah it would be nice to add this in the security system wiki page! Feel free to make a PR once you've learned how to do it!

mom glad you're getting it figured out

[2022-07-19 22:20] OwlBawl commented on #488
Feel free to approve the Wiki edit. Make your mom happy too ;)

[2022-07-24 12:12] #488 closed

[2022-07-31 09:35] houser42 opened #489 "dupe, apologies."
dupe, apologies.

[2022-07-31 09:49] houser42 opened #490 "[Minor Bug]: NR server 3.0.1 requires a NR deploy for the NRCHKB to become active in Home Kit again after reboot"
### NRCHKB Plugin Version

1.4.3

### Node JS Version

16.16.0

### NPM Version

8.11.0

### Node-RED Version

3.0.1

### Operating System

Ubuntu 20.04

### What happened?

Hello,

Just noticed that at least on my two systems, both Ubuntu 20.04, NR 3.0.1 installed with the Pi-script
the NR servers requires a NR deploy for the NRCHKB to become active in Home Kit again.
No biggie once you are aware

[2022-07-31 09:50] #489 closed

[2022-07-31 09:50] Shaquu commented on #490
Hi, thanks for report. We need to check how the flow looks like before and after deploy on 3.
Also, any logs before deploy? Could be error printed.

[2022-07-31 10:00] houser42 commented on #490
I see no difference before and after deploy in NR. No errors in the log and all flows appear to work in NR, they are just not published to NRCHKB but are published instantly after redeploy.

[2022-07-31 10:13] houser42 opened #491 "[Possible early Bug]: in iOS 16 beta 4 thermostat creates a humidity accessory regardless of one being connected."
### NRCHKB Plugin Version

1.4.3

### Node JS Version

16.16.0

### NPM Version

8.11.0

### Node-RED Version

3.0.1

### Operating System

Ubuntu 20.04

### What happened?

When a thermostat is created a humidity accessory is created even if there is no humidity accessory in Node Red.

### How to reproduce?

Create a thermometer in NR. publish the thermometer to HK.

### Expected behavior:

There

[2022-08-05 20:36] patrickharris commented on #491
I am also seeing this behaviour.

[2022-08-06 13:04] Typ1er commented on #389
With the custom characteristics you can still add your own units?

[2022-08-08 18:21] LubosKovar commented on #476
Still problem does not fixed? I confirm exact same behavior as @lilyball describe. Problem persist in new version NR 3.0.2 too.

[2022-08-09 12:10] crxporter commented on #491
Let's watch this one. I think your guess that it might need some characteristic property to explicitly say "there is no humidity sensor on this" - I could test on my dev iOS 16 setup later today and see if I can replicate then fiddle with some char. props...

[2022-08-10 08:35] houser42 commented on #389
If anybody successfully gets things like energy consumption (watts, battery state of charge etc)
into the iOS 16 Apple Home app, please share.
I could get it to work partially in the Eve app but not the Apple Home app.

[2022-08-10 13:39] crxporter commented on #491
Alright - I've done some testing. I think this will go away with a future beta - especially if we report it to apple as feedback.

I've got 4 screenshots to share today. 2 will show official homekit thermostats (ecobee) and 2 will show nrchkb thermostats.

Ecobee:
![IMG_0032](https://user-images.githubusercontent.com/38265886/183915242-c7631e72-16e6-422f-909d-482e777a7140.jpg)
![IMG_0034](https://

[2022-08-10 14:39] houser42 commented on #491
Good work. Yes, will report to Apple also.

[2022-08-12 20:22] Supergiovane commented on #490
Hi
I’ve also this issue but… mine works after reboot, but stops working after about 10 minutes and i need to full deploy. Nodered 3.0.2

[2022-08-13 22:00] Tyraenor commented on #53
Hi guys,

still no persist option? Will it happen? This is really a dealbreaker, as it is not possible to use a switch for state exchange, as it will be reset after a deploy.

[2022-08-13 22:46] Cyberbeni commented on #53
I would also like to have this. I'm currently migrating my window coverings from the homebridge broadlink plugin.

[2022-08-14 17:38] Cyberbeni opened #493 "[Feature]: Automatically manage PositionState for Window Covering"
### Your Current NRCHKB Plugin Version

1.4.3

### Operating System

Official Raspberry Pi Homebridge image

### What is your idea?

I am bringing over my window covering handling to NodeRED. I have just finished my MVP (Automatically updating current position one by one based on a set open duration, going towards the target, issuing open/stop/close commands to the broadlink plugin as needed) and

[2022-08-14 17:43] Shaquu commented on #493
Hi, pretty sure we will not do anything automatically the way you ask, sorry.
I suggest to write some function nodes yourself :)

[2022-08-14 17:44] Shaquu commented on #53
@Tyraenor more time required :) Things got complicated in life

[2022-08-14 19:55] crxporter commented on #493
The documents for window covering [here](https://nrchkb.github.io/wiki/service/window-covering/)  explain that if target does not equal current, you'll see a spinning icon.

My current window cover hardware sends a message when it's done moving - I use this to stop the "opening" or "closing". My previous hardware didn't have this so I manually sent the current position after a certain time (I thin

[2022-08-15 17:50] #493 closed

[2022-08-16 11:52] Tyraenor commented on #469
I have this issue too, if the service and status node are on different flows. Is there any chance to fix that? As it is really bad if one wants to use the status node in a different flow. Otherwise everything needs to be on one flow.

[2022-08-30 13:22] stockfisch commented on #302
Hi,
sorry for bringing up this old topic.
Is there a way to suppress/ disable the notification to my mobile devices?
Background: I capture the ring button press from my Nuki Opener, and want to play a chime on my HomePods. I already get a notification from the Nuki Bridge, so I don't want additional notification from HomeKit.

Thanks Dirk

[2022-08-30 13:36] GogoVega commented on #302
Hi,
Have you tried disabling them from Home.app?
In Home settings => Camera and doorbells => Doorbell notification.

[2022-08-30 14:37] stockfisch commented on #302
Hi GogoVega
Thanks for your quick reply.

Yes I've tried disabling it, but it does not appear in the notification settings.

Best regards, Dirk

[2022-08-31 21:02] TheNON75 opened #496 "allChars: properties have spaces in names"
### NRCHKB Plugin Version

1.4.3

### Node JS Version

16

### NPM Version

Official docker

### Node-RED Version

2.x

### Operating System

Official docker

### What happened?

Periwrty names in allChars have spaces between the words unlike the properties used in the payload or accessory configuration.
Spaces should be removed to stay consistent

### How to reproduce?

Check allChars in any msg

[2022-09-02 17:32] Shaquu commented on #490
I just tested and it works for me.

Can you please try on latest node-red and using our dev package?

[2022-09-02 19:40] houser42 commented on #490
Upgraded to NR 3.2 here now on 3 installs. It seems the issue is gone now with  latest main NRCHKB 1.4.3.
NRCHKB nodes now deploy after reboot without issues.

[2022-09-11 13:23] houser42 opened #497 "How to change thermostat circle color?"
### NRCHKB Plugin Version

1.4.3

### Node JS Version

16.16.0

### NPM Version

8.11.0

### Node-RED Version

3.0.2

### Operating System

Ubuntu 20.04

### What happened?

Just a minor aesthetic colour issue.
I assume the thermostat on button in the Home app should be blue when cooling and amber when heating.
like the colour of numbers on the icon are for a thermostat on the main page in the app

[2022-09-11 15:25] crxporter commented on #497
Some questions:

Did this work on iOS 15?

Have you made any changes apart from the iOS update?

Are you on iOS beta or release? Beta should expect things like this to happen.

If it worked in 15 and not 16, wait on the final iOS release and test again. Or report to apple if you're on final release.

If it's never worked, we can try troubleshooting. I can test tomorrow with my official thermostats

[2022-09-11 17:39] houser42 commented on #497
iOS 15 was actually the other way around. Correct amber on heating thermostat, but amber button on freezing also.
No other changes than upgrading to iOS16.
I am on the iOS 16 RC, as it is being released tomorrow. Likely the same version.
Again, no bifggie, it is just aesthetics, but it would be nice to have blue for freezing and amber for heating, same on numbers as on button. Many thanks.

[2022-09-11 17:44] Shaquu commented on #497
Pretty sure it is not our fault 😅 We do not manage colours but who knows...

[2022-09-11 22:24] caitken-com commented on #497
@houser42 For future reference, we do not have any control on how the Home.app works, especially aesthetics. If NRCHKB somehow messed up the Thermostat, it’s behaviour would be wrong - not just colours.

[2022-09-12 02:24] crxporter commented on #497
This comment makes me think we need to look deeper at your setup. Are you on discord with us? Let's dig into it and work on which thing you've missed when sending to HomeKit nodes. I don't use nrchkb thermostat or heater/cooler - but these colors worked as expected every time I've tested it.

[2022-09-12 04:35] houser42 commented on #497
Thanks for replies. The actual functionality is 100% and spot on. I have reported this issue to Apple too.
I can live with this minor colour snag for now and see if it is an Apple bug that gets fixed.
Will contact you guys on discord next time I am working on this.
Many thanks, appreciated!

[2022-09-13 12:11] lougreenwood opened #499 "[Bug]: Child switches don't display their label in iOS 16"
### NRCHKB Plugin Version

1.4.3

### Node JS Version

16.0.0.0

### NPM Version

6.0.0.0

### Node-RED Version

3.0.2

### Operating System

Home assistant

### What happened?

I have a service which is of the type "service label", this is a parent with many child services of type `switch`. I use this as a kind of "control panel" in homekit

Since upgrading to iOS16 none of the child switches dis

[2022-09-13 13:03] Shaquu commented on #499
Interesting but rather issue with HomeKit and not us.

We could check linked service Service Label on all switches?
@crxporter

[2022-09-13 15:52] crxporter commented on #499
I've just done a test on a new bridge and added to the Home app. Looks like it's happening still in this situation and we will need to manually rename the second (third, forth, etc) switch on linked services.

Seems like a bug for apple to know about. I know the whole "fully reworked homekit world" is supposed to be later this year, hopefully it'll be fixed with that?

We noticed this bug at my ho

[2022-09-16 07:57] lougreenwood commented on #499
Thanks @crxporter good to know this solution exists, although I have hundreds of switches which I use as an API between HomeKit and node red, so I still need to report to Apple and hope they fix it.

Also, can confirm the bug remains in 16.1 beta 👍

[2022-09-16 08:09] lougreenwood commented on #388
@Shaquu Do you know when the https://github.com/homebridge/HAP-NodeJS/pull/902 PR might be merged, I'm also seeing my logs flooded with these `characteristic was supplied an illegal value` errors were the min value is above some initialisation value.

Thanks!

[2022-09-16 08:36] Shaquu commented on #388
Possibly once I rewrite the PR :) I will do my best to do so soon

[2022-09-16 08:48] lougreenwood commented on #388
Nonworrors and no pressure @Shaquu - it's open source ☺️

[2022-09-16 14:10] crxporter commented on #499
Excellent plan. Lame it's still there in 16.1 - I think that's going to be the matter update.

But with all the changes coming (matter) maybe they'll be responsive to the bug report? Who knows.

[2022-09-20 16:35] Shaquu commented on #468
Closing as there was no response from the author for a while.

[2022-09-20 16:35] #468 closed

[2022-09-20 16:36] Shaquu commented on #449
@TheNON75 is this still relative?
I think we could add a warning, but anything more would be too much in my opinion.

[2022-09-20 16:37] Shaquu commented on #434
@Barabba11 I do not know of any good tools. You can try Discover app on iOS and DEBUG mode for NRCHKB/HapNodeJS

[2022-09-20 16:37] #434 closed

[2022-09-20 18:23] TheNON75 commented on #449
warning should be sufficient :)

[2022-10-01 20:16] AarneAarebye opened #502 "[Bug]: IOS 16: cannot add new bridge: "Unable to Add Accessory! Accessory is out of compliance.""
### NRCHKB Plugin Version

1.4.3

### Node JS Version

v14.20.1

### NPM Version

6.14.17

### Node-RED Version

V2.2.2

### Operating System

Raspberry bullseye

### What happened?

I set up a new bridge. The bridge is been displayed on my iphone when adding new accessaries. I do enter the code and then the message appears (see screenshot)

### How to reproduce?

1) create new bridge in node-red

[2022-10-01 20:19] Shaquu commented on #502
Hi, @AarneAarebye can you share the flow?

[2022-10-01 21:33] AarneAarebye commented on #502
the Flow meanwhile changed. It is for a sonoff ifan03
[
    {
        "id": "b30538db.37a158",
        "type": "tab",
        "label": "Dining Room",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9a9f47fa038941c0",
        "type": "group",
        "z": "b30538db.37a158",
        "name": "Dining Room Fan & Light",
        "style": {
            "label": true
        },

[2022-10-01 21:39] AarneAarebye commented on #502
Instead of "ServiceLabel" I had "AccessoryInformation" in the flow. Both, fan and bulb were linked to it. Within the "AccessoryInformation" Service Node I created the new bridge. Meanwhile I created several ones with the same error message. Then I did change the "AccessoryInformation" serive node to a "ServiceLabel" on and unlinked the Fan and Light node from it. They act now independent but with

[2022-10-01 21:41] AarneAarebye commented on #502
With this new flow including a new bridge it is working meanwhile and the error does not appeared anymore.

[2022-10-01 21:41] AarneAarebye commented on #502
But, I do not want to try again to create a new bridge for the moment. I'm happy that it works now.

[2022-10-02 08:28] AarneAarebye commented on #502
This morning I added two more hubs in another flow and they worked fine. Do not know what caused the behaviour. So, you may close the case.

[2022-10-02 22:11] #502 closed

[2022-10-07 14:59] AarneAarebye opened #503 "[Bug]: Service Node: When change from parent node with bridge to linked, bridge information is still available"
### NRCHKB Plugin Version

1.4.3

### Node JS Version

v14.20.1

### NPM Version

6.14.17

### Node-RED Version

V2.2.2

### Operating System

Raspberry bullseye

### What happened?

A service node is been listed under a bridge's node list but it is not anymore.

### How to reproduce?

1) Create two service nodes:
- Node 1: Parent with bridge "Home" (in my flow)
- Node 2: Parent with bridge "Home"

[2022-10-07 15:10] AarneAarebye commented on #503
[
    {
        "id": "73a29924.8eb3e8",
        "type": "homekit-service",
        "z": "e1e79dd1.562e7",
        "g": "5a92ccd26b80c76b",
        **"isParent": false,**
        "hostType": "0",
        **"bridge": "ddb3acf.8adc75",**
        "accessoryId": "",
        "parentService": "3d0c20e6.69d42",
        "name": "Cabinet Door",
        "serviceName": "Lightbulb",
        "topic": "",

[2022-10-07 15:12] AarneAarebye commented on #503
<img width="350" alt="image" src="https://user-images.githubusercontent.com/25765996/194587120-edea9c9a-670d-4498-9ee2-d50c6279ab2c.png">

[2022-10-17 08:24] Tazintosh commented on #44
Good morning everyone.
I'm reopening this topic to grab some help if possible.

Here's the situation:

- I've recently upgraded my whole network with UniFi devices. I've also rethought my LAN and rather than one unique network, I now have 4 (Management for UniFi devices, Local (my main), Services (all IoT devices, including HomeKit hubs) and Guest.
- I own a server (Mac mini M1) which runs Node-RE

[2022-10-18 19:39] Tazintosh opened #504 "[Help needed]: bind EADDRINUSE <someIP>:5353 on macOS"
### Your Current NRCHKB Plugin Version

1.4.3

### Operating System

macOS Big Sur

### How can we help?

Hello everyone.

Here's the situation:

When setting up the custom mDNS fields of NRCHKB, Node-RED complains about **Error: bind EADDRINUSE 10.80.10.2:5353**. I guess the reason is that macOS is running is own instance of mDns. Anyway to workaround this?

Here are more informations about the s

[2022-10-20 09:24] Shaquu commented on #504
First of all, are you using any different apps for HomeKit on the same server?

[2022-10-20 09:27] Tazintosh commented on #504
Hi @Shaquu and thanks for the answer.
No, I'm not using any other apps for HomeKit.
The server is running standard macOS Big Sur + Node-RED + NRCHKB. It's also running Mosquito, a webserver, a database, etc., but nothing related to HomeKit directly as far as I know.

[2022-10-20 10:22] Shaquu commented on #504
It will be tough since I do not know many people using vlan.

You could try to look for solution for HapNodeJS or homebridge.
If it works there it should also work for us (both we and homebridge are based on HapNodeJS).

Also, have a look here
https://medium.com/@gepeto42/using-homekit-devices-across-vlans-and-subnets-aa5ae1024939

[2022-10-31 09:14] MicheleSilla810 opened #505 "[Bug]: High and increasing CPU usage over time"
### NRCHKB Plugin Version

1.4.3

### Node JS Version

3.0.2 Node-RED Container

### NPM Version

3.0.2 Node-RED Container

### Node-RED Version

3.0.2

### Operating System

Docker

### What happened?

The CPU usage of Node-RED is super high, and incresaing day by day. It happened 2 times that it reached a point where Node-RED was running 5 seconds late on every message, and CPU usage was pinned

[2022-10-31 10:15] Shaquu commented on #505
Hey, behaviour is unknown to me. Running node for years and have never seen it.

Can you tell me more about the setup?

[2022-10-31 11:32] Shaquu commented on #505
What about machine specs?

[2022-10-31 12:15] MicheleSilla810 commented on #505
Pi 4B 4GB, running Node-RED under docker

[2022-10-31 13:23] Shaquu commented on #505
Running on docker
![image](https://user-images.githubusercontent.com/2881159/199017827-1c3200b0-7336-43bd-b0f9-d3e7039db91c.jpeg)

Running as a process
![image](https://user-images.githubusercontent.com/2881159/199017921-33d5f67e-f55e-4c09-89a5-4cf182da5222.jpeg)

[2022-10-31 13:28] MicheleSilla810 commented on #505
HK enabled
![image](https://user-images.githubusercontent.com/46810028/199018710-d8f21a44-5bda-4833-ae7d-f2916ad279e4.png)

HK disabled
![image](https://user-images.githubusercontent.com/46810028/199018961-fefdb129-5571-4535-85fb-64a0d8cbdbb9.png)

don't really know what else to say

[2022-10-31 23:13] caitken-com commented on #505
To me sounds like an infinity loop.
Do you have a backup before you added nrchkb to your setup?
If so maybe restore that and then try some of our example flows and see if it behaves the same?

[2022-11-01 07:47] MicheleSilla810 commented on #505
no i can guarantee that is not the case, because as i said, i manually checked every input and output of the nrchkb nodes, and there is nothing wrong, no spam or looping messages.
also as i said, i’ve been running this setup without any modifications for 1.5 years. this is a new thing after i updated nrchkb to 1.4.3 and Node-RED to 3.0.2. so i think it’s either one, or the other, or the combinatio

[2022-11-01 23:24] caitken-com commented on #505
Did you do a clean install of both NR & nrchkb?
If not, that would be my next step to make sure some old config or cache isn’t causing issues.
How long did you need to run NR to see the cpu/ram spike?

I’m running same the versions but not in docker, on a pi4.
![CB541255-776E-4B92-9AF0-0B8464859093](https://user-images.githubusercontent.com/40314295/199360424-28899a94-72fc-4a4e-9e5a-ea43ad0cd6d9.j

[2022-11-02 09:47] MicheleSilla810 commented on #505
`
[
    {
        "id": "bd3b068d9f32d7cc",
        "type": "homekit-service",
        "z": "d9a7a19c.5d00e",
        "isParent": true,
        "hostType": "0",
        "bridge": "a746d8b451ae08ea",
        "accessoryId": "",
        "parentService": "",
        "name": "jhjhkj",
        "serviceName": "AirQualitySensor",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHK

[2022-11-04 00:10] caitken-com commented on #505
NR 3.0.2
NRCHKB: 1.4.3
But I don’t run in docker. It’s a Pi4, has 1 job to run NR 🤷‍♂️

[2022-11-05 10:59] Tazintosh opened #506 "[Help needed]: Set a device as unreachable"
### Your Current NRCHKB Plugin Version

1.4.3

### Operating System

macOS

### How can we help?

Hi folks,

I'm using a Shelly Plus 1 to control my old gaz heater and turn it into an HomeKit compatible device.
For this, I've created a "thermostat" in NRCHKB which current temperature is feed by my Xiami Air Purifier (all using Node-RED and NRCHKB). So far, so good.
However, I've installed a physic

[2022-11-12 18:35] MicheleSilla810 commented on #505
little update
i completely re-did the setup, i also istalled raspberry pi os 64bit (i was on 32 bit before)
aaand, still the same exact issue.
still node-red 3.0.2, 8 days of runtime
![image](https://user-images.githubusercontent.com/46810028/201489441-4c5bce75-2925-4f57-8d4c-d6c2672aa125.png)
and still, if i disable nrchkb, the usage goes to absolute 0.

[2022-11-12 18:37] MicheleSilla810 commented on #505
here's a container restart
![image](https://user-images.githubusercontent.com/46810028/201489557-ef108aea-d798-4c03-9482-a4d1cb2f08c9.png)

[2022-11-12 20:18] #405 closed

[2022-11-20 15:21] Shaquu commented on #388
Should be resolved in #481

[2022-11-27 03:28] NickBorgers opened #507 "[Bug]: Homekit PIN saved to flows.json"
### NRCHKB Plugin Version

1.4.3

### Node JS Version

not relevant

### NPM Version

not relevant

### Node-RED Version

2.2.3

### Operating System

Docker

### What happened?

This node stores the token in a way that causes it to be written to `flows.json` instead of `flows_creds.json`. This is definitely exposing peoples' credentials because [I'm using the Projects feature to back up my flows

[2022-11-27 11:21] Shaquu commented on #507
@NickBorgers thanks for the report!

First of all, here is the new link for discord https://discord.gg/uvYac5u

Regarding the issue, is it related to the pin code? If yes, I believe the code despite being called security code from time to time is partially public. On official homekit accessories, you will find it on the sticker on the device itself. In the end, only one client can pair at once.

[2022-11-27 11:23] Shaquu commented on #507
Just wanted to clarify, I am open to improving security on our node ;) Just let's discuss the steps first so we can proceed!

[2022-11-27 16:59] NickBorgers commented on #507
I will confess ignorance on the security implications of the code. One distinction to make RE them being printed on accessories is that viewing the code would require physical access inside my home vs the Projects feature encourages me to make the PIN code public on the Internet.

If only one client can pair at once, this is probably not a big deal.

[If the PIN code is not security relevant, why

[2022-11-27 21:39] Shaquu commented on #507
It is basen on HomeKit documentation.

https://github.com/NRCHKB/node-red-contrib-homekit-bridged/blob/master/docs/HAP-Specification-Non-Commercial-Version.pdf

[2022-11-27 21:54] Cyberbeni commented on #496
This was a breaking change btw.

[2022-11-27 22:26] crxporter commented on #496
Yes - kind of was breaking but ...

We decided it was a bugfix for the `allChars` property which was new in 1.4. The reasoning for this is everywhere else we use the property names, they have spaces removed. Spaces should have been removed in `allChars` the whole time but we didn't catch it before releasing the `allChars` feature.

In internal discussions (shaquu and I)  decided this approach. Sor

[2022-11-27 22:26] #496 closed